In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# GWAS AD data (Rosmap)

## 1. Obtaining dictionary of AD GWAS associated genes and the variant names

In [ ]:
# I don't have these files anymore on the server
# But they are available on the mac

import os
import pandas as pd
import pickle

# Directory containing the files
directory = './gwas_genes_dict/'

# Initialize an empty dictionary to store the gene to variants mapping
gene_variants_dict = {}

# Iterate through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.txt'):
        filepath = os.path.join(directory, filename)
        # Read the file into a DataFrame
        df = pd.read_csv(filepath, sep='\t')
        
        # Iterate through each row in the DataFrame
        for index, row in df.iterrows():
            gene_id = row['Gene stable ID']
            variant_name = row['Variant name']
            
            # Add the variant to the list of variants for the gene in the dictionary
            if gene_id not in gene_variants_dict:
                gene_variants_dict[gene_id] = []
            gene_variants_dict[gene_id].append(variant_name)

# Save the dictionary to a pickle file
output_pickle_file = 'gene_variants_dict_AD.pkl'
# with open(output_pickle_file, 'wb') as f:
#     pickle.dump(gene_variants_dict, f)

print(f"Dictionary saved to {output_pickle_file}")

Dictionary saved to gene_variants_dict_AD.pkl

In [ ]:
gene_variants_dict

In [6]:
import pickle
with open('ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'wb') as f:
    pickle.dump(gene_variants_dict, f)

NameError: name 'gene_variants_dict' is not defined

In [12]:
# Calculate the number of keys in the dictionary
num_keys = len(gene_variants_dict)
print(f"Number of keys (gene IDs) in the dictionary: {num_keys}")

# Calculate the mean number of values (variants) per key in the dictionary
if num_keys > 0:
    mean_values = sum(len(variants) for variants in gene_variants_dict.values()) / num_keys
    print(f"Average number of variants per gene: {mean_values:.2f}")
else:
    print("The dictionary is empty.")

Number of keys (gene IDs) in the dictionary: 113
Average number of variants per gene: 46106.13

In [8]:
import pickle
with open('ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_variants_dict = pickle.load(f)

In [9]:
# Calculate the number of keys in the dictionary
num_keys = len(gene_variants_dict)
print(f"Number of keys (gene IDs) in the dictionary: {num_keys}")

# Calculate the mean number of values (variants) per key in the dictionary
if num_keys > 0:
    mean_values = sum(len(variants) for variants in gene_variants_dict.values()) / num_keys
    print(f"Average number of variants per gene: {mean_values:.2f}")
else:
    print("The dictionary is empty.")

Number of keys (gene IDs) in the dictionary: 113
Average number of variants per gene: 215.45

In [ ]:
# Filtering the dict to reduce number of snps

In [ ]:
# How many snps are the same as phenotype associated

import pickle

# Load the SNP list from the text file
snp_list_path = './all_snps_list_phenotype_associated.txt'
with open(snp_list_path, 'r') as file:
    snp_set = set(file.read().splitlines())

# Count how many SNPs in the dictionary are in the SNP list
matching_snps_count = 0
total_snps_count = 0

for variants in gene_variants_dict.values():
    for snp in variants:
        total_snps_count += 1
        if snp in snp_set:
            matching_snps_count += 1

print(f"Total SNPs in dictionary: {total_snps_count}")
print(f"Matching SNPs: {matching_snps_count}")
print(f"Percentage of Matching SNPs: {(matching_snps_count / total_snps_count * 100):.2f}%")

Total SNPs in dictionary: 5209993
Matching SNPs: 24346
Percentage of Matching SNPs: 0.47%

In [13]:
# How many snps are the same as phenotype associated

import pickle

# Load the SNP list from the text file
snp_list_path = './ad_shap_gwas/snps_list/all_snps_list_clinically_associated.txt'
with open(snp_list_path, 'r') as file:
    snp_set = set(file.read().splitlines())

# Count how many SNPs in the dictionary are in the SNP list
matching_snps_count = 0
total_snps_count = 0

for variants in gene_variants_dict.values():
    for snp in variants:
        total_snps_count += 1
        if snp in snp_set:
            matching_snps_count += 1

print(f"Total SNPs in dictionary: {total_snps_count}")
print(f"Matching SNPs: {matching_snps_count}")
print(f"Percentage of Matching SNPs: {(matching_snps_count / total_snps_count * 100):.2f}%")

Total SNPs in dictionary: 5209993
Matching SNPs: 1928
Percentage of Matching SNPs: 0.04%

In [14]:
import pickle

# Load the SNP list from the text file
snp_list_path = './ad_shap_gwas/snps_list/all_snps_list_clinically_associated.txt'
with open(snp_list_path, 'r') as file:
    snp_set = set(file.read().splitlines())

# Filter the dictionary to only include SNPs that are in the snp_set
filtered_dict = {}
for gene, variants in gene_variants_dict.items():
    filtered_snps = [snp for snp in variants if snp in snp_set]
    if filtered_snps:  # Only add gene if there are any matching SNPs
        filtered_dict[gene] = filtered_snps

# Save the filtered dictionary to a new pickle file
filtered_pickle_file = 'gene_variants_dict_AD_filt_clinical.pkl'
with open(filtered_pickle_file, 'wb') as f:
    pickle.dump(filtered_dict, f)

print(f"Filtered dictionary saved to {filtered_pickle_file}")

Filtered dictionary saved to gene_variants_dict_AD_filt_clinical.pkl

In [17]:
import pickle
with open('./ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    filtered_dict_phen = pickle.load(f)

In [3]:
import pickle
with open('./ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_clinical.pkl', 'rb') as f:
    filtered_dict = pickle.load(f)

In [12]:
# Calculate the number of keys in the dictionary
num_keys = len(filtered_dict)
print(f"Number of keys (gene IDs) in the dictionary: {num_keys}")

# Calculate the mean number of values (variants) per key in the dictionary
if num_keys > 0:
    mean_values = sum(len(variants) for variants in filtered_dict.values()) / num_keys
    print(f"Average number of variants per gene: {mean_values:.2f}")
else:
    print("The dictionary is empty.")

Number of keys (gene IDs) in the dictionary: 55
Average number of variants per gene: 35.05

In [19]:
# Flatten the lists of values in each dictionary and convert to sets
set1 = set(v for values in filtered_dict_phen.values() for v in values)
set2 = set(v for values in filtered_dict.values() for v in values)

# Calculate the intersection of the two sets
overlap = set1.intersection(set2)

# Print the results
print(f"Number of overlapping values: {len(overlap)}")

Number of overlapping values: 1876

In [16]:
filtered_dict

{'ENSG00000073969': ['rs2146247619', 'rs2146266663'],
 'ENSG00000103510': ['rs748699921',
  'rs2057483219',
  'rs2057538050',
  'rs2057538160',
  'rs2143966219',
  'rs2143966454',
  'rs2143985614'],
 'ENSG00000137845': ['rs483352912',
  'rs483352913',
  'rs483352914',
  'rs483352915',
  'rs483352916'],
 'ENSG00000198087': ['rs142643033',
  'rs267606710',
  'rs368795308',
  'rs545551160',
  'rs776297606',
  'rs1393955970',
  'rs1554181304',
  'rs1769050790'],
 'ENSG00000064687': ['rs189260652',
  'rs115536223',
  'rs538591288',
  'rs551118463',
  'rs547447016',
  'rs149949633',
  'rs200538373',
  'rs770510230',
  'rs779501556',
  'rs761115996',
  'rs777874744',
  'rs2144710743',
  'rs2144883649'],
 'ENSG00000081014': ['rs542940704',
  'rs141278078',
  'rs556450190',
  'rs569567659',
  'rs757657323',
  'rs760021635',
  'rs754944429',
  'rs773929706',
  'rs868844377',
  'rs1313275799',
  'rs1567269045',
  'rs1567230528',
  'rs1555456727',
  'rs1555462184',
  'rs2064899680',
  'rs2063801225',
  'rs2141164712',
  'rs2141164878',
  'rs2141147450',
  'rs2140861869',
  'rs2140862092',
  'rs2140878481',
  'rs2140934862',
  'rs2140934998'],
 'ENSG00000089280': ['rs544088874',
  'rs186547381',
  'rs121909667',
  'rs121909668',
  'rs121909669',
  'rs121909671',
  'rs387906627',
  'rs387906628',
  'rs387907274',
  'rs72550890',
  'rs267606831',
  'rs267606832',
  'rs267606833',
  'rs752076094',
  'rs764487847',
  'rs886041389',
  'rs886041390',
  'rs886041577',
  'rs886041776',
  'rs747579808',
  'rs1161032867',
  'rs1085308015',
  'rs1228194239',
  'rs1555509569',
  'rs1555509609',
  'rs1555509693',
  'rs1596908744',
  'rs1596912983',
  'rs1596914113',
  'rs1567479067',
  'rs2079347087',
  'rs2079350332',
  'rs2079351113',
  'rs2144138894',
  'rs2144140268',
  'rs2144142389'],
 'ENSG00000095970': ['rs2234252',
  'rs104893998',
  'rs104894001',
  'rs104894002',
  'rs121908402',
  'rs143332484',
  'rs144250872',
  'rs199910080',
  'rs142232675',
  'rs200392967',
  'rs201258663',
  'rs530314472',
  'rs386834140',
  'rs386834141',
  'rs386834142',
  'rs386834143',
  'rs386834144',
  'rs768621570',
  'rs1294860969',
  'rs1765488318',
  'rs2113877345',
  'rs2234252',
  'rs104893998',
  'rs104894001',
  'rs104894002',
  'rs121908402',
  'rs143332484',
  'rs144250872',
  'rs199910080',
  'rs142232675',
  'rs200392967',
  'rs201258663',
  'rs530314472',
  'rs386834140',
  'rs386834141',
  'rs386834142',
  'rs386834143',
  'rs386834144',
  'rs768621570',
  'rs1294860969',
  'rs1765488318',
  'rs2113877345'],
 'ENSG00000103671': ['rs200549601',
  'rs553667435',
  'rs113596176',
  'rs147303485',
  'rs869312827',
  'rs760447338',
  'rs748828135',
  'rs761865592',
  'rs769545692',
  'rs1446427502',
  'rs1566972371',
  'rs1596341256',
  'rs1891715888',
  'rs1900263561',
  'rs2140297426',
  'rs2140301381'],
 'ENSG00000114805': ['rs757653002', 'rs2108014903'],
 'ENSG00000142599': ['rs149900041',
  'rs745806637',
  'rs749071713',
  'rs759541634',
  'rs766951273',
  'rs751232315',
  'rs869312871',
  'rs878853011',
  'rs878853252',
  'rs878853270',
  'rs779300628',
  'rs897627996',
  'rs1057520747',
  'rs1057524139',
  'rs1064793252',
  'rs1064795726',
  'rs1233062866',
  'rs1306272176',
  'rs1321809020',
  'rs1557461427',
  'rs1557582259',
  'rs1557582271',
  'rs1557586047',
  'rs1553153669',
  'rs1553154130',
  'rs1553154132',
  'rs1553155581',
  'rs1553155778',
  'rs1641418583',
  'rs1641481122',
  'rs1641565884',
  'rs1646008860',
  'rs2124354095',
  'rs2124359087',
  'rs2124375440'],
 'ENSG00000156170': ['rs137853184',
  'rs201088736',
  'rs201732170',
  'rs552141388',
  'rs575462405',
  'rs749738738',
  'rs756507716',
  'rs758181982',
  'rs762093523',
  'rs762620949',
  'rs753873681',
  'rs768273248',
  'rs765915512',
  'rs868345341',
  'rs863223931',
  'rs863223932',
  'rs1179490149',
  'rs1057519084',
  'rs1057519085',
  'rs1057519086',
  'rs1085307635',
  'rs1224421127',
  'rs1284681229',
  'rs1463009913',
  'rs1554669910',
  'rs1830643251',
  'rs1829405389'],
 'ENSG00000159640': ['rs121912703',
  'rs121912704',
  'rs143507892',
  'rs148491967',
  'rs138873311',
  'rs387906576',
  'rs397514688',
  'rs397514689',
  'rs367797185',
  'rs758933315',
  'rs797045079',
  'rs775421383',
  'rs761345398',
  'rs778390161',
  'rs779188587',
  'rs779422412',
  'rs754265941',
  'rs900084108',
  'rs771053807',
  'rs1005792910',
  'rs1198993903',
  'rs1219522144',
  'rs1357918249',
  'rs1341633213',
  'rs1387186484',
  'rs1409924291',
  'rs1568038811',
  'rs1599142041',
  'rs1599143221',
  'rs2030333357',
  'rs2049629009',
  'rs2049738010',
  'rs2147530850',
  'rs2147533687'],
 'ENSG00000172500': ['rs786204849', 'rs886037928'],
 'ENSG00000174469': ['rs187552025',
  'rs73464271',
  'rs78223661',
  'rs117876038',
  'rs121908445',
  'rs138481453',
  'rs188140291',
  'rs143226012',
  'rs143507886',
  'rs143856702',
  'rs144003099',
  'rs144496909',
  'rs139180845',
  'rs150607716',
  'rs147815978',
  'rs148453565',
  'rs149032771',
  'rs149185385',
  'rs146225600',
  'rs146873712',
  'rs141078449',
  'rs141831869',
  'rs142331907',
  'rs142434274',
  'rs369056998',
  'rs369675346',
  'rs370916766',
  'rs371512835',
  'rs371642222',
  'rs371839994',
  'rs199994339',
  'rs200866893',
  'rs201076428',
  'rs201200400',
  'rs201311931',
  'rs201326295',
  'rs201446615',
  'rs201602527',
  'rs267601384',
  'rs368108883',
  'rs56356283',
  'rs377455159',
  'rs398124268',
  'rs535454043',
  'rs540745201',
  'rs372830287',
  'rs562833882',
  'rs546437079',
  'rs727503878',
  'rs730880275',
  'rs730880276',
  'rs745770134',
  'rs746615217',
  'rs746894028',
  'rs751491210',
  'rs752019151',
  'rs752550849',
  'rs749575477',
  'rs749646225',
  'rs753396304',
  'rs760930032',
  'rs761663690',
  'rs757043221',
  'rs758102050',
  'rs758630057',
  'rs772883080',
  'rs773595457',
  'rs770489662',
  'rs770951811',
  'rs771533907',
  'rs771772546',
  'rs771827120',
  'rs794727872',
  'rs796052374',
  'rs796052388',
  'rs781574808',
  'rs886041991',
  'rs886062049',
  'rs776175685',
  'rs776956365',
  'rs778124698',
  'rs766777011',
  'rs767033703',
  'rs767408882',
  'rs767821521',
  'rs972116002',
  'rs986848347',
  'rs1159246607',
  'rs1057520468',
  'rs1057520549',
  'rs1057520743',
  'rs1064796071',
  'rs1064796221',
  'rs1085307838',
  'rs1176180722',
  'rs1247068015',
  'rs1396313317',
  'rs1391540245',
  'rs1433216677',
  'rs1458942108',
  'rs1554400338',
  'rs1554416016',
  'rs1554440668',
  'rs1554490549',
  'rs1584757170',
  'rs1584848275',
  'rs1585020100',
  'rs1585151371',
  'rs1794916576',
  'rs1797490749',
  'rs1800807147',
  'rs1799910521',
  'rs1799307071',
  'rs1801395870',
  'rs1801396588',
  'rs1805809633',
  'rs2116752243',
  'rs2116789389',
  'rs2116608214',
  'rs2116638179',
  'rs2116691068',
  'rs2129185949',
  'rs2129279519',
  'rs2129279547',
  'rs2129279551',
  'rs2129279561',
  'rs2116924115'],
 'ENSG00000066336': ['rs773877800',
  'rs1565638431',
  'rs2095906404',
  'rs2095906547',
  'rs2095916574',
  'rs2142884393'],
 'ENSG00000069667': ['rs1057518981',
  'rs1222860434',
  'rs1198203108',
  'rs1433850094',
  'rs1555421544',
  'rs1555423812',
  'rs1555427497',
  'rs1555427498',
  'rs1595874842',
  'rs1595874995',
  'rs1595889010',
  'rs2065374158',
  'rs2065471243',
  'rs2141286330',
  'rs2141286878',
  'rs2141319872',
  'rs2141337837'],
 'ENSG00000138600': ['rs1328617979', 'rs2141024987'],
 'ENSG00000142192': ['rs145564988',
  'rs63749810',
  'rs63749953',
  'rs63749964',
  'rs63750064',
  'rs63750066',
  'rs63750264',
  'rs63750363',
  'rs63750399',
  'rs63750579',
  'rs63750643',
  'rs63750671',
  'rs63750734',
  'rs63750921',
  'rs63750973',
  'rs63751039',
  'rs137865262',
  'rs193922916',
  'rs199587668',
  'rs199887707',
  'rs199890425',
  'rs201022619',
  'rs201269325',
  'rs201290605',
  'rs281865161',
  'rs2146237857',
  'rs2146237965'],
 'ENSG00000145700': ['rs1463928941', 'rs2150188446'],
 'ENSG00000064666': ['rs77830704', 'rs78386506'],
 'ENSG00000080815': ['rs661',
  'rs199723282',
  'rs121917807',
  'rs121917808',
  'rs121917809',
  'rs63749805',
  'rs63749806',
  'rs63749824',
  'rs63749836',
  'rs63749880',
  'rs63749885',
  'rs63749891',
  'rs63749925',
  'rs63750001',
  'rs63750004',
  'rs63750009',
  'rs63750053',
  'rs63750082',
  'rs63750083',
  'rs63750218',
  'rs63750219',
  'rs63750227',
  'rs63750231',
  'rs63750248',
  'rs63750265',
  'rs63750301',
  'rs63750306',
  'rs63750311',
  'rs63750322',
  'rs63750323',
  'rs63750353',
  'rs63750391',
  'rs63750418',
  'rs63750450',
  'rs63750470',
  'rs63750526',
  'rs63750550',
  'rs63750577',
  'rs63750590',
  'rs63750599',
  'rs63750631',
  'rs63750646',
  'rs63750687',
  'rs63750730',
  'rs63750761',
  'rs63750779',
  'rs63750800',
  'rs63750858',
  'rs63750886',
  'rs63750900',
  'rs63750929',
  'rs63750963',
  'rs63750964',
  'rs63751003',
  'rs63751024',
  'rs63751037',
  'rs63751068',
  'rs63751106',
  'rs63751139',
  'rs63751141',
  'rs63751144',
  'rs63751163',
  'rs63751210',
  'rs63751223',
  'rs63751229',
  'rs63751235',
  'rs63751272',
  'rs63751278',
  'rs63751287',
  'rs63751316',
  'rs63751399',
  'rs63751416',
  'rs63751475',
  'rs267606983',
  'rs281875357',
  'rs778630379',
  'rs764971634',
  'rs1057518919',
  'rs1362575880',
  'rs1566630791',
  'rs1566630811',
  'rs1566630884',
  'rs1566630910',
  'rs1566638673',
  'rs1566641934',
  'rs1566650594',
  'rs1566656702',
  'rs1566657804',
  'rs1555355250',
  'rs1555355289',
  'rs1555357544',
  'rs1555358260',
  'rs1594998354',
  'rs1595035030',
  'rs1897874329',
  'rs1897876766',
  'rs1897878139',
  'rs1897961716',
  'rs1898534725',
  'rs1898781850',
  'rs2140037322',
  'rs2140080563',
  'rs2140105309',
  'rs2140145565'],
 'ENSG00000131711': ['rs146324682',
  'rs371409009',
  'rs753026898',
  'rs1554054827',
  'rs1554054831',
  'rs1554054880',
  'rs1554055106',
  'rs1561314246',
  'rs1561315170',
  'rs1580026238',
  'rs1580027036',
  'rs1747146910',
  'rs1747274021',
  'rs1747234497',
  'rs2111893851',
  'rs2111894733',
  'rs2111894757',
  'rs2112231793',
  'rs2112238696'],
 'ENSG00000136717': ['rs114833236',
  'rs115938552',
  'rs78967885',
  'rs121909273',
  'rs121909274',
  'rs121909275',
  'rs138047593',
  'rs61748158',
  'rs35535012',
  'rs143258043',
  'rs148945502',
  'rs138606879',
  'rs148179522',
  'rs199658397',
  'rs201397427',
  'rs267606681',
  'rs370911793',
  'rs371258305',
  'rs375583449',
  'rs374490688',
  'rs372360787',
  'rs372449622',
  'rs535176915',
  'rs556129959',
  'rs587783343',
  'rs748026377',
  'rs759676621',
  'rs764951306',
  'rs777176261',
  'rs776737413',
  'rs765870974',
  'rs779756862',
  'rs773313892',
  'rs1249621033',
  'rs1553458019',
  'rs1682909859'],
 'ENSG00000140459': ['rs6161',
  'rs143655263',
  'rs387906601',
  'rs121912811',
  'rs121912812',
  'rs121912813',
  'rs121912814',
  'rs72547508',
  'rs886041121',
  'rs886041759',
  'rs755186597',
  'rs757299093',
  'rs762412759',
  'rs775102947',
  'rs776056840',
  'rs1021942880',
  'rs1287871034',
  'rs1567053134',
  'rs2060619548',
  'rs2060625814',
  'rs2060627551',
  'rs2060639501',
  'rs6161',
  'rs143655263',
  'rs387906601',
  'rs121912811',
  'rs121912812',
  'rs121912813',
  'rs121912814',
  'rs72547508',
  'rs886041121',
  'rs886041759',
  'rs755186597',
  'rs757299093',
  'rs762412759',
  'rs775102947',
  'rs776056840',
  'rs1021942880',
  'rs1287871034',
  'rs1567053134',
  'rs2060619548',
  'rs2060625814',
  'rs2060627551',
  'rs2060639501'],
 'ENSG00000185760': ['rs530101249',
  'rs549110435',
  'rs754929718',
  'rs756542782',
  'rs773692396',
  'rs776643693',
  'rs1135401955',
  'rs1135401956',
  'rs1135401957',
  'rs1135401958',
  'rs1314919218',
  'rs1554201137',
  'rs1554210418',
  'rs1554213240',
  'rs1771729432',
  'rs1775232605',
  'rs1775233922',
  'rs1776322078',
  'rs2150357621',
  'rs2150391860',
  'rs1554210415'],
 'ENSG00000046604': ['rs2230234',
  'rs185821167',
  'rs191300661',
  'rs191564916',
  'rs180695545',
  'rs180926981',
  'rs531036279',
  'rs539821357',
  'rs146402368',
  'rs114544564',
  'rs121913006',
  'rs121913007',
  'rs121913008',
  'rs121913010',
  'rs121913011',
  'rs121913013',
  'rs140575919',
  'rs141405267',
  'rs553299589',
  'rs79068489',
  'rs113451409',
  'rs565904909',
  'rs372174546',
  'rs373542380',
  'rs375527314',
  'rs376424003',
  'rs376556524',
  'rs576404380',
  'rs727502990',
  'rs727504783',
  'rs730880347',
  'rs745457570',
  'rs193298428',
  'rs193922639',
  'rs199681901',
  'rs199761749',
  'rs200201181',
  'rs200509948',
  'rs200997703',
  'rs201051252',
  'rs201855245',
  'rs202057770',
  'rs202063433',
  'rs369489095',
  'rs370509593',
  'rs371146201',
  'rs746353565',
  'rs750176752',
  'rs752432726',
  'rs752522753',
  'rs753052874',
  'rs547406532',
  'rs62095193',
  'rs762526848',
  'rs763907170',
  'rs779360113',
  'rs780469370',
  'rs781532110',
  'rs794728081',
  'rs794728083',
  'rs794728084',
  'rs794728086',
  'rs794728091',
  'rs794728092',
  'rs794728093',
  'rs794728094',
  'rs794728097',
  'rs794728098',
  'rs794728100',
  'rs546127303',
  'rs376573409',
  'rs397514038',
  'rs397516702',
  'rs397516703',
  'rs397516706',
  'rs397516709',
  'rs397516712',
  'rs754133577',
  'rs755243947',
  'rs770921270',
  'rs772744115',
  'rs773328409',
  'rs773812422',
  'rs775256998',
  'rs775642244',
  'rs776078563',
  'rs776516070',
  'rs776975980',
  'rs778100657',
  'rs758282201',
  'rs758537946',
  'rs759944835',
  'rs869025388',
  'rs876657791',
  'rs1021457619',
  'rs1039633976',
  'rs1064793103',
  'rs1064793983',
  'rs1064794709',
  'rs1158782181',
  'rs1187924885',
  'rs1165139589',
  'rs1237620145',
  'rs1250563249',
  'rs1261674855',
  'rs1257877047',
  'rs1284598654',
  'rs1252006527',
  'rs1252426323',
  'rs1342580910',
  'rs1334657349',
  'rs1375012922',
  'rs1375081885',
  'rs1389484271',
  'rs1382430464',
  'rs1316380114',
  'rs1452179158',
  'rs1472037685',
  'rs1567933176',
  'rs1567934720',
  'rs1567934773',
  'rs1568098570',
  'rs1568105371',
  'rs1598810829',
  'rs1598811348',
  'rs1598811394',
  'rs1598826658',
  'rs1555627108',
  'rs1555627118',
  'rs1555671201',
  'rs1555671331',
  'rs1555671335',
  'rs1555671441',
  'rs2073125384',
  'rs2073148989',
  'rs2073149649',
  'rs2073222422',
  'rs2073265410',
  'rs2073308127',
  'rs2073310848',
  'rs2144315483',
  'rs2144316016',
  'rs2144317638',
  'rs2144317658',
  'rs2144317934',
  'rs2144318119',
  'rs2144322548',
  'rs2144322985',
  'rs2144323019',
  'rs2144332473',
  'rs2144332585',
  'rs2144332631',
  'rs2144339598',
  'rs2144339967',
  'rs2144346522'],
 'ENSG00000064012': ['rs17860424',
  'rs143410219',
  'rs146286958',
  'rs375465590',
  'rs373232880',
  'rs587776665',
  'rs747862347',
  'rs765672355',
  'rs762135470',
  'rs768360449',
  'rs777463099',
  'rs777784105',
  'rs776712453',
  'rs1368296717',
  'rs1457092267',
  'rs1559374786',
  'rs1948252170'],
 'ENSG00000086288': ['rs121918300', 'rs146777129'],
 'ENSG00000106460': ['rs1554310600'],
 'ENSG00000145979': ['rs112668572',
  'rs483352922',
  'rs758759342',
  'rs587777652',
  'rs1554192525',
  'rs1584522453'],
 'ENSG00000152223': ['rs190673127',
  'rs191244915',
  'rs183478189',
  'rs144334723',
  'rs116076204',
  'rs552419530',
  'rs148641800',
  'rs562098384',
  'rs372940918',
  'rs373944025',
  'rs374321183',
  'rs376297358',
  'rs587776939',
  'rs587776940',
  'rs587776941',
  'rs587776942',
  'rs201067154',
  'rs201757275',
  'rs370720753',
  'rs746036349',
  'rs746885334',
  'rs748670315',
  'rs762639913',
  'rs763614919',
  'rs763788808',
  'rs763931697',
  'rs780889226',
  'rs863225064',
  'rs886043244',
  'rs886276412',
  'rs755928939',
  'rs756503608',
  'rs912986968',
  'rs772325682',
  'rs773330060',
  'rs776146922',
  'rs767638289',
  'rs769440447',
  'rs769833086',
  'rs908790331',
  'rs759625169',
  'rs759930622',
  'rs760768451',
  'rs761554022',
  'rs866435487',
  'rs961245497',
  'rs986592823',
  'rs1057519318',
  'rs1064795230',
  'rs1064795606',
  'rs1085308062',
  'rs1135402727',
  'rs1135402728',
  'rs1135402729',
  'rs1135402730',
  'rs1135402731',
  'rs1135402732',
  'rs1135402733',
  'rs1135402734',
  'rs1135402735',
  'rs1135402736',
  'rs1161436837',
  'rs1203870830',
  'rs1470797555',
  'rs1568103027',
  'rs1568107449',
  'rs1568112516',
  'rs1568112543',
  'rs1568118775',
  'rs1568133724',
  'rs1568133760',
  'rs1568142333',
  'rs1568150793',
  'rs1568168835',
  'rs1568183567',
  'rs1555667231',
  'rs1555668791',
  'rs1555671254',
  'rs1555673890',
  'rs1555673917',
  'rs1555681647',
  'rs1479239564',
  'rs1483969601',
  'rs1599445663',
  'rs1599447883',
  'rs1599474108',
  'rs1599536432',
  'rs1599578081',
  'rs2048968935',
  'rs2049058963',
  'rs2049301523',
  'rs2050937885',
  'rs2050008898',
  'rs2050027504',
  'rs2050481336',
  'rs2050617604',
  'rs2050902019',
  'rs2145173322',
  'rs2145393546',
  'rs2145422618',
  'rs2145667073',
  'rs2145712492',
  'rs2145713137',
  'rs2145807103',
  'rs2145880933'],
 'ENSG00000154734': ['rs375553171'],
 'ENSG00000157954': ['rs756429763', 'rs2115280647'],
 'ENSG00000167397': ['rs104894539',
  'rs104894540',
  'rs104894541',
  'rs9934438',
  'rs61742245',
  'rs72547528',
  'rs72547529'],
 'ENSG00000168769': ['rs116519313',
  'rs377382567',
  'rs576934285',
  'rs759055581',
  'rs1131691943',
  'rs1231721810',
  'rs1267284740',
  'rs1283023309',
  'rs1578673280',
  'rs2110231198'],
 'ENSG00000169836': ['rs121918124',
  'rs121918125',
  'rs144292455',
  'rs146482011',
  'rs201195175',
  'rs397515483',
  'rs527698386',
  'rs727505375',
  'rs760022956',
  'rs764659822',
  'rs772508077',
  'rs1578272223'],
 'ENSG00000221838': ['rs138437966',
  'rs144875978',
  'rs139861201',
  'rs147738731',
  'rs146262009',
  'rs141754568',
  'rs369459721',
  'rs371712994',
  'rs387906838',
  'rs531148057',
  'rs372641895',
  'rs542768500',
  'rs574878636',
  'rs730882249',
  'rs752598529',
  'rs750783717',
  'rs755533568',
  'rs754498075',
  'rs760907496',
  'rs758387391',
  'rs764326593',
  'rs780030221',
  'rs770705832',
  'rs772119268',
  'rs797045249',
  'rs769952838',
  'rs886041126',
  'rs776788025',
  'rs777220438',
  'rs766513025',
  'rs973744863',
  'rs1057521784',
  'rs1064794383',
  'rs1131691556',
  'rs1191415115',
  'rs1293317548',
  'rs1344550427',
  'rs1321353475',
  'rs1350685858',
  'rs1397027035',
  'rs1432802140',
  'rs1437308674',
  'rs1437455190',
  'rs1554377262',
  'rs1554380093',
  'rs1554380391',
  'rs1562912305',
  'rs1584507780',
  'rs1584508277',
  'rs1584514057',
  'rs1796176171',
  'rs1796279189',
  'rs1796054104',
  'rs2116614049',
  'rs2116616864',
  'rs2116628120',
  'rs2116638409',
  'rs2116643498',
  'rs2116668499',
  'rs2116670931'],
 'ENSG00000102935': ['rs548986682',
  'rs745597535',
  'rs886041561',
  'rs1596759273',
  'rs1596763347',
  'rs1596988259'],
 'ENSG00000104783': ['rs76935412',
  'rs774455945',
  'rs1057519076',
  'rs1057519077',
  'rs1969582489'],
 'ENSG00000107736': ['rs115398922',
  'rs185105210',
  'rs79636933',
  'rs111033247',
  'rs111033270',
  'rs111033271',
  'rs111033369',
  'rs111033457',
  'rs111033458',
  'rs111033473',
  'rs111033487',
  'rs111033490',
  'rs111033493',
  'rs111033522',
  'rs111033536',
  'rs181255269',
  'rs181611778',
  'rs181658753',
  'rs188098974',
  'rs188376296',
  'rs191021194',
  'rs191154178',
  'rs183431253',
  'rs142788731',
  'rs142857685',
  'rs144688588',
  'rs71012280',
  'rs528880720',
  'rs121908347',
  'rs121908348',
  'rs121908349',
  'rs121908350',
  'rs121908351',
  'rs121908352',
  'rs121908353',
  'rs121908354',
  'rs121908355',
  'rs139287714',
  'rs139409005',
  'rs537236734',
  'rs140884994',
  'rs142131750',
  'rs376271562',
  'rs376332131',
  'rs376560330',
  'rs376881824',
  'rs377614198',
  'rs397517305',
  'rs397517307',
  'rs397517313',
  'rs397517323',
  'rs397517324',
  'rs397517326',
  'rs397517327',
  'rs397517328',
  'rs397517329',
  'rs397517331',
  'rs397517333',
  'rs397517334',
  'rs397517337',
  'rs397517341',
  'rs397517342',
  'rs397517344',

## 2. Filtering chr tsv files and obtaining iid-snps matrix

In [ ]:
# TSV files were generated straight from the chr_dosage_gz files
# Script checks which rows in the tsv files are SNPs from the SNP dictionary
# At last, it creates a matrix which rows are rosmap individuals and cols are snps

In [6]:
# Load the gene-variant dictionary from the pickle file
# old dictionary.

import pickle

dict_path = './ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl'
with open(dict_path, 'rb') as f:
    gene_variants_dict = pickle.load(f)

# Collect all SNP IDs from the dictionary into a set for fast lookup
snp_set = set()
for snps in gene_variants_dict.values():
    snp_set.update(snps)

In [7]:
len(snp_set)

24078

In [19]:
df = pd.read_csv('./ad_shap_gwas//dosage_imputed_vcf_files/dosage_gz_files/AMP-AD_ROSMAP_Rush-Broad_AffymetrixGenechip6_Imputed_chr22.tsv', sep=' ', header=None)

In [20]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711
0,rs62224609,T,C,1.90811,1.90858,1.90811,1.90904,1.90811,1.90811,1.90904,...,1.90941,1.90941,1.90958,1.90941,1.90959,1.90941,1.90958,1.90959,1.90958,NaN
1,rs11089130,G,C,1.65161,1.65336,1.65161,1.65512,1.65161,1.65161,1.65511,...,1.66232,1.66232,1.66300,1.66232,1.66299,1.66232,1.66300,1.66299,1.66300,NaN
2,rs11089134,A,G,1.64777,1.64953,1.64777,1.65132,1.64777,1.64777,1.65131,...,1.65757,1.65757,1.65825,1.65757,1.65823,1.65757,1.65826,1.65823,1.65825,NaN
3,rs2843213,C,T,1.94153,1.94165,1.94153,1.94179,1.94153,1.94153,1.94179,...,1.94326,1.94326,1.94330,1.94326,1.94330,1.94326,1.94330,1.94330,1.94330,NaN
4,rs2096600,A,C,1.31489,1.31839,1.31489,1.32192,1.31489,1.31489,1.32191,...,1.32288,1.32288,1.32421,1.32288,1.32419,1.32288,1.32422,1.32419,1.32421,NaN

In [ ]:
import os
import pandas as pd
import pickle

# Load the gene-variant dictionary from the pickle file
dict_path = '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_clinical.pkl'
with open(dict_path, 'rb') as f:
    gene_variants_dict = pickle.load(f)

# Collect all SNP IDs from the dictionary into a set for fast lookup
snp_set = set()
for snps in gene_variants_dict.values():
    snp_set.update(snps)

# Directory containing the TSV files
directory = '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/dosage_imputed_vcf_files/dosage_gz_files/'
directory1 = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/dosage_imputed_vcf_files/chr_files_tsv/"

# Loop through all TSV files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.tsv'):
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath, sep=' ', header=None)

        # Filter the dataframe to keep only rows where the first column is in snp_set
        filtered_df = df[df[0].isin(snp_set)]

        # Count the rows in the filtered DataFrame
        row_count = filtered_df.shape[0]

        # Create new filename based on the last part of the original filename
        new_filename = filename.split('_')[-1]
        new_filepath = os.path.join(directory1, new_filename)

        # Save the filtered dataframe to a new TSV file
        filtered_df.to_csv(new_filepath, sep='\t', index=False, header=False)

        # Print information about the processing and row count
        print(f"Processed {filename}: {row_count} rows saved to {new_filename}")

print("All files have been processed.")

In [ ]:
import os
import pandas as pd
import pickle
from joblib import Parallel, delayed

def process_file(filename, directory, directory1, snp_set):
    filepath = os.path.join(directory, filename)
    df = pd.read_csv(filepath, sep=' ', header=None)

    # Filter the dataframe to keep only rows where the first column is in snp_set
    filtered_df = df[df[0].isin(snp_set)]

    # Count the rows in the filtered DataFrame
    row_count = filtered_df.shape[0]

    # Create new filename based on the last part of the original filename
    new_filename = filename.split('_')[-1]
    new_filepath = os.path.join(directory1, new_filename)

    # Save the filtered dataframe to a new TSV file
    filtered_df.to_csv(new_filepath, sep='\t', index=False, header=False)

    # Print information about the processing and row count
    return f"Processed {filename}: {row_count} rows saved to {new_filename}"

# Load the gene-variant dictionary from the pickle file
dict_path = '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_clinical.pkl'
with open(dict_path, 'rb') as f:
    gene_variants_dict = pickle.load(f)

# Collect all SNP IDs from the dictionary into a set for fast lookup
snp_set = set()
for snps in gene_variants_dict.values():
    snp_set.update(snps)

# Directory containing the TSV files
directory = '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/dosage_imputed_vcf_files/dosage_gz_files/'
directory1 = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/dosage_imputed_vcf_files/chr_files_tsv/"

# Get all TSV files
tsv_files = [f for f in os.listdir(directory) if f.endswith('.tsv')]

# Execute in parallel using joblib
results = Parallel(n_jobs=8)(delayed(process_file)(filename, directory, directory1, snp_set) for filename in tsv_files)

# Print results
for result in results:
    print(result)

print("All files have been processed.")

In [ ]:
# UNIX command to merge the tsv files into one tsv file (row-wise)
cat /path/to/directory/*.tsv > merged_file.tsv

In [ ]:
# just a check to see how many of the rows in the chr_concatinated can be mapped to my new dictionary (clinic)

In [ ]:
# Add header as the list of individuals to the tsv file
# Filter and keep only ROSMAP individuals
# Transpose the dataframe

In [ ]:
# Step by step

In [ ]:
import pandas as pd

# Load the TSV file without headers
tsv_file_path = '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/dosage_imputed_vcf_files/chr_concatinated.tsv'
df = pd.read_csv(tsv_file_path, sep='\s+', header=None, engine='python')

# Load the individual identifiers
individuals_file_path = '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/dosage_imputed_vcf_files/individuals.csv'
with open(individuals_file_path, 'r') as file:
    # Assuming each line contains one individual identifier
    headers = [line.strip() for line in file.readlines()]

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710
0,rs72777665,T,A,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,1.28960,1.28864,2.00000,1.28953,2.00000,2.00000,2.00000,2.00000,1.28922,2.00000
1,rs35345466,A,T,0.93633,0.26569,0.03411,0.93413,0.95241,0.96472,0.94774,...,0.93148,0.00000,0.92957,0.00000,0.14522,1.84339,0.91914,1.15320,0.16229,0.16842
2,rs11257183,T,C,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,2.00000,...,2.00000,2.00000,1.00000,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,1.00000
3,rs16914105,C,T,1.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,2.00000,2.00000,2.00000,2.00000,2.00000,1.00000,2.00000,1.00000,2.00000,2.00000
4,rs7917618,G,A,2.00000,1.99896,1.99931,1.99999,1.99999,1.99907,2.00000,...,1.99911,1.99965,2.00000,2.00000,2.00000,1.99992,1.99649,2.00000,1.99894,1.99820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,rs36137267,T,C,1.02021,1.01901,0.98175,1.01908,1.99010,0.97431,1.97976,...,1.94194,0.03687,0.07033,0.09149,1.05846,1.01997,1.06632,1.85975,1.02561,1.97771
2961,rs6606291,C,T,1.89330,1.88121,1.88121,1.88121,1.88121,1.89330,1.88121,...,1.88489,1.89351,1.88489,1.89351,1.88489,1.88489,1.88484,1.89351,1.89351,1.88489
2962,rs12337435,C,A,1.00350,1.00536,1.99921,0.02163,1.99959,0.02076,1.00962,...,1.01501,1.99907,1.01535,1.99949,1.01626,1.00376,1.99873,1.00267,1.01543,2.00000
2963,rs12343184,T,C,1.00089,1.00113,1.99937,0.01343,1.99959,0.01337,1.00651,...,1.01438,1.99923,1.01441,1.99969,1.01460,1.00085,1.99906,1.00123,1.01452,2.00000
2964,rs28886421,A,G,2.00000,1.98999,1.99000,1.97996,1.97997,1.98999,2.00000,...,1.99045,1.98954,1.97913,1.98168,1.98959,2.00000,1.98954,2.00000,2.00000,2.00000

In [ ]:
# Assign the headers to the dataframe
df.columns = ['SNP_ID', "REF", "ALT"] + headers  # Prepend 'SNP_ID' for the first column

In [ ]:
df

,SNP_ID,REF,ALT,ROS10442701,ROS11444465,ROS21112011,ROS20297791,ROS11395417,ROS21174303,ROS10669174,...,MAP50406183,MAP50401426,ROS10263208,MAP50109053,MAP50104396,MAP33006377,MAP50402693,ROS11349821,ROS11099004,MAP29821047
0,rs72777665,T,A,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,1.28960,1.28864,2.00000,1.28953,2.00000,2.00000,2.00000,2.00000,1.28922,2.00000
1,rs35345466,A,T,0.93633,0.26569,0.03411,0.93413,0.95241,0.96472,0.94774,...,0.93148,0.00000,0.92957,0.00000,0.14522,1.84339,0.91914,1.15320,0.16229,0.16842
2,rs11257183,T,C,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,2.00000,...,2.00000,2.00000,1.00000,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,1.00000
3,rs16914105,C,T,1.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,2.00000,2.00000,2.00000,2.00000,2.00000,1.00000,2.00000,1.00000,2.00000,2.00000
4,rs7917618,G,A,2.00000,1.99896,1.99931,1.99999,1.99999,1.99907,2.00000,...,1.99911,1.99965,2.00000,2.00000,2.00000,1.99992,1.99649,2.00000,1.99894,1.99820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,rs36137267,T,C,1.02021,1.01901,0.98175,1.01908,1.99010,0.97431,1.97976,...,1.94194,0.03687,0.07033,0.09149,1.05846,1.01997,1.06632,1.85975,1.02561,1.97771
2961,rs6606291,C,T,1.89330,1.88121,1.88121,1.88121,1.88121,1.89330,1.88121,...,1.88489,1.89351,1.88489,1.89351,1.88489,1.88489,1.88484,1.89351,1.89351,1.88489
2962,rs12337435,C,A,1.00350,1.00536,1.99921,0.02163,1.99959,0.02076,1.00962,...,1.01501,1.99907,1.01535,1.99949,1.01626,1.00376,1.99873,1.00267,1.01543,2.00000
2963,rs12343184,T,C,1.00089,1.00113,1.99937,0.01343,1.99959,0.01337,1.00651,...,1.01438,1.99923,1.01441,1.99969,1.01460,1.00085,1.99906,1.00123,1.01452,2.00000
2964,rs28886421,A,G,2.00000,1.98999,1.99000,1.97996,1.97997,1.98999,2.00000,...,1.99045,1.98954,1.97913,1.98168,1.98959,2.00000,1.98954,2.00000,2.00000,2.00000

In [ ]:
# Function to remove the prefix "ROS" or "MAP" from column names
def remove_prefix(col_name):
    if col_name.startswith("ROS"):
        return col_name[3:]  # Remove the first 3 characters
    elif col_name.startswith("MAP"):
        return col_name[3:]  # Remove the first 3 characters
    else:
        return col_name

# Apply the function to each column name
df.columns = [remove_prefix(col) for col in df.columns]

In [ ]:
df

,SNP_ID,REF,ALT,10442701,11444465,21112011,20297791,11395417,21174303,10669174,...,50406183,50401426,10263208,50109053,50104396,33006377,50402693,11349821,11099004,29821047
0,rs72777665,T,A,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,1.28960,1.28864,2.00000,1.28953,2.00000,2.00000,2.00000,2.00000,1.28922,2.00000
1,rs35345466,A,T,0.93633,0.26569,0.03411,0.93413,0.95241,0.96472,0.94774,...,0.93148,0.00000,0.92957,0.00000,0.14522,1.84339,0.91914,1.15320,0.16229,0.16842
2,rs11257183,T,C,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,2.00000,...,2.00000,2.00000,1.00000,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,1.00000
3,rs16914105,C,T,1.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,2.00000,2.00000,2.00000,2.00000,2.00000,1.00000,2.00000,1.00000,2.00000,2.00000
4,rs7917618,G,A,2.00000,1.99896,1.99931,1.99999,1.99999,1.99907,2.00000,...,1.99911,1.99965,2.00000,2.00000,2.00000,1.99992,1.99649,2.00000,1.99894,1.99820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,rs36137267,T,C,1.02021,1.01901,0.98175,1.01908,1.99010,0.97431,1.97976,...,1.94194,0.03687,0.07033,0.09149,1.05846,1.01997,1.06632,1.85975,1.02561,1.97771
2961,rs6606291,C,T,1.89330,1.88121,1.88121,1.88121,1.88121,1.89330,1.88121,...,1.88489,1.89351,1.88489,1.89351,1.88489,1.88489,1.88484,1.89351,1.89351,1.88489
2962,rs12337435,C,A,1.00350,1.00536,1.99921,0.02163,1.99959,0.02076,1.00962,...,1.01501,1.99907,1.01535,1.99949,1.01626,1.00376,1.99873,1.00267,1.01543,2.00000
2963,rs12343184,T,C,1.00089,1.00113,1.99937,0.01343,1.99959,0.01337,1.00651,...,1.01438,1.99923,1.01441,1.99969,1.01460,1.00085,1.99906,1.00123,1.01452,2.00000
2964,rs28886421,A,G,2.00000,1.98999,1.99000,1.97996,1.97997,1.98999,2.00000,...,1.99045,1.98954,1.97913,1.98168,1.98959,2.00000,1.98954,2.00000,2.00000,2.00000

In [ ]:
# Clinical data for mapping

In [ ]:
ros_clinical = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/dosage_imputed_vcf_files/ROSMAP_clinical.csv")
ros_clinical

,projid,Study,msex,educ,race,spanish,apoe_genotype,age_at_visit_max,age_first_ad_dx,age_death,cts_mmse30_first_ad_dx,cts_mmse30_lv,pmi,braaksc,ceradsc,cogdx,dcfdx_lv,individualID
0,10101589,ROS,1.0,20.0,1.0,2.0,34.0,90+,90+,90+,18.0,5.0,9.916667,4.0,2.0,4.0,4.0,R6939144
1,86767530,MAP,0.0,10.0,1.0,2.0,33.0,90+,90+,90+,18.0,10.0,6.500000,4.0,2.0,4.0,4.0,R3893503
2,9650662,MAP,0.0,15.0,1.0,2.0,23.0,90+,90+,90+,0.0,0.0,3.850000,3.0,2.0,4.0,4.0,R8937093
3,50402855,MAP,0.0,21.0,1.0,2.0,33.0,90+,NaN,NaN,NaN,27.0,NaN,NaN,NaN,NaN,1.0,R7139444
4,20544321,ROS,0.0,16.0,1.0,2.0,23.0,90+,90+,NaN,13.0,14.0,NaN,NaN,NaN,NaN,4.0,R4971237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3579,22207815,ROS,0.0,18.0,2.0,2.0,23.0,57.653661875427787,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,1.0,R5306025
3580,22207941,ROS,0.0,16.0,2.0,2.0,34.0,56.651608487337441,NaN,NaN,NaN,27.0,NaN,NaN,NaN,NaN,1.0,R6142763
3581,49333806,MAP,0.0,12.0,2.0,2.0,NaN,56.599589322381931,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,1.0,R4468842
3582,59720188,MAP,0.0,13.0,1.0,1.0,NaN,54.622861054072551,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,1.0,R9446033
3583,90214403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R5615105

In [ ]:
# Create a mapping dictionary from projid to individualID
mapping_dict = pd.Series(ros_clinical['individualID'].values, index=ros_clinical['projid']).to_dict()

# Ensure all keys and values in the mapping dictionary are strings
mapping_dict = {str(key): str(value) for key, value in mapping_dict.items()}

# Ensure all column names in df1 are strings
df.columns = df.columns.astype(str)

# Rename the columns of the first DataFrame using the mapping dictionary
df.rename(columns=mapping_dict, inplace=True)

In [ ]:
# Remove the REF and ALT columns
df.drop(columns=['REF', 'ALT'], inplace=True)

In [ ]:
df

,SNP_ID,R3627269,R6655598,R7540069,R5789564,R7047807,R8375980,R4641987,R1801421,R3322663,...,R6835201,R5313591,R5647192,R7914294,R3450006,R3649358,R8075334,R4847810,R4131479,R8093392
0,rs72777665,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,1.28960,1.28864,2.00000,1.28953,2.00000,2.00000,2.00000,2.00000,1.28922,2.00000
1,rs35345466,0.93633,0.26569,0.03411,0.93413,0.95241,0.96472,0.94774,0.00008,0.08625,...,0.93148,0.00000,0.92957,0.00000,0.14522,1.84339,0.91914,1.15320,0.16229,0.16842
2,rs11257183,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,2.00000,1.00000,1.00000,...,2.00000,2.00000,1.00000,1.00000,2.00000,2.00000,1.00000,2.00000,2.00000,1.00000
3,rs16914105,1.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,2.00000,...,2.00000,2.00000,2.00000,2.00000,2.00000,1.00000,2.00000,1.00000,2.00000,2.00000
4,rs7917618,2.00000,1.99896,1.99931,1.99999,1.99999,1.99907,2.00000,1.99859,1.99950,...,1.99911,1.99965,2.00000,2.00000,2.00000,1.99992,1.99649,2.00000,1.99894,1.99820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,rs36137267,1.02021,1.01901,0.98175,1.01908,1.99010,0.97431,1.97976,1.03732,2.00000,...,1.94194,0.03687,0.07033,0.09149,1.05846,1.01997,1.06632,1.85975,1.02561,1.97771
2961,rs6606291,1.89330,1.88121,1.88121,1.88121,1.88121,1.89330,1.88121,1.88121,1.89318,...,1.88489,1.89351,1.88489,1.89351,1.88489,1.88489,1.88484,1.89351,1.89351,1.88489
2962,rs12337435,1.00350,1.00536,1.99921,0.02163,1.99959,0.02076,1.00962,1.99981,1.01454,...,1.01501,1.99907,1.01535,1.99949,1.01626,1.00376,1.99873,1.00267,1.01543,2.00000
2963,rs12343184,1.00089,1.00113,1.99937,0.01343,1.99959,0.01337,1.00651,1.99981,1.00401,...,1.01438,1.99923,1.01441,1.99969,1.01460,1.00085,1.99906,1.00123,1.01452,2.00000
2964,rs28886421,2.00000,1.98999,1.99000,1.97996,1.97997,1.98999,2.00000,1.99087,2.00000,...,1.99045,1.98954,1.97913,1.98168,1.98959,2.00000,1.98954,2.00000,2.00000,2.00000

In [ ]:

# Transpose the dataframe
transposed_df = df.set_index('SNP_ID').transpose()

# Save the transposed dataframe to a pickle file
pickle_file_path = 'rosmap_gwas_snps_matrix.pkl'
transposed_df.to_pickle(pickle_file_path)

In [ ]:
df = pd.read_pickle("rosmap_gwas_snps_matrix.pkl")
df

SNP_ID,rs72777665,rs35345466,rs11257183,rs16914105,rs7917618,rs2271564,rs7099368,rs920964,rs2458663,rs1177701,...,rs34674752,rs12550729,rs12549149,rs11136254,rs34173062,rs36137267,rs6606291,rs12337435,rs12343184,rs28886421
R3627269,2.00000,0.93633,1.0,1.0,2.00000,1.0,0.0,2.00000,1.0,1.00000,...,1.67278,1.99141,1.99307,1.99163,1.88831,1.02021,1.89330,1.00350,1.00089,2.00000
R6655598,2.00000,0.26569,2.0,2.0,1.99896,1.0,1.0,1.99729,1.0,0.99990,...,1.95673,1.98918,1.98849,1.98779,1.90800,1.01901,1.88121,1.00536,1.00113,1.98999
R7540069,2.00000,0.03411,2.0,2.0,1.99931,2.0,2.0,1.99272,2.0,1.99984,...,1.95586,1.99446,1.99502,1.99358,1.83608,0.98175,1.88121,1.99921,1.99937,1.99000
R5789564,2.00000,0.93413,1.0,2.0,1.99999,2.0,1.0,1.21695,1.0,1.00008,...,1.96835,1.00098,0.99897,0.99872,1.92303,1.01908,1.88121,0.02163,0.01343,1.97996
R7047807,2.00000,0.95241,2.0,2.0,1.99999,1.0,1.0,1.21641,1.0,0.99986,...,1.97187,1.99207,1.99313,1.99163,1.83777,1.99010,1.88121,1.99959,1.99959,1.97997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R3649358,2.00000,1.84339,2.0,1.0,1.99992,2.0,1.0,2.00000,1.0,0.99999,...,1.96900,1.07577,1.09246,1.09309,1.93213,1.01997,1.88489,1.00376,1.00085,2.00000
R8075334,2.00000,0.91914,1.0,2.0,1.99649,1.0,1.0,2.00000,0.0,0.00012,...,1.89073,1.99686,1.99477,1.99593,1.86481,1.06632,1.88484,1.99873,1.99906,1.98954
R4847810,2.00000,1.15320,2.0,1.0,2.00000,2.0,0.0,2.00000,1.0,0.00000,...,1.96669,1.99747,1.99496,1.99598,1.84143,1.85975,1.89351,1.00267,1.00123,2.00000
R4131479,1.28922,0.16229,2.0,2.0,1.99894,1.0,1.0,1.99910,2.0,1.99850,...,1.82715,1.99638,1.99503,1.99590,1.88012,1.02561,1.89351,1.01543,1.01452,2.00000
R8093392,2.00000,0.16842,1.0,2.0,1.99820,1.0,1.0,2.00000,1.0,0.00012,...,1.96594,1.99732,1.99521,1.99551,1.83273,1.97771,1.88489,2.00000,2.00000,2.00000

## 3. Plink files and obtaining iid-snps matrix

In [8]:
import pandas as pd
import numpy as np
from pyplink import PyPlink
import pickle


plink_file_prefix = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/Rosmap_plink_files/ROSMAP_arrayGenotype"
output_dir = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/Rosmap_plink_files/"


with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_variants_dict = pickle.load(f)
    
# Create a set to store unique SNP identifiers
valid_snp_ids_phenotype = set()
# Loop through each list in the dictionary and add all items to the set
for snp_list in gene_variants_dict.values():
    valid_snp_ids_phenotype.update(snp_list)

 
        
try:
    # Load BIM and FAM files
    with PyPlink(plink_file_prefix) as plink:
        bim = plink.get_bim()
        fam = plink.get_fam()

    # Create DataFrames but only keep relevant columns
    bim_df = pd.DataFrame(bim)
    fam_df = pd.DataFrame(fam) 

    
    print("BIM and FAM files loaded successfully.")

    # Handle Missing rsIDs and '*' Alleles
    bim_df['a1'] = bim_df['a1'].replace('*', 'unknown')
    bim_df['a2'] = bim_df['a2'].replace('*', 'unknown')

    # Assuming the custom format is [Chromosome Number]:[Coordinate], as stated in README
    # bim_df['snp'] = bim_df.apply(lambda row: f"chr{row['chrom']}:{row['pos']}" if pd.isna(row['snp']) else row['snp'], axis=1)

    print("BIM DataFrame processed successfully.")

    # Extract Genotypes
    genotypes = []
    with PyPlink(plink_file_prefix) as plink:
        for gt in plink:
            genotypes.append(gt[1])  # Store genotype array

    genotypes_arr = np.array(genotypes, dtype='int8').T  # Transpose to have individuals as rows and SNPs as columns
    print("Genotype array created successfully.")

    snps_without_missing_values_mask = np.ones(len(genotypes_arr[0]), dtype=bool)

    # Identify SNPs with known alleles (i.e., not 'unknown')
    known_alleles_mask = (bim_df['a1'] != 'unknown') & (bim_df['a2'] != 'unknown')

    # Combine the masks to identify SNPs to keep
    snps_to_keep_mask = snps_without_missing_values_mask & known_alleles_mask & bim_df.index.isin(valid_snp_ids_phenotype) # It's a boolean!

    # Check the number of SNPs to keep (number of True values)
    num_snps_to_keep = np.sum(snps_to_keep_mask)
    print(f"Number of SNPs to keep: {num_snps_to_keep}")

    # Check the total number of SNPs
    total_snps = len(snps_to_keep_mask)
    print(f"Total number of SNPs: {total_snps}")

    # Optionally, print the proportion of SNPs to keep
    proportion_snps_to_keep = num_snps_to_keep / total_snps
    print(f"Proportion of SNPs to keep: {proportion_snps_to_keep:.2f}")

    # Get the list of SNP IDs to keep
    snps_to_keep = bim_df.index[snps_to_keep_mask].tolist()

    # Filter the genotype array to keep only SNPs without any -1 values and with known alleles
    genotypes_filtered = genotypes_arr[:, snps_to_keep_mask]

    # Create a DataFrame with EPR identifiers as rows and SNPs as columns
    final_df = pd.DataFrame(genotypes_filtered, index=fam_df['iid'], columns=snps_to_keep)


    print(f"Final DataFrame shape: {final_df.shape}")

    # Extract base name for the output files
    base_name = "ROSMAP_genotypes"

    final_df.to_csv(f'{output_dir}{base_name}.csv')
    
    print("DataFrame has been saved in chunks as csv files.")

except Exception as e:
    print(f"An error occurred: {e}")

BIM and FAM files loaded successfully.
BIM DataFrame processed successfully.
Genotype array created successfully.
Number of SNPs to keep: 428
Total number of SNPs: 750173
Proportion of SNPs to keep: 0.00
Final DataFrame shape: (1708, 428)
DataFrame has been saved in chunks as csv files.

## 4. Filtering iid-snps matrix

In [ ]:
# Filtering based on the filtered samples (samples of interests from clustering)

In [ ]:
matrix = pd.read_pickle("rosmap_gwas_snps_matrix.pkl")
matrix

SNP_ID,rs72777665,rs35345466,rs11257183,rs16914105,rs7917618,rs2271564,rs7099368,rs920964,rs2458663,rs1177701,...,rs34674752,rs12550729,rs12549149,rs11136254,rs34173062,rs36137267,rs6606291,rs12337435,rs12343184,rs28886421
R3627269,2.00000,0.93633,1.0,1.0,2.00000,1.0,0.0,2.00000,1.0,1.00000,...,1.67278,1.99141,1.99307,1.99163,1.88831,1.02021,1.89330,1.00350,1.00089,2.00000
R6655598,2.00000,0.26569,2.0,2.0,1.99896,1.0,1.0,1.99729,1.0,0.99990,...,1.95673,1.98918,1.98849,1.98779,1.90800,1.01901,1.88121,1.00536,1.00113,1.98999
R7540069,2.00000,0.03411,2.0,2.0,1.99931,2.0,2.0,1.99272,2.0,1.99984,...,1.95586,1.99446,1.99502,1.99358,1.83608,0.98175,1.88121,1.99921,1.99937,1.99000
R5789564,2.00000,0.93413,1.0,2.0,1.99999,2.0,1.0,1.21695,1.0,1.00008,...,1.96835,1.00098,0.99897,0.99872,1.92303,1.01908,1.88121,0.02163,0.01343,1.97996
R7047807,2.00000,0.95241,2.0,2.0,1.99999,1.0,1.0,1.21641,1.0,0.99986,...,1.97187,1.99207,1.99313,1.99163,1.83777,1.99010,1.88121,1.99959,1.99959,1.97997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R3649358,2.00000,1.84339,2.0,1.0,1.99992,2.0,1.0,2.00000,1.0,0.99999,...,1.96900,1.07577,1.09246,1.09309,1.93213,1.01997,1.88489,1.00376,1.00085,2.00000
R8075334,2.00000,0.91914,1.0,2.0,1.99649,1.0,1.0,2.00000,0.0,0.00012,...,1.89073,1.99686,1.99477,1.99593,1.86481,1.06632,1.88484,1.99873,1.99906,1.98954
R4847810,2.00000,1.15320,2.0,1.0,2.00000,2.0,0.0,2.00000,1.0,0.00000,...,1.96669,1.99747,1.99496,1.99598,1.84143,1.85975,1.89351,1.00267,1.00123,2.00000
R4131479,1.28922,0.16229,2.0,2.0,1.99894,1.0,1.0,1.99910,2.0,1.99850,...,1.82715,1.99638,1.99503,1.99590,1.88012,1.02561,1.89351,1.01543,1.01452,2.00000
R8093392,2.00000,0.16842,1.0,2.0,1.99820,1.0,1.0,2.00000,1.0,0.00012,...,1.96594,1.99732,1.99521,1.99551,1.83273,1.97771,1.88489,2.00000,2.00000,2.00000

In [ ]:
rosmap = pd.read_csv("../ROSMAP_shap_samples_v12_4k_with_clusters.csv", index_col=0)
rosmap

,individualID,diagnosis,tissue,clusters,race,spanish,apoe4_allele,sex,batch,pmi,...,ENSG00000287815,ENSG00000287900,ENSG00000287925,ENSG00000287978,ENSG00000287985,ENSG00000288033,ENSG00000288048,ENSG00000288049,ENSG00000288062,ENSG00000288107
366_120502,R9809661,1,3,3_1,1.0,2.0,1,1,7,17.416667,...,0.139377,0.833608,1.092943,1.707821,1.329693,0.960361,0.552581,-5.109539,3.378009,1.674681
52_120416,R9809441,1,3,3_2,1.0,2.0,0,1,6,4.450000,...,0.635089,0.925383,0.934533,0.243795,-0.272757,0.441563,1.028262,-4.070924,2.869645,1.041287
493_120515,R9771008,1,3,3_0,1.0,2.0,0,0,4,3.083333,...,1.428795,1.639106,0.797550,1.391738,1.096291,1.636495,0.642124,-0.998250,3.053631,1.721891
654_120529,R9254464,1,3,3_2,1.0,2.0,0,1,5,7.500000,...,-0.432613,1.611975,0.995050,1.056309,1.156011,-0.180843,1.239391,-5.325863,3.342447,2.135636
76_120417,R9137173,1,3,3_1,1.0,2.0,1,1,4,5.000000,...,0.326804,1.561044,-0.693230,2.267006,1.651049,0.810119,0.634079,-4.042548,3.783358,1.414760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RISK_437,R9425423,1,3,3_1,1.0,2.0,0,1,17,16.516667,...,0.831489,1.606163,1.261024,0.970229,0.885443,0.769497,-1.164219,-4.505437,3.107846,1.777936
RISK_46_rerun,R6998518,1,6,6_1,1.0,2.0,1,1,17,15.666667,...,1.210712,1.852605,0.874080,1.637173,-0.111618,1.523786,0.782975,-5.904522,1.779158,2.831715
RISK_50_rerun,R1438115,1,6,6_1,1.0,2.0,0,1,17,6.750000,...,0.865323,1.656371,1.406023,1.376175,0.480853,1.533203,-0.687184,-5.655950,2.795944,1.290207
RISK_51_rerun,R1753622,1,3,3_2,1.0,2.0,2,1,17,7.266667,...,0.394446,1.370487,0.705370,0.248185,-0.039540,0.556972,0.763065,-6.118090,2.972036,1.743947
RISK_67_rerun,R6925335,1,3,3_3,1.0,2.0,0,0,17,38.333333,...,1.053959,1.893846,1.672508,2.134204,0.823070,1.460374,-0.035521,1.167405,3.214965,1.984574

In [ ]:
unique_values_count = rosmap['individualID'].nunique()
print(f"Number of unique values in column 'XXX': {unique_values_count}")

Number of unique values in column 'XXX': 174

In [ ]:
# Intersection of Specimen ID

first_col_matrix = matrix.index.astype(str).tolist()
first_col_rosmap = rosmap.iloc[:, 0].astype(str).tolist()
intersection = set(first_col_matrix).intersection(first_col_rosmap)

# Print the number of common values
print(f'Number of common values (individuals between rosmap and gwas matrix): {len(intersection)}')

Number of common values (individuals between rosmap and gwas matrix): 127

In [ ]:
# Filter the SNPs dataset to contain only individuals present in rosmap data

In [ ]:
import pandas as pd

# Load your data
clusters_df = pd.read_csv('../ROSMAP_shap_samples_v12_4k_with_clusters.csv', index_col=0, dtype={'individualID': str})
snps_df = pd.read_pickle('rosmap_gwas_snps_matrix.pkl')
snps_df.index = snps_df.index.map(str)  # Convert index to string to match clusters_df

# Find the intersection of individual IDs between clusters and SNPs data
mutual_individuals = set(clusters_df['individualID']).intersection(snps_df.index)

# Filter the SNP matrix to include only mutual individual IDs
filtered_snps_df = snps_df.loc[list(mutual_individuals)]
print(filtered_snps_df)

# Save the filtered DataFrame to a new pickle file
filtered_snps_file_path = 'rosmap_gwas_snps_matrix_filtered.pkl'
filtered_snps_df.to_pickle(filtered_snps_file_path)

print(f"Filtered SNP matrix saved as '{filtered_snps_file_path}'. Total individuals retained: {len(mutual_individuals)}")

SNP_ID    rs72777665  rs35345466  rs11257183  rs16914105  rs7917618  \
R8882846     2.00000     1.87074         2.0         2.0    1.99940
R9823938     2.00000     0.93168         2.0         2.0    1.99988
R9064073     1.32430     0.00001         2.0         2.0    1.99811
R8059669     2.00000     0.94354         2.0         2.0    2.00000
R5955028     1.28995     0.00000         1.0         2.0    1.99906
...              ...         ...         ...         ...        ...
R6411801     2.00000     0.39161         2.0         2.0    1.99970
R1154454     2.00000     0.91812         1.0         2.0    1.99860
R4388056     2.00000     0.00006         2.0         2.0    1.99817
R7289081     1.27963     0.91665         2.0         2.0    2.00000
R8647890     2.00000     1.84956         2.0         2.0    1.99892

SNP_ID    rs2271564  rs7099368  rs920964  rs2458663  rs1177701  ...  \
R8882846        2.0        2.0   1.99299        1.0    0.99995  ...
R9823938        1.0        1.0   1.99636        1.0    0.99996  ...
R9064073        1.0        1.0   1.99875        1.0    0.99985  ...
R8059669        2.0        1.0   1.19032        1.0    0.99924  ...
R5955028        1.0        1.0   1.99829        1.0    0.99930  ...
...             ...        ...       ...        ...        ...  ...
R6411801        1.0        1.0   1.99850        1.0    0.99953  ...
R1154454        2.0        2.0   1.99618        2.0    1.99832  ...
R4388056        1.0        1.0   1.99748        1.0    0.99984  ...
R7289081        2.0        0.0   2.00000        0.0    0.00029  ...
R8647890        1.0        1.0   1.99711        1.0    0.99987  ...

SNP_ID    rs34674752  rs12550729  rs12549149  rs11136254  rs34173062  \
R8882846     1.97098     1.99245     1.99342     1.99191     1.83652
R9823938     1.87909     1.02815     1.04426     1.04467     1.92940
R9064073     1.85465     1.99635     1.99558     1.99554     1.85657
R8059669     1.88461     1.99685     1.99575     1.99595     1.85235
R5955028     1.89261     1.99625     1.99509     1.99512     1.85162
...              ...         ...         ...         ...         ...
R6411801     1.96954     1.03483     1.03643     1.03641     1.91152
R1154454     1.89254     1.99626     1.99268     1.99390     1.87930
R4388056     1.85661     1.99514     1.99405     1.99415     1.86772
R7289081     1.92364     1.88556     1.88636     1.88593     1.89398
R8647890     1.75589     1.99338     1.99538     1.99399     1.85971

SNP_ID    rs36137267  rs6606291  rs12337435  rs12343184  rs28886421
R8882846     0.19670    1.89330     1.00483     1.00133     2.00000
R9823938     1.99527    1.90010     1.99993     1.99999     1.98052
R9064073     1.00758    1.88619     1.99917     1.99921     1.99292
R8059669     0.10968    1.89351     0.97233     0.97255     1.98956
R5955028     0.09067    1.88484     1.99981     1.99981     2.00000
...              ...        ...         ...         ...         ...
R6411801     0.05936    1.89518     1.99998     1.99997     1.98740
R1154454     1.99030    1.88489     1.05079     1.04924     2.00000
R4388056     0.07189    1.88619     1.01965     1.00239     1.99281
R7289081     0.99844    1.88121     0.00869     0.00232     1.98999
R8647890     1.93522    1.89330     1.99929     1.99944     1.99009

[127 rows x 2965 columns]
Filtered SNP matrix saved as 'rosmap_gwas_snps_matrix_filtered.pkl'. Total individuals retained: 127

In [ ]:
# Filter the dataset to remove columns with one unique value

In [ ]:
import pandas as pd
df = pd.read_pickle("rosmap_gwas_snps_matrix_filtered.pkl")

# Find columns with only one unique value
single_value_columns = [col for col in df.columns if df[col].nunique() == 1]
print(f"Number of columns with only one unique value: {len(single_value_columns)}")

# Remove these columns from the DataFrame
df_filtered = df.drop(columns=single_value_columns)

# Save the filtered DataFrame to a pickle file
df_filtered.to_pickle('rosmap_gwas_snps_matrix_filtered_final.pkl')

print("Filtered DataFrame saved as 'rosmap_gwas_snps_matrix_filtered_final.pkl'.")

Number of columns with only one unique value: 397
Filtered DataFrame saved as 'rosmap_gwas_snps_matrix_filtered_final.pkl'.

# GWAS data (MSBB)

## 1. Plink files and obtaining iid-snps matrix

In [ ]:
# plink files

In [2]:
import pandas as pd
import numpy as np
from pyplink import PyPlink
import pickle


plink_file_prefix = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_plink_files/AMP-AD_MSBB_MSSM_IlluminaHiSeq2500_WES_QCed"
output_dir = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_plink_files/"


with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD.pkl', 'rb') as f:
    gene_variants_dict = pickle.load(f)
    
# Create a set to store unique SNP identifiers
valid_snp_ids_phenotype = set()
# Loop through each list in the dictionary and add all items to the set
for snp_list in gene_variants_dict.values():
    valid_snp_ids_phenotype.update(snp_list)

 
        
try:
    # Load BIM and FAM files
    with PyPlink(plink_file_prefix) as plink:
        bim = plink.get_bim()
        fam = plink.get_fam()

    # Create DataFrames but only keep relevant columns
    bim_df = pd.DataFrame(bim)
    fam_df = pd.DataFrame(fam) 

    
    print("BIM and FAM files loaded successfully.")

    # Handle Missing rsIDs and '*' Alleles
    bim_df['a1'] = bim_df['a1'].replace('*', 'unknown')
    bim_df['a2'] = bim_df['a2'].replace('*', 'unknown')

    # Assuming the custom format is [Chromosome Number]:[Coordinate], as stated in README
    # bim_df['snp'] = bim_df.apply(lambda row: f"chr{row['chrom']}:{row['pos']}" if pd.isna(row['snp']) else row['snp'], axis=1)

    print("BIM DataFrame processed successfully.")

    # Extract Genotypes
    genotypes = []
    with PyPlink(plink_file_prefix) as plink:
        for gt in plink:
            genotypes.append(gt[1])  # Store genotype array

    genotypes_arr = np.array(genotypes, dtype='int8').T  # Transpose to have individuals as rows and SNPs as columns
    print("Genotype array created successfully.")

    # Identify SNPs to keep (i.e., without any -1 values across all samples)
    snps_without_missing_values_mask = np.all(genotypes_arr != -1, axis=0)

    # Identify SNPs with known alleles (i.e., not 'unknown')
    known_alleles_mask = (bim_df['a1'] != 'unknown') & (bim_df['a2'] != 'unknown')

    # Combine the masks to identify SNPs to keep
    snps_to_keep_mask = snps_without_missing_values_mask & known_alleles_mask & bim_df.index.isin(valid_snp_ids_phenotype) # It's a boolean!

    # Check the number of SNPs to keep (number of True values)
    num_snps_to_keep = np.sum(snps_to_keep_mask)
    print(f"Number of SNPs to keep: {num_snps_to_keep}")

    # Check the total number of SNPs
    total_snps = len(snps_to_keep_mask)
    print(f"Total number of SNPs: {total_snps}")

    # Optionally, print the proportion of SNPs to keep
    proportion_snps_to_keep = num_snps_to_keep / total_snps
    print(f"Proportion of SNPs to keep: {proportion_snps_to_keep:.2f}")

    # Get the list of SNP IDs to keep
    snps_to_keep = bim_df.index[snps_to_keep_mask].tolist()

    # Filter the genotype array to keep only SNPs without any -1 values and with known alleles
    genotypes_filtered = genotypes_arr[:, snps_to_keep_mask]

    # Create a DataFrame with EPR identifiers as rows and SNPs as columns
    final_df = pd.DataFrame(genotypes_filtered, index=fam_df['iid'], columns=snps_to_keep)


    print(f"Final DataFrame shape: {final_df.shape}")

    # Extract base name for the output files
    base_name = "MSBB_genotypes"

    final_df.to_csv(f'{output_dir}{base_name}.csv')
    
    print("DataFrame has been saved in chunks as csv files.")

except Exception as e:
    print(f"An error occurred: {e}")

BIM and FAM files loaded successfully.
BIM DataFrame processed successfully.
Genotype array created successfully.
Number of SNPs to keep: 991
Total number of SNPs: 117132
Proportion of SNPs to keep: 0.01
Final DataFrame shape: (344, 991)
DataFrame has been saved in chunks as csv files.

In [22]:
df = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_plink_files/MSBB_genotypes.csv")
df

,iid,rs1889854,rs41278972,rs11121172,rs1058766,rs2784735,rs201922249,rs13596,rs74568545,rs2252865,...,rs417301,rs422803,rs400852,rs370850,rs144355331,rs9981768,rs428785,rs409630,rs445784,rs434857
0,BM_10_1084,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,BM_10_1121,0,0,1,1,1,0,1,0,1,...,0,0,1,0,0,0,0,1,0,0
2,BM_10_1122,0,0,1,1,1,0,1,0,1,...,1,1,1,1,0,0,1,1,1,1
3,BM_10_967,0,0,1,1,1,0,1,0,1,...,0,0,2,0,0,0,0,1,0,0
4,BM_22_1000,0,0,1,1,1,0,1,0,1,...,1,1,1,1,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,hB_DNA_13208,1,0,0,0,2,0,0,0,0,...,1,1,0,1,0,0,1,0,1,1
340,hB_DNA_13223,0,0,1,1,1,1,1,0,1,...,0,0,0,0,0,1,0,0,0,0
341,hB_DNA_13233,0,0,1,1,1,0,1,0,1,...,1,1,0,1,0,0,1,0,1,1
342,hB_DNA_13239,0,0,1,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
343,hB_DNA_9064,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# GWAS data (Mayo)

## 1. Plink files and obtaining iid-snps matrix

In [ ]:
# If the code fails, don't transpose it at first (the genotype array)!
# I ran it on Mercury and it worked just fine.
# Needs revision. Go to the next code

In [ ]:
import pandas as pd
import numpy as np
from pyplink import PyPlink
import pickle


plink_file_prefix = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/Mayo_plink_files/MayoRNAseq_RNAseq_Genome-Wide_Genotypes_HRCimputed"
output_dir = "/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/Mayo_plink_files/"


with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_variants_dict = pickle.load(f)
    
# Create a set to store unique SNP identifiers
valid_snp_ids_phenotype = set()
# Loop through each list in the dictionary and add all items to the set
for snp_list in gene_variants_dict.values():
    valid_snp_ids_phenotype.update(snp_list)

 
        
try:
    # Load BIM and FAM files
    with PyPlink(plink_file_prefix) as plink:
        bim = plink.get_bim()
        fam = plink.get_fam()

    # Create DataFrames but only keep relevant columns
    bim_df = pd.DataFrame(bim)
    fam_df = pd.DataFrame(fam) 

    
    print("BIM and FAM files loaded successfully.")

    # Handle Missing rsIDs and '*' Alleles
    bim_df['a1'] = bim_df['a1'].replace('*', 'unknown')
    bim_df['a2'] = bim_df['a2'].replace('*', 'unknown')

    # Assuming the custom format is [Chromosome Number]:[Coordinate], as stated in README
    # bim_df['snp'] = bim_df.apply(lambda row: f"chr{row['chrom']}:{row['pos']}" if pd.isna(row['snp']) else row['snp'], axis=1)

    print("BIM DataFrame processed successfully.")

    # Extract Genotypes
    genotypes = []
    with PyPlink(plink_file_prefix) as plink:
        for gt in plink:
            genotypes.append(gt[1])  # Store genotype array

    genotypes_arr = np.array(genotypes, dtype='int8').T  # Transpose to have individuals as rows and SNPs as columns
    print("Genotype array created successfully.")

    # Identify SNPs to keep (i.e., without any -1 values across all samples)
    snps_without_missing_values_mask = np.all(genotypes_arr != -1, axis=0)

    # Identify SNPs with known alleles (i.e., not 'unknown')
    known_alleles_mask = (bim_df['a1'] != 'unknown') & (bim_df['a2'] != 'unknown')

    # Combine the masks to identify SNPs to keep
    snps_to_keep_mask = snps_without_missing_values_mask & known_alleles_mask & bim_df.index.isin(valid_snp_ids_phenotype) # It's a boolean!

    # Check the number of SNPs to keep (number of True values)
    num_snps_to_keep = np.sum(snps_to_keep_mask)
    print(f"Number of SNPs to keep: {num_snps_to_keep}")

    # Check the total number of SNPs
    total_snps = len(snps_to_keep_mask)
    print(f"Total number of SNPs: {total_snps}")

    # Optionally, print the proportion of SNPs to keep
    proportion_snps_to_keep = num_snps_to_keep / total_snps
    print(f"Proportion of SNPs to keep: {proportion_snps_to_keep:.2f}")

    # Get the list of SNP IDs to keep
    snps_to_keep = bim_df.index[snps_to_keep_mask].tolist()

    # Filter the genotype array to keep only SNPs without any -1 values and with known alleles
    genotypes_filtered = genotypes_arr[:, snps_to_keep_mask]

    # Create a DataFrame with EPR identifiers as rows and SNPs as columns
    final_df = pd.DataFrame(genotypes_filtered, index=fam_df['iid'], columns=snps_to_keep)


    print(f"Final DataFrame shape: {final_df.shape}")

    # Extract base name for the output files
    base_name = "MAYO_genotypes"

    final_df.to_csv(f'{output_dir}{base_name}.csv')
    
    print("DataFrame has been saved in chunks as csv files.")

except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# The challenge is that the index of bim_df are not snp IDs, they are locations of the snps. So they need to be mapped
# There is another file for mapping purposes
# Revised code:

In [ ]:
import pandas as pd
import numpy as np
from pyplink import PyPlink
import pickle


plink_file_prefix = "/home/vmottaqi/rnaseq_synapse/Mayo_plink_files/MayoRNAseq_RNAseq_Genome-Wide_Genotypes_HRCimputed"
output_dir = "/home/vmottaqi/rnaseq_synapse/Mayo_plink_files/"


with open('/home/vmottaqi/rnaseq_synapse/Mayo_plink_files/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_variants_dict = pickle.load(f)


snp_mapping_file_path = '/home/vmottaqi/rnaseq_synapse/Mayo_plink_files/mayornaseq_rnaseq_genome-wide_genotypes_hrcimputed_variantidkey.txt'  # Adjust the path to where your SNP mapping file is stored
mapping_df = pd.read_csv(snp_mapping_file_path, sep='\t')  # Assuming tab-separated values

# Create the mapping dictionary
pos_to_snp = {f"{row['CHR']}:{row['BP']}": row['SNP'] for index, row in mapping_df.iterrows()}
 
    
# Create a set to store unique SNP identifiers
valid_snp_ids_phenotype = set()
# Loop through each list in the dictionary and add all items to the set
for snp_list in gene_variants_dict.values():
    valid_snp_ids_phenotype.update(snp_list)

 
        
try:
    # Load BIM and FAM files
    with PyPlink(plink_file_prefix) as plink:
        bim = plink.get_bim()
        fam = plink.get_fam()

    # Create DataFrames but only keep relevant columns
    bim_df = pd.DataFrame(bim)
    bim_df.index = [pos_to_snp.get(idx, idx) for idx in bim_df.index]
    
    fam_df = pd.DataFrame(fam) 

    print("BIM and FAM files loaded successfully.")

    # Handle Missing rsIDs and '*' Alleles
    bim_df['a1'] = bim_df['a1'].replace('*', 'unknown')
    bim_df['a2'] = bim_df['a2'].replace('*', 'unknown')

    # Assuming the custom format is [Chromosome Number]:[Coordinate], as stated in README
    # bim_df['snp'] = bim_df.apply(lambda row: f"chr{row['chrom']}:{row['pos']}" if pd.isna(row['snp']) else row['snp'], axis=1)

    print("BIM DataFrame processed successfully.")

    # Extract Genotypes
    genotypes = []
    with PyPlink(plink_file_prefix) as plink:
        for gt in plink:
            genotypes.append(gt[1])  # Store genotype array

    genotypes_arr = np.array(genotypes, dtype='int8').T  # Transpose to have individuals as rows and SNPs as columns
    print("Genotype array created successfully.")

    # Identify SNPs to keep (i.e., without any -1 values across all samples)
    snps_without_missing_values_mask = np.all(genotypes_arr != -1, axis=0)

    # Identify SNPs with known alleles (i.e., not 'unknown')
    known_alleles_mask = (bim_df['a1'] != 'unknown') & (bim_df['a2'] != 'unknown')

    # Combine the masks to identify SNPs to keep
    snps_to_keep_mask = snps_without_missing_values_mask & known_alleles_mask & bim_df.index.isin(valid_snp_ids_phenotype) # It's a boolean!

    # Check the number of SNPs to keep (number of True values)
    num_snps_to_keep = np.sum(snps_to_keep_mask)
    print(f"Number of SNPs to keep: {num_snps_to_keep}")

    # Check the total number of SNPs
    total_snps = len(snps_to_keep_mask)
    print(f"Total number of SNPs: {total_snps}")

    # Optionally, print the proportion of SNPs to keep
    proportion_snps_to_keep = num_snps_to_keep / total_snps
    print(f"Proportion of SNPs to keep: {proportion_snps_to_keep:.2f}")

    # Get the list of SNP IDs to keep
    snps_to_keep = bim_df.index[snps_to_keep_mask].tolist()

    # Filter the genotype array to keep only SNPs without any -1 values and with known alleles
    genotypes_filtered = genotypes_arr[:, snps_to_keep_mask]

    # Create a DataFrame with EPR identifiers as rows and SNPs as columns
    final_df = pd.DataFrame(genotypes_filtered, index=fam_df['iid'], columns=snps_to_keep)


    print(f"Final DataFrame shape: {final_df.shape}")

    # Extract base name for the output files
    base_name = "MAYO_genotypes"

    final_df.to_csv(f'{output_dir}{base_name}.csv')
    
    print("DataFrame has been saved in chunks as csv files.")

except Exception as e:
    print(f"An error occurred: {e}")

# Harmonizing three GWAS data (did not work)

## 1. checking

In [1]:
import pandas as pd

# Load the CSV files into DataFrames
df1 = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MAYO_genotypes.csv')
df2 = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MSBB_genotypes.csv')
df3 = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/ROSMAP_genotypes.csv')

# Get the column names from each DataFrame
cols_df1 = set(df1.columns)
cols_df2 = set(df2.columns)
cols_df3 = set(df3.columns)

# Print the number of columns in each DataFrame
print("Number of columns in MAYO file:", len(cols_df1))
print("Number of columns in MSBB file:", len(cols_df2))
print("Number of columns in ROSMAP file:", len(cols_df3))

# Calculate intersections of column names
intersection_all = cols_df1 & cols_df2 & cols_df3
intersection_12 = cols_df1 & cols_df2
intersection_13 = cols_df1 & cols_df3
intersection_23 = cols_df2 & cols_df3

# Print the number of common columns
print("Common columns across all three files:", len(intersection_all))
print("Common columns between MAYO and MSBB files:", len(intersection_12))
print("Common columns between MAYO and ROSMAP files:", len(intersection_13))
print("Common columns between MSBB and ROSMAP files:", len(intersection_23))

Number of columns in MAYO file: 5099
Number of columns in MSBB file: 992
Number of columns in ROSMAP file: 429
Common columns across all three files: 38
Common columns between MAYO and MSBB files: 446
Common columns between MAYO and ROSMAP files: 427
Common columns between MSBB and ROSMAP files: 38

In [2]:
df1.shape

(303, 5099)

In [10]:
# Load the gene-SNP mapping dictionary from pickle file
with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snp_dict = pickle.load(f)

# Find unique genes corresponding to the intersecting SNP IDs
unique_genes = set()
for gene, snps in gene_snp_dict.items():
    if set(snps).intersection(intersection_all):  # If any SNP in common_snps is also in this gene's SNP list
        unique_genes.add(gene)

# Print the number of unique genes found
print(f"Number of unique genes corresponding to the common SNP IDs: {len(unique_genes)}")

Number of unique genes corresponding to the common SNP IDs: 23

In [12]:
for i in unique_genes:
    print(i)

ENSG00000080815
ENSG00000136717
ENSG00000046604
ENSG00000086288
ENSG00000120899
ENSG00000165806
ENSG00000107736
ENSG00000029725
ENSG00000203710
ENSG00000159640
ENSG00000119684
ENSG00000064687
ENSG00000152223
ENSG00000197943
ENSG00000198796
ENSG00000102935
ENSG00000168918
ENSG00000114805
ENSG00000168769
ENSG00000141252
ENSG00000140090
ENSG00000137642
ENSG00000186153

# Identify enriched SNPs in rosmap cluster

## 1. ROSMAP

### 1. Checking

In [3]:
# The old raw file
import pandas as pd
data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/ROSMAP_genotypes.csv', index_col=0)
data

,rs12754538,rs302719,rs301800,rs172531,rs301801,rs12136766,rs12025126,rs11121221,rs11586056,rs7546225,...,rs2455069,rs1803254,rs1884910,rs2829996,rs440666,rs3737413,rs3737416,rs2830031,rs2154482,rs455047
iid,,,,,,,,,,,,,,,,,,,,,
ROS20275399,0,0,1,0,0,2,1,0,0,0,...,1,0,1,0,0,1,0,0,0,0
ROS10442701,1,0,0,0,0,1,1,1,1,0,...,0,2,0,0,0,0,0,0,0,0
ROS20152393,0,1,1,1,1,1,0,1,1,1,...,0,0,0,0,0,1,0,0,0,0
ROS20626558,0,1,1,1,1,1,0,0,0,1,...,0,0,1,0,0,0,1,1,1,1
ROS15176592,1,0,1,0,0,1,1,1,1,0,...,1,0,2,0,1,0,0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MAP50408491,2,0,0,0,0,1,1,1,1,0,...,2,0,0,0,0,1,0,1,2,2
MAP42063693,0,0,1,0,0,2,0,1,1,0,...,0,2,1,0,0,0,0,0,0,0
MAP50405330,0,1,0,1,1,0,0,0,1,1,...,0,0,1,1,1,2,0,1,1,1
ROS20254452,0,1,0,1,1,2,0,2,2,0,...,2,0,0,0,1,0,0,0,1,1
ROS20701008,0,0,0,0,0,2,0,2,2,0,...,1,0,0,0,1,0,0,0,0,0

In [14]:
# The dosage processed file
data = pd.read_pickle("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/rosmap_gwas_snps_matrix.pkl")
# Set the first column as the index
data

SNP_ID,rs72777665,rs35345466,rs11257183,rs16914105,rs7917618,rs2271564,rs7099368,rs920964,rs2458663,rs1177701,...,rs34674752,rs12550729,rs12549149,rs11136254,rs34173062,rs36137267,rs6606291,rs12337435,rs12343184,rs28886421
R3627269,2.00000,0.93633,1.0,1.0,2.00000,1.0,0.0,2.00000,1.0,1.00000,...,1.67278,1.99141,1.99307,1.99163,1.88831,1.02021,1.89330,1.00350,1.00089,2.00000
R6655598,2.00000,0.26569,2.0,2.0,1.99896,1.0,1.0,1.99729,1.0,0.99990,...,1.95673,1.98918,1.98849,1.98779,1.90800,1.01901,1.88121,1.00536,1.00113,1.98999
R7540069,2.00000,0.03411,2.0,2.0,1.99931,2.0,2.0,1.99272,2.0,1.99984,...,1.95586,1.99446,1.99502,1.99358,1.83608,0.98175,1.88121,1.99921,1.99937,1.99000
R5789564,2.00000,0.93413,1.0,2.0,1.99999,2.0,1.0,1.21695,1.0,1.00008,...,1.96835,1.00098,0.99897,0.99872,1.92303,1.01908,1.88121,0.02163,0.01343,1.97996
R7047807,2.00000,0.95241,2.0,2.0,1.99999,1.0,1.0,1.21641,1.0,0.99986,...,1.97187,1.99207,1.99313,1.99163,1.83777,1.99010,1.88121,1.99959,1.99959,1.97997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R3649358,2.00000,1.84339,2.0,1.0,1.99992,2.0,1.0,2.00000,1.0,0.99999,...,1.96900,1.07577,1.09246,1.09309,1.93213,1.01997,1.88489,1.00376,1.00085,2.00000
R8075334,2.00000,0.91914,1.0,2.0,1.99649,1.0,1.0,2.00000,0.0,0.00012,...,1.89073,1.99686,1.99477,1.99593,1.86481,1.06632,1.88484,1.99873,1.99906,1.98954
R4847810,2.00000,1.15320,2.0,1.0,2.00000,2.0,0.0,2.00000,1.0,0.00000,...,1.96669,1.99747,1.99496,1.99598,1.84143,1.85975,1.89351,1.00267,1.00123,2.00000
R4131479,1.28922,0.16229,2.0,2.0,1.99894,1.0,1.0,1.99910,2.0,1.99850,...,1.82715,1.99638,1.99503,1.99590,1.88012,1.02561,1.89351,1.01543,1.01452,2.00000
R8093392,2.00000,0.16842,1.0,2.0,1.99820,1.0,1.0,2.00000,1.0,0.00012,...,1.96594,1.99732,1.99521,1.99551,1.83273,1.97771,1.88489,2.00000,2.00000,2.00000

In [5]:
df = pd.read_csv('rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)
df

,individualID,diagnosis,tissue,clusters,race,spanish,apoe4_allele,sex,batch,pmi,...,GJB6,CCDC183-AS1,KLF15,AGTRAP,EZR,C2orf15,LMO2,GAREM2,ZBTB16,SDSL
specimenID,,,,,,,,,,,,,,,,,,,,,
hB_RNA_4411,AMPAD_MSSM_0000077445,1,5,5_3,1.0,2.0,1,1,14,6.583333,...,-0.591848,0.142189,0.371563,0.059603,0.059281,0.274474,0.357874,0.156186,-0.074227,-0.277443
hB_RNA_12484,AMPAD_MSSM_0000034015,1,4,4_1,1.0,2.0,1,1,20,5.250000,...,0.214412,-0.187430,-0.156292,-0.190344,0.008100,0.273406,0.056397,-0.258564,-0.294504,-0.404002
hB_RNA_16295,AMPAD_MSSM_0000083367,1,5,5_2,1.0,2.0,0,0,5,15.250000,...,0.101255,-0.134110,0.138174,0.277939,0.206213,-0.942221,0.589214,-0.088010,-0.189206,-0.178790
BM_10_674,AMPAD_MSSM_0000098979,1,4,4_3,1.0,2.0,0,1,21,19.333333,...,0.307214,0.853469,0.242229,0.054418,0.095695,-0.317063,-0.177276,0.088239,0.198327,0.010501
hB_RNA_16665,AMPAD_MSSM_0000034450,1,5,5_3,1.0,2.0,0,1,6,3.583333,...,-0.173683,0.519355,0.347839,0.285156,0.130551,-0.479695,0.286889,0.250938,-0.097065,-0.094118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
hB_RNA_7775,AMPAD_MSSM_0000077061,1,8,8_3,9.0,1.0,0,1,7,5.500000,...,-0.486417,0.537512,0.348259,0.237720,-0.034479,-0.072609,0.170131,0.223767,0.276840,0.480200
BM_36_545,AMPAD_MSSM_0000076188,1,7,7_4,1.0,2.0,0,0,18,5.733333,...,-0.573104,-0.220458,0.630038,0.585316,-0.106984,0.244389,0.238596,0.207993,-0.222866,-0.566743
Sample_R6636386-AC,R6636386,1,1,1_3,1.0,2.0,0,0,13,19.500000,...,-0.091409,-0.127889,0.173018,-0.006432,0.103108,-0.426582,0.099830,0.468877,-0.164213,0.234050
hB_RNA_16935,AMPAD_MSSM_0000019543,1,5,5_2,1.0,2.0,0,1,6,8.716667,...,-0.248578,0.091338,0.059089,0.404707,0.022760,-1.116050,0.318737,0.060726,-0.201323,0.016790
BM_22_37,AMPAD_MSSM_0000031969,1,8,8_3,1.0,2.0,0,0,28,4.500000,...,-0.663021,0.322928,0.355639,0.073581,0.196544,-0.171792,0.229818,0.029503,0.365303,-0.186236

In [17]:
import pandas as pd
from scipy.stats import shapiro

# Load your data
data = pd.read_pickle("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/rosmap_gwas_snps_matrix.pkl")

# Define a function to apply Shapiro-Wilk test
def test_normality(series):
    stat, p_value = shapiro(series)
    return {'stat': stat, 'p_value': p_value}  # Return as a dictionary instead of Series

# Apply the function to each SNP column and convert to DataFrame
normality_results = pd.DataFrame(data.apply(test_normality).tolist(), index=data.columns)

# Filter results to find non-normal distributions
non_normal_snps = normality_results[normality_results['p_value'] < 0.05]

print("SNPs not normally distributed:", non_normal_snps)
print(len(non_normal_snps))
# Optionally, save the results to a CSV file
# normality_results.to_csv('shapiro_wilk_results.csv')

/tmp/ipykernel_5306/2605388292.py:9: UserWarning: scipy.stats.shapiro: Input data has range zero. The results may not be accurate.
  stat, p_value = shapiro(series)

SNPs not normally distributed:                 stat       p_value
SNP_ID
rs72777665  0.512096  5.309473e-56
rs35345466  0.789364  2.053134e-42
rs11257183  0.585989  3.427462e-53
rs16914105  0.334504  1.621988e-61
rs7917618   0.029388  1.398984e-68
...              ...           ...
rs36137267  0.831436  3.884465e-39
rs6606291   0.900559  6.370136e-32
rs12337435  0.801593  1.605247e-41
rs12343184  0.798684  9.752470e-42
rs28886421  0.886909  1.307638e-33

[2568 rows x 2 columns]
2568

In [ ]:
import matplotlib.pyplot as plt

# Assuming 'data' is your DataFrame loaded with SNP dosages
plt.figure(figsize=(7, 4))
plt.hist(data.values.flatten(), bins=150, color='blue', edgecolor='black')
plt.xlabel('SNP Dosage Value')
plt.ylabel('Frequency')
plt.title('Distribution of SNP Dosage Values Across All Individuals')

plt.savefig("./figures/ROSMAP_SNPs_dosage.png", dpi=900)
plt.show()

### 2. Tests

#### 1. Permutaiton test

In [ ]:
# 1. Permuation test (comparing mean) for each SNPs ine ach cluster compared to other individuals

In [34]:
# This code works. but is not parallelized
# Go to the next one!

import pandas as pd
import numpy as np
from scipy.stats import permutation_test

# Load your GWAS dataset and cluster data
gwas_data = pd.read_pickle("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/rosmap_gwas_snps_matrix.pkl")
clusters_data = pd.read_csv('rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

# Ensure only individuals in GWAS data are considered
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]

# Map individuals to their respective clusters
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Custom statistic function to calculate mean difference between groups
def mean_difference(group_0, group_1):
    return np.mean(group_0) - np.mean(group_1)

# Define the permutation test for each SNP
def perform_test(snp_data, cluster_label):
    # Identifying individuals in the cluster
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    # SNP data for individuals in the cluster and the rest
    group_0 = snp_data.loc[cluster_individuals].dropna()
    group_1 = snp_data.drop(cluster_individuals).dropna()

    # Check if both groups have data
    if not group_0.empty and not group_1.empty:
        # Perform the permutation test
        result = permutation_test([group_0, group_1], statistic=mean_difference,
                                  n_resamples=100, alternative='two-sided')
        return result.pvalue
    return np.nan  # Return NaN if insufficient data

# Perform the test across all SNPs for each cluster
results = {}
for cluster_label in clusters_data['clusters'].unique():
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    enriched_snps = {}
    for snp in gwas_data.columns:
        p_value = perform_test(gwas_data[snp], cluster_label)
        if p_value < 0.05:  # Threshold for significance
            enriched_snps[snp] = p_value

    # Collect results for this cluster
    results[cluster_label] = {
        'num_individuals': len(cluster_individuals),
        'num_enriched_snps': len(enriched_snps),
        'enriched_snps': list(enriched_snps.keys())
    }

# Optionally, convert results to a DataFrame and save or print
results_df = pd.DataFrame.from_dict(results, orient='index')
print(results_df)
# results_df.to_csv('enrichment_analysis_results.csv')  # Save the results

     num_individuals  num_enriched_snps  \
1_4               17                102
1_3                8                 95
3_2               16                 88
6_3                7                 87
6_4                4                 72
3_4               13                 90
6_1                4                 66
3_3               23                 89
1_2               13                 69
3_1               12                 64
1_1                2                 86
6_2                6                 49

                                         enriched_snps
1_4  [rs74147331, rs1665627, rs12415873, rs10762476...
1_3  [rs4747187, rs41281328, rs10823843, rs45583140...
3_2  [rs41281330, rs11000013, rs12280714, rs9740460...
6_3  [rs56216952, rs3747862, rs17712523, rs10823847...
6_4  [rs7923245, rs2194962, rs997154, rs362392, rs7...
3_4  [rs71012280, rs4747187, rs12415873, rs10762476...
6_1  [rs74147053, rs7131265, rs3025786, rs362389, r...
3_3  [rs72777665, rs41281302, rs58963811, rs7414567...
1_2  [rs4944550, rs17817690, rs694353, rs72951266, ...
3_1  [rs2227310, rs1127687, rs11246379, rs55743056,...
1_1  [rs7917781, rs7232, rs10467994, rs12915052, rs...
6_2  [rs736717, rs1665627, rs74145284, rs1227051, r...

In [ ]:
# Parallelazing the code
# The next code also maps the snps to genes

import pandas as pd
import numpy as np
from scipy.stats import permutation_test
from joblib import Parallel, delayed

# Load your GWAS dataset and cluster data
gwas_data = pd.read_pickle("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/rosmap_gwas_snps_matrix.pkl")
clusters_data = pd.read_csv('rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

# Ensure only individuals in GWAS data are considered
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]

# Map individuals to their respective clusters
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Custom statistic function to calculate mean difference between groups
def mean_difference(group_0, group_1):
    return np.mean(group_0) - np.mean(group_1)

# Define the permutation test for each SNP
def perform_test(snp_data, cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    group_0 = snp_data.loc[cluster_individuals].dropna()
    group_1 = snp_data.drop(cluster_individuals).dropna()
    if not group_0.empty and not group_1.empty:
        result = permutation_test([group_0, group_1], statistic=mean_difference,
                                  n_resamples=100, alternative='two-sided')
        return result.pvalue
    return np.nan  # Return NaN if insufficient data

# Function to process each cluster
def process_cluster(cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    enriched_snps = {snp: perform_test(gwas_data[snp], cluster_label) for snp in gwas_data.columns
                     if perform_test(gwas_data[snp], cluster_label) < 0.05}
    return {
        'num_individuals': len(cluster_individuals),
        'num_enriched_snps': len(enriched_snps),
        'enriched_snps': list(enriched_snps.keys())
    }

# Perform the test across all SNPs for each cluster in parallel
results = Parallel(n_jobs=8)(delayed(process_cluster)(cluster_label) for cluster_label in clusters_data['clusters'].unique())

# Converting results to a DataFrame for better readability and storage
results_df = pd.DataFrame.from_dict({i: results[i] for i in range(len(results))}, orient='index')
print(results_df)
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/enrichment_analysis_results.csv')  # Save the results

In [1]:
# The complete code

import pandas as pd
import numpy as np
from scipy.stats import permutation_test
from joblib import Parallel, delayed
import pickle

# Load your GWAS dataset and cluster data
gwas_data = pd.read_pickle("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/rosmap_gwas_snps_matrix.pkl")
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snps_dict = pickle.load(f)

# Ensure only individuals in GWAS data are considered
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]

# Map individuals to their respective clusters
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Convert 'individualID' in clusters_data back to a list for filtering GWAS data
individuals_in_clusters = clusters_data['individualID'].unique()

# Filter GWAS data to include only those individuals that are present in clusters_data
gwas_data = gwas_data[gwas_data.index.isin(individuals_in_clusters)]

# Custom statistic function to calculate mean difference between groups
def mean_difference(group_0, group_1):
    return np.mean(group_0) - np.mean(group_1)

# Define the permutation test for each SNP
def perform_test(snp_data, cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    group_0 = snp_data.loc[cluster_individuals].dropna()
    group_1 = snp_data.drop(cluster_individuals).dropna()
    if not group_0.empty and not group_1.empty:
        result = permutation_test([group_0, group_1], statistic=mean_difference, n_resamples=5000, alternative='two-sided')
        return result.pvalue
    return np.nan  # Return NaN if insufficient data

# Function to process each cluster
def process_cluster(cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    enriched_snps = {snp: perform_test(gwas_data[snp], cluster_label) for snp in gwas_data.columns if perform_test(gwas_data[snp], cluster_label) < 0.05}
    return {
        'num_individuals': len(cluster_individuals),
        'num_enriched_snps': len(enriched_snps),
        'enriched_snps': list(enriched_snps.keys())
    }

# Perform the test across all SNPs for each cluster in parallel
results = Parallel(n_jobs=8)(delayed(process_cluster)(cluster_label) for cluster_label in clusters_data['clusters'].unique())

# Converting results to a DataFrame for better readability and storage
cluster_labels = clusters_data['clusters'].unique()
results_df = pd.DataFrame(results, index=cluster_labels)

# Create a reverse dictionary mapping SNPs to genes
snp_to_gene = {}
for gene, snps in gene_snps_dict.items():
    for snp in snps:
        snp_to_gene[snp] = gene

# Define a function to map enriched SNPs to genes for each cluster
def map_snps_to_genes(snps):
    genes = set()
    for snp in snps:  # Iterate directly over the list of SNPs
        if snp in snp_to_gene:
            genes.add(snp_to_gene[snp])
    return list(genes)

# Apply the mapping function to each row in the DataFrame
results_df['enriched_genes'] = results_df['enriched_snps'].apply(map_snps_to_genes)

# Add a new column that counts the number of enriched genes
results_df['num_enriched_genes'] = results_df['enriched_genes'].apply(len)

# Save the updated DataFrame with enriched genes information
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/ROSMAP_enrichment_permutation_test.csv')
print("Result saved")

In [3]:
clusters_data

,individualID,diagnosis,tissue,clusters,race,spanish,apoe4_allele,sex,batch,pmi,...,GJB6,CCDC183-AS1,KLF15,AGTRAP,EZR,C2orf15,LMO2,GAREM2,ZBTB16,SDSL
specimenID,,,,,,,,,,,,,,,,,,,,,
Sample_R8647890-AC,R8647890,1,1,1_4,1.0,2.0,1,0,13,2.250000,...,0.305809,0.298951,0.060369,0.190811,0.343236,-0.339374,0.072431,0.393750,-0.271398,-0.968801
Sample_2229-AC,R4379962,1,1,1_3,1.0,2.0,0,0,12,13.250000,...,0.403602,0.692424,0.162744,0.477700,0.535048,-0.256406,-0.003022,0.547781,-0.078892,-0.752866
Sample_R1088362-AC,R1088362,1,1,1_4,1.0,2.0,0,1,13,4.500000,...,0.214525,0.276553,0.477291,0.018913,0.216547,0.632888,-0.168667,0.373556,0.243348,-0.900120
489_120515,R6759986,1,3,3_2,1.0,2.0,1,1,2,6.000000,...,0.129326,-1.113675,0.013404,-0.284784,-0.352171,-0.669218,-1.053789,0.455701,1.182332,-0.705627
Sample_R7438391-PCC,R7438391,1,6,6_3,1.0,2.0,0,1,13,7.083333,...,0.490246,-0.444905,-0.420647,-0.531176,-0.124282,0.117178,-1.168445,0.190561,1.050844,-1.597855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407_120503,R5965031,1,3,3_1,1.0,2.0,1,0,5,3.916667,...,-0.267300,-0.128486,-0.088224,0.119939,-0.662558,0.845510,-1.497949,0.391434,1.467315,-0.904326
Sample_R1954385-DLPFC,R1954385,1,3,3_3,1.0,2.0,1,1,13,4.916667,...,-1.039719,-0.235297,-0.951014,-0.630098,-1.030857,0.369308,-0.284054,-0.292977,0.795074,-1.582413
554_120517,R8072902,1,3,3_1,1.0,2.0,0,1,4,7.166667,...,-1.050341,-0.365846,-0.618826,-0.932449,-0.567800,-0.478003,-0.588939,0.152543,1.177815,-0.386211
289_120430,R4379962,1,3,3_1,1.0,2.0,0,0,6,13.250000,...,-0.091905,0.102882,-0.577305,-0.282938,-0.117743,0.441386,-1.247467,0.426038,1.111649,-0.806289
Sample_R6636386-AC,R6636386,1,1,1_3,1.0,2.0,0,0,13,19.500000,...,-0.091409,-0.127889,0.173018,-0.006432,0.103108,-0.426582,0.099830,0.468877,-0.164213,0.234050

#### 2. Mann-Whitney U test

In [ ]:
# 2. Mann-Whitney U test from scipy.stats

In [ ]:
# The complete code
# With mapping of snps to genes

import pandas as pd
import numpy as np
from scipy.stats import mannwhitneyu
import pickle

# Load your GWAS dataset and cluster data
gwas_data = pd.read_pickle("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/rosmap_gwas_snps_matrix.pkl")
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snps_dict = pickle.load(f)


# Ensure only individuals in GWAS data are considered
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]

# Map individuals to their respective clusters
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Define the Mann-Whitney U test function for each SNP
def perform_test(snp_data, cluster_label):
    # Identifying individuals in the cluster
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    # SNP data for individuals in the cluster
    group_0 = snp_data.loc[cluster_individuals].dropna()
    # SNP data for the rest
    group_1 = snp_data.drop(cluster_individuals).dropna()
    
    # Ensure both groups have data for comparison
    if not group_0.empty and not group_1.empty:
        # Perform the Mann-Whitney U test
        result = mannwhitneyu(group_0, group_1, alternative='two-sided')
        return result.pvalue
    return np.nan  # Return NaN if insufficient data

# Apply the Mann-Whitney U test across all SNPs for each cluster
results = {}
for cluster_label in clusters_data['clusters'].unique():
    enriched_snps = {}
    for snp in gwas_data.columns:
        p_value = perform_test(gwas_data[snp], cluster_label)
        if p_value < 0.05:  # Using a significance threshold of 0.05
            enriched_snps[snp] = p_value

    # Store results for this cluster
    results[cluster_label] = {
        'num_individuals': len(individual_to_cluster[individual_to_cluster == cluster_label]),
        'num_enriched_snps': len(enriched_snps),
        'enriched_snps': list(enriched_snps.keys())
    }

# Optionally, convert results to a DataFrame and save or print
results_df = pd.DataFrame.from_dict(results, orient='index')
# print(results_df)
# results_df.to_csv('enrichment_analysis_results.csv')  # Save the results


# Create a reverse dictionary mapping SNPs to genes
snp_to_gene = {}
for gene, snps in gene_snps_dict.items():
    for snp in snps:
        snp_to_gene[snp] = gene

# Define a function to map enriched SNPs to genes for each cluster
def map_snps_to_genes(snps):
    genes = set()
    for snp in snps:  # Iterate directly over the list of SNPs
        if snp in snp_to_gene:
            genes.add(snp_to_gene[snp])
    return list(genes)

# Apply the mapping function to each row in the DataFrame
results_df['enriched_genes'] = results_df['enriched_snps'].apply(map_snps_to_genes)

# Add a new column that counts the number of enriched genes
results_df['num_enriched_genes'] = results_df['enriched_genes'].apply(len)

# Save the updated DataFrame with enriched genes information
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/ROSMAP_enrichment_Mann-Whitney_test.csv')
print("Result saved")

## MSBB and MAYO (categorical vars)

### 1. MSBB

Chi2 squared test (did not work/be used)

In [13]:
# Not important. Just for checking purposes

import pandas as pd

# Load your GWAS dataset and cluster data
gwas_data = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MSBB_genotypes.csv", index_col=0)
# Load the mapping file
mapping_file = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_WES_covariates.tsv', sep='\t', index_col=0)  # Adjust 'GWASIndex' if needed
# Replace GWAS data index with individual IDs using the mapping file
gwas_data.index = gwas_data.index.map(mapping_file['individualIdentifier.inferred'])


rnaseq_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)


# Assuming 'individualID' is the column in both dataframes that contains the identifiers
gwas_data.index = gwas_data.index.astype(str)  # Convert to string if not already
rnaseq_data['individualID'] = rnaseq_data['individualID'].astype(str)  # Convert to string if not already

# Find the intersection of individual IDs
common_individuals = set(gwas_data.index).intersection(set(rnaseq_data['individualID']))

# Print the number of common individuals
print(f"Number of individuals present in both datasets: {len(common_individuals)}")

Number of individuals present in both datasets: 142

In [93]:
import pandas as pd

# Load your GWAS dataset
gwas_data = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MSBB_genotypes.csv", index_col=0)

# Load the mapping file
mapping_file = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_WES_covariates.tsv', sep='\t', index_col=0)  # Adjust 'GWASIndex' if needed

# Replace GWAS data index with individual IDs using the mapping file
gwas_data.index = gwas_data.index.map(mapping_file['individualIdentifier.inferred'])

# Load cluster data
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

# Ensure only individuals in GWAS data are considered
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]
gwas_data = gwas_data[gwas_data.index.notna()]

# Map individuals to their respective clusters
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Continue with your analysis...

In [ ]:
mapping_file

In [ ]:
clusters_data

In [ ]:
gwas_data

In [105]:
# Correct code

import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
import pickle

# Load GWAS dataset and mapping file
gwas_data = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MSBB_genotypes.csv", index_col=0)
mapping_file = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_WES_covariates.tsv', sep='\t', index_col=0)
gwas_data.index = gwas_data.index.map(mapping_file['individualIdentifier.inferred'])

# Load and filter cluster data
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]
gwas_data = gwas_data[gwas_data.index.notna()]
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Load gene-SNP mapping
with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snps_dict = pickle.load(f)
snp_to_gene = {snp: gene for gene, snps in gene_snps_dict.items() for snp in snps}

# Function to perform the Chi-square test of independence for each SNP
def perform_test(snp_data, cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    group_0 = snp_data.loc[cluster_individuals].dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    group_1 = snp_data.drop(cluster_individuals).dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    contingency_table = np.array([group_0, group_1])
    if np.all(contingency_table.sum(axis=0) > 5):
        _, p_value, _, _ = chi2_contingency(contingency_table)
        return p_value
    return np.nan

# Analyze SNPs across clusters
results = {}
for cluster_label in clusters_data['clusters'].unique():
    enriched_snps = {}
    for snp in gwas_data.columns:
        p_value = perform_test(gwas_data[snp], cluster_label)
        if p_value is not None and p_value < 0.05:
            enriched_snps[snp] = p_value

    if enriched_snps:
        results[cluster_label] = {
            'num_individuals': len(individual_to_cluster[individual_to_cluster == cluster_label]),
            'num_enriched_snps': len(enriched_snps),
            'enriched_snps': list(enriched_snps.keys())
        }

# Output results
if results:
    results_df = pd.DataFrame.from_dict(results, orient='index')
    # Map SNPs to genes
    results_df['enriched_genes'] = results_df['enriched_snps'].apply(lambda snps: [snp_to_gene[snp] for snp in snps if snp in snp_to_gene])
    results_df['num_enriched_genes'] = results_df['enriched_genes'].apply(len)
    # Save the updated DataFrame with enriched genes information
    # results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MSBB_enrichment_chi_square_test.csv')
    print(results_df)
else:
    print("No enriched SNPs found across any clusters.")

     num_individuals  num_enriched_snps  \
5_3               36                 26
4_1               18                 16
5_2               32                 32
4_3               34                 27
8_4               17                 33
5_1               24                 27
7_1               30                 33
8_3               47                 43
8_1               37                 32
7_4               65                 34
7_2                8                 23
4_2               29                 29
7_3               32                 43
8_2               26                 18
4_4               16                 27
5_4               24                 22

                                         enriched_snps  \
5_3  [rs6846414, rs56174528, rs700494, rs6460901, r...
4_1  [rs2276579, rs72481904, rs11682128, rs14418192...
5_2  [rs11682128, rs961098, rs2219745, rs3747742, r...
4_3  [rs1060743, rs11554586, rs144181925, rs2970847...
8_4  [rs9840234, rs2970847, rs2946385, rs3112399, r...
5_1  [rs1889854, rs2784735, rs2392221, rs2276579, r...
7_1  [rs1985278, rs4844599, rs10177176, rs72934751,...
8_3  [rs2276579, rs2276575, rs2932976, rs2946385, r...
8_1  [rs3753275, rs2296160, rs11678157, rs2289022, ...
7_4  [rs2296160, rs2276579, rs3755863, rs1014001, r...
7_2  [rs3737002, rs2276579, rs72481904, rs1060743, ...
4_2  [rs2302650, rs2160394, rs7558000, rs7558001, r...
7_3  [rs1889854, rs7558000, rs7558001, rs6720741, r...
8_2  [rs11554586, rs1962796, rs3755863, rs8192678, ...
4_4  [rs11121172, rs1058766, rs2784735, rs13596, rs...
5_4  [rs3737002, rs7558000, rs7558001, rs6720741, r...

                                        enriched_genes  num_enriched_genes
5_3  [ENSG00000106460, ENSG00000106460, ENSG0000010...                  15
4_1  [ENSG00000136717, ENSG00000136717, ENSG0000013...                  13
5_2  [ENSG00000136717, ENSG00000136235, ENSG0000017...                  14
4_3  [ENSG00000136717, ENSG00000136717, ENSG0000010...                  10
8_4  [ENSG00000109819, ENSG00000221838, ENSG0000008...                  10
5_1  [ENSG00000142599, ENSG00000136717, ENSG0000016...                  16
7_1  [ENSG00000203710, ENSG00000107736, ENSG0000010...                  15
8_3  [ENSG00000136717, ENSG00000136717, ENSG0000018...                  25
8_1  [ENSG00000142599, ENSG00000168918, ENSG0000016...                  19
7_4  [ENSG00000136717, ENSG00000198087, ENSG0000008...                  23
7_2  [ENSG00000203710, ENSG00000136717, ENSG0000013...                  13
4_2  [ENSG00000136717, ENSG00000136717, ENSG0000013...                  11
7_3  [ENSG00000136717, ENSG00000136717, ENSG0000013...                  24
8_2  [ENSG00000136717, ENSG00000198087, ENSG0000022...                  11
4_4  [ENSG00000142599, ENSG00000142599, ENSG0000014...                  17
5_4  [ENSG00000203710, ENSG00000136717, ENSG0000013...                  13

In [108]:
results_df

,num_individuals,num_enriched_snps,enriched_snps,enriched_genes,num_enriched_genes
5_3,36,26,"[rs6846414, rs56174528, rs700494, rs6460901, r...","[ENSG00000106460, ENSG00000106460, ENSG0000010...",15
4_1,18,16,"[rs2276579, rs72481904, rs11682128, rs14418192...","[ENSG00000136717, ENSG00000136717, ENSG0000013...",13
5_2,32,32,"[rs11682128, rs961098, rs2219745, rs3747742, r...","[ENSG00000136717, ENSG00000136235, ENSG0000017...",14
4_3,34,27,"[rs1060743, rs11554586, rs144181925, rs2970847...","[ENSG00000136717, ENSG00000136717, ENSG0000010...",10
8_4,17,33,"[rs9840234, rs2970847, rs2946385, rs3112399, r...","[ENSG00000109819, ENSG00000221838, ENSG0000008...",10
5_1,24,27,"[rs1889854, rs2784735, rs2392221, rs2276579, r...","[ENSG00000142599, ENSG00000136717, ENSG0000016...",16
7_1,30,33,"[rs1985278, rs4844599, rs10177176, rs72934751,...","[ENSG00000203710, ENSG00000107736, ENSG0000010...",15
8_3,47,43,"[rs2276579, rs2276575, rs2932976, rs2946385, r...","[ENSG00000136717, ENSG00000136717, ENSG0000018...",25
8_1,37,32,"[rs3753275, rs2296160, rs11678157, rs2289022, ...","[ENSG00000142599, ENSG00000168918, ENSG0000016...",19
7_4,65,34,"[rs2296160, rs2276579, rs3755863, rs1014001, r...","[ENSG00000136717, ENSG00000198087, ENSG0000008...",23
7_2,8,23,"[rs3737002, rs2276579, rs72481904, rs1060743, ...","[ENSG00000203710, ENSG00000136717, ENSG0000013...",13
4_2,29,29,"[rs2302650, rs2160394, rs7558000, rs7558001, r...","[ENSG00000136717, ENSG00000136717, ENSG0000013...",11
7_3,32,43,"[rs1889854, rs7558000, rs7558001, rs6720741, r...","[ENSG00000136717, ENSG00000136717, ENSG0000013...",24
8_2,26,18,"[rs11554586, rs1962796, rs3755863, rs8192678, ...","[ENSG00000136717, ENSG00000198087, ENSG0000022...",11
4_4,16,27,"[rs11121172, rs1058766, rs2784735, rs13596, rs...","[ENSG00000142599, ENSG00000142599, ENSG0000014...",17
5_4,24,22,"[rs3737002, rs7558000, rs7558001, rs6720741, r...","[ENSG00000203710, ENSG00000136717, ENSG0000013...",13

In [109]:
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MSBB_enrichment_chi_square_test.csv')

2. Fisher exact test

In [10]:
# This code only counts the 0 and 1 values, but not 2. It needs revision

import pandas as pd
import numpy as np
from scipy.stats import fisher_exact
import pickle

# Load GWAS dataset and mapping file
gwas_data = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MSBB_genotypes.csv", index_col=0)
mapping_file = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_WES_covariates.tsv', sep='\t', index_col=0)
gwas_data.index = gwas_data.index.map(mapping_file['individualIdentifier.inferred'])

# Load and filter cluster data
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]
gwas_data = gwas_data[gwas_data.index.notna()]

# Convert 'individualID' in clusters_data back to a list for filtering GWAS data
individuals_in_clusters = clusters_data['individualID'].unique()
# Filter GWAS data to include only those individuals that are present in clusters_data
gwas_data = gwas_data[gwas_data.index.isin(individuals_in_clusters)]


individual_to_cluster = clusters_data.set_index('individualID')['clusters']


# # Load gene-SNP mapping
with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snps_dict = pickle.load(f)
# Create a reverse dictionary mapping SNPs to genes
snp_to_gene = {}
for gene, snps in gene_snps_dict.items():
    for snp in snps:
        snp_to_gene[snp] = gene

def perform_test(snp_data, cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    group_0 = snp_data.loc[cluster_individuals].dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    group_1 = snp_data.drop(cluster_individuals).dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    
    # Create a 2x2 contingency table by selecting two categories, typically [0,1]
    contingency_table = np.array([group_0.iloc[:2], group_1.iloc[:2]])
    
    if np.all(contingency_table.sum(axis=0) > 0):  # Ensure non-zero entries
        _, p_value = fisher_exact(contingency_table, 'two-sided')
        return p_value
    return np.nan

# Analyze SNPs across clusters
results = {}
for cluster_label in clusters_data['clusters'].unique():
    enriched_snps = {}
    for snp in gwas_data.columns:
        p_value = perform_test(gwas_data[snp], cluster_label)
        if p_value is not None and p_value < 0.05:
            enriched_snps[snp] = p_value

    if enriched_snps:
        results[cluster_label] = {
            'num_individuals': len(individual_to_cluster[individual_to_cluster == cluster_label]),
            'num_enriched_snps': len(enriched_snps),
            'enriched_snps': list(enriched_snps.keys())
        }

# Output results
if results:
    results_df = pd.DataFrame.from_dict(results, orient='index')
    # Map SNPs to genes and ensure uniqueness
    results_df['enriched_genes'] = results_df['enriched_snps'].apply(lambda snps: list(set(snp_to_gene.get(snp, "Unknown") for snp in snps)))
    results_df['num_enriched_genes'] = results_df['enriched_genes'].apply(len)
    
else:
    print("No enriched SNPs found across any clusters.")

In [9]:
gwas_data

,rs1889854,rs41278972,rs11121172,rs1058766,rs2784735,rs201922249,rs13596,rs74568545,rs2252865,rs3753275,...,rs417301,rs422803,rs400852,rs370850,rs144355331,rs9981768,rs428785,rs409630,rs445784,rs434857
iid,,,,,,,,,,,,,,,,,,,,,
AMPAD_MSSM_0000056061,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
AMPAD_MSSM_0000064526,0,0,1,1,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,0,0
AMPAD_MSSM_0000064456,0,0,0,0,0,0,0,1,0,2,...,2,2,0,2,0,0,2,0,2,2
AMPAD_MSSM_0000056537,1,0,1,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
AMPAD_MSSM_0000014947,1,0,0,0,1,0,0,0,0,1,...,1,1,1,1,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AMPAD_MSSM_0000098244,2,1,0,0,2,0,0,0,0,0,...,0,0,2,0,0,0,0,1,0,0
AMPAD_MSSM_0000082228,1,0,0,0,2,0,0,0,0,0,...,1,1,0,1,0,0,1,0,1,1
AMPAD_MSSM_0000007155,0,0,1,1,1,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
AMPAD_MSSM_0000059347,0,0,1,1,1,0,1,0,1,0,...,1,1,0,1,0,0,1,0,1,1
AMPAD_MSSM_0000081316,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
results_df

,num_individuals,num_enriched_snps,enriched_snps,enriched_genes,num_enriched_genes
5_3,36,37,"[rs3753275, rs2276575, rs1045487, rs1045494, r...","[ENSG00000081014, ENSG00000165916, ENSG0000013...",20
4_1,18,20,"[rs377520654, rs2276579, rs72481904, rs1168212...","[ENSG00000136717, Unknown, ENSG00000156170, EN...",6
5_2,32,36,"[rs201922249, rs7558000, rs7558001, rs6720741,...","[ENSG00000085514, ENSG00000137845, ENSG0000013...",14
4_3,34,43,"[rs1889854, rs1060743, rs17860433, rs2970847, ...","[ENSG00000085514, ENSG00000107736, ENSG0000006...",16
8_4,17,43,"[rs201922249, rs61734514, rs41274768, rs140275...","[ENSG00000107736, ENSG00000136717, Unknown, EN...",9
5_1,24,28,"[rs1889854, rs2784735, rs2276579, rs6706611, r...","[ENSG00000142599, ENSG00000159640, ENSG0000013...",11
7_1,30,40,"[rs4844599, rs41274768, rs140275089, rs8034369...","[ENSG00000159640, ENSG00000107736, ENSG0000006...",16
8_3,47,36,"[rs34448954, rs149513640, rs7346, rs9247, rs92...","[ENSG00000158859, ENSG00000107736, ENSG0000016...",14
8_1,37,31,"[rs41278972, rs2274119, rs75741253, rs1843018,...","[ENSG00000107736, ENSG00000089280, ENSG0000010...",13
7_4,65,50,"[rs151230297, rs10177176, rs17860432, rs984023...","[ENSG00000159640, ENSG00000107736, ENSG0000006...",14
7_2,8,15,"[rs3737002, rs151230297, rs1060743, rs17574213...","[ENSG00000119684, ENSG00000136717, Unknown, EN...",5
4_2,29,66,"[rs41270041, rs3770761, rs11896614, rs36189208...","[ENSG00000168769, ENSG00000120885, ENSG0000010...",19
7_3,32,33,"[rs3783609, rs11682128, rs144181925, rs1400531...","[ENSG00000159640, ENSG00000107736, ENSG0000013...",10
8_2,26,36,"[rs11554586, rs13419542, rs1962796, rs8192678,...","[ENSG00000085514, ENSG00000107736, ENSG0000016...",18
4_4,16,30,"[rs2784735, rs201922249, rs61734514, rs1725904...","[ENSG00000142599, ENSG00000107736, ENSG0000010...",10
5_4,24,32,"[rs34402524, rs7716079, rs961098, rs2219745, r...","[ENSG00000145979, ENSG00000107736, ENSG0000011...",11

In [ ]:
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MSBB_enrichment_fisher_exact_test.csv')

In [12]:
# This code is correct. Sep 6

import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
import pickle

# Load GWAS dataset and mapping file
gwas_data = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MSBB_genotypes.csv", index_col=0)
mapping_file = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/MSBB_WES_covariates.tsv', sep='\t', index_col=0)
gwas_data.index = gwas_data.index.map(mapping_file['individualIdentifier.inferred'])

# Load and filter cluster data
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]
gwas_data = gwas_data[gwas_data.index.notna()]

# Convert 'individualID' in clusters_data back to a list for filtering GWAS data
individuals_in_clusters = clusters_data['individualID'].unique()
# Filter GWAS data to include only those individuals that are present in clusters_data
gwas_data = gwas_data[gwas_data.index.isin(individuals_in_clusters)]


individual_to_cluster = clusters_data.set_index('individualID')['clusters']


# # Load gene-SNP mapping
with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snps_dict = pickle.load(f)
# Create a reverse dictionary mapping SNPs to genes
snp_to_gene = {}
for gene, snps in gene_snps_dict.items():
    for snp in snps:
        snp_to_gene[snp] = gene

def perform_test(snp_data, cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    group_0 = snp_data.loc[cluster_individuals].dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    group_1 = snp_data.drop(cluster_individuals).dropna().value_counts().reindex([0, 1, 2], fill_value=0)

    contingency_table = np.array([group_0, group_1])

    if np.all(contingency_table.sum(axis=0) > 5):  # Ensuring adequate sample size for chi-squared test
        chi2_stat, p_value, _, _ = chi2_contingency(contingency_table)
        return p_value
    return np.nan


# Analyze SNPs across clusters
results = {}
for cluster_label in clusters_data['clusters'].unique():
    enriched_snps = {}
    for snp in gwas_data.columns:
        p_value = perform_test(gwas_data[snp], cluster_label)
        if p_value is not None and p_value < 0.05:
            enriched_snps[snp] = p_value

    if enriched_snps:
        results[cluster_label] = {
            'num_individuals': len(individual_to_cluster[individual_to_cluster == cluster_label]),
            'num_enriched_snps': len(enriched_snps),
            'enriched_snps': list(enriched_snps.keys())
        }

# Output results
if results:
    results_df = pd.DataFrame.from_dict(results, orient='index')
    # Map SNPs to genes and ensure uniqueness
    results_df['enriched_genes'] = results_df['enriched_snps'].apply(lambda snps: list(set(snp_to_gene.get(snp, "Unknown") for snp in snps)))
    results_df['num_enriched_genes'] = results_df['enriched_genes'].apply(len)
    
else:
    print("No enriched SNPs found across any clusters.")

In [13]:
results_df

,num_individuals,num_enriched_snps,enriched_snps,enriched_genes,num_enriched_genes
5_3,36,20,"[rs3753275, rs6846414, rs6460901, rs3173615, r...","[ENSG00000142599, ENSG00000107736, ENSG0000010...",7
4_1,18,16,"[rs2276579, rs72481904, rs11682128, rs34485863...","[ENSG00000145979, ENSG00000136717, Unknown, EN...",9
5_2,32,35,"[rs7558000, rs7558001, rs6720741, rs8192678, r...","[ENSG00000137845, ENSG00000136235, ENSG0000013...",10
4_3,34,28,"[rs1060743, rs144181925, rs140053128, rs819267...","[ENSG00000107736, ENSG00000136235, ENSG0000013...",6
8_4,17,18,"[rs3779607, rs3814481, rs3814482, rs1124871, r...","[ENSG00000085514, Unknown, ENSG00000221838, EN...",6
5_1,24,22,"[rs1889854, rs2784735, rs2392221, rs2276579, r...","[ENSG00000142599, ENSG00000085514, ENSG0000013...",11
7_1,30,24,"[rs1985278, rs4844599, rs10177176, rs3755863, ...","[ENSG00000159640, ENSG00000107736, Unknown, EN...",9
8_3,47,25,"[rs1889854, rs11121172, rs1058766, rs2946385, ...","[ENSG00000142599, Unknown, ENSG00000046604, EN...",9
8_1,37,24,"[rs11678157, rs2289022, rs700494, rs112463195,...","[ENSG00000174628, ENSG00000107736, ENSG0000010...",8
7_4,65,39,"[rs10177176, rs9840234, rs3755863, rs8192678, ...","[ENSG00000159640, ENSG00000107736, ENSG0000008...",8
7_2,8,25,"[rs3737002, rs2276579, rs72481904, rs1060743, ...","[ENSG00000119684, ENSG00000136717, Unknown, EN...",5
4_2,29,26,"[rs7558000, rs7558001, rs6720741, rs4571051, r...","[ENSG00000107736, ENSG00000137845, ENSG0000013...",7
7_3,32,27,"[rs1889854, rs11682128, rs2289043, rs2454206, ...","[ENSG00000107736, ENSG00000168769, ENSG0000013...",9
8_2,26,11,"[rs1962796, rs3755863, rs8192678, rs2946385, r...","[ENSG00000085514, ENSG00000107736, Unknown, EN...",6
4_4,16,27,"[rs11121172, rs1058766, rs2784735, rs13596, rs...","[ENSG00000142599, ENSG00000085514, ENSG0000010...",8
5_4,24,16,"[rs3737002, rs7558000, rs7558001, rs6720741, r...","[ENSG00000137845, ENSG00000136717, Unknown, EN...",7

In [14]:
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MSBB_enrichment.csv')

### 2. MAYO

1. Chi2 test

In [15]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
import pickle

# Load GWAS dataset and mapping file
gwas_data = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MAYO_genotypes.csv", index_col=0)
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

# Convert index and individualID to string for accurate comparison
gwas_data.index = gwas_data.index.astype(str)
clusters_data['individualID'] = clusters_data['individualID'].astype(str)

# Filter cluster data to only include individuals present in GWAS data
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]
# Convert 'individualID' in clusters_data back to a list for filtering GWAS data
individuals_in_clusters = clusters_data['individualID'].unique()
# Filter GWAS data to include only those individuals that are present in clusters_data
gwas_data = gwas_data[gwas_data.index.isin(individuals_in_clusters)]

# Set index for easy access to clusters
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Load gene-SNP mapping
with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snps_dict = pickle.load(f)
# Create a reverse dictionary mapping SNPs to genes
snp_to_gene = {}
for gene, snps in gene_snps_dict.items():
    for snp in snps:
        snp_to_gene[snp] = gene

def perform_test(snp_data, cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    group_0 = snp_data.loc[cluster_individuals].dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    group_1 = snp_data.drop(cluster_individuals).dropna().value_counts().reindex([0, 1, 2], fill_value=0)

    contingency_table = np.array([group_0, group_1])

    if np.all(contingency_table.sum(axis=0) > 5):  # Ensuring adequate sample size for chi-squared test
        chi2_stat, p_value, _, _ = chi2_contingency(contingency_table)
        return p_value
    return np.nan


# Analyze SNPs across clusters
results = {}
for cluster_label in clusters_data['clusters'].unique():
    enriched_snps = {}
    for snp in gwas_data.columns:
        p_value = perform_test(gwas_data[snp], cluster_label)
        if p_value is not None and p_value < 0.05:
            enriched_snps[snp] = p_value

    if enriched_snps:
        results[cluster_label] = {
            'num_individuals': len(individual_to_cluster[individual_to_cluster == cluster_label]),
            'num_enriched_snps': len(enriched_snps),
            'enriched_snps': list(enriched_snps.keys())
        }

# Output results
if results:
    results_df = pd.DataFrame.from_dict(results, orient='index')
    # Map SNPs to genes and ensure uniqueness
    results_df['enriched_genes'] = results_df['enriched_snps'].apply(lambda snps: list(set(snp_to_gene.get(snp, "Unknown") for snp in snps)))
    results_df['num_enriched_genes'] = results_df['enriched_genes'].apply(len)
    
else:
    print("No enriched SNPs found across any clusters.")

In [16]:
results_df

,num_individuals,num_enriched_snps,enriched_snps,enriched_genes,num_enriched_genes
9_2,10,29,"[rs6577497, rs5850, rs1057233, rs1542321, rs71...","[ENSG00000142599, ENSG00000136235, ENSG0000006...",10
2_1,7,18,"[rs7667050, rs7268, rs2074613, rs34022566, rs1...","[ENSG00000119684, ENSG00000102935, ENSG0000010...",9
9_4,7,29,"[rs2736990, rs7661876, rs4419475, rs34656389, ...","[ENSG00000119684, ENSG00000136235, ENSG0000018...",9
9_3,7,37,"[rs7584458, rs1391440, rs2726518, rs6879628, r...","[ENSG00000168918, ENSG00000102935, ENSG0000016...",8
2_3,5,12,"[rs7919533, rs10902249, rs340019, rs340025, rs...","[ENSG00000107736, ENSG00000183020, ENSG0000006...",6
2_4,2,20,"[rs541464, rs7562227, rs6419133, rs3807570, rs...","[ENSG00000127483, ENSG00000159640, ENSG0000013...",8
2_2,4,45,"[rs974711, rs4704187, rs1564926, rs6915993, rs...","[ENSG00000107736, ENSG00000089280, ENSG0000010...",16
9_1,5,20,"[rs7425956, rs1391440, rs7683416, rs7670522, r...","[ENSG00000107736, ENSG00000168918, ENSG0000016...",8

In [ ]:
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MAYO_enrichment.csv')

2. Fisher exact test

In [195]:
import pandas as pd
import numpy as np
from scipy.stats import fisher_exact
import pickle

# Load GWAS dataset and mapping file
gwas_data = pd.read_csv("/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/genotype_csv_files_aug28/MAYO_genotypes.csv", index_col=0)
clusters_data = pd.read_csv('/home/vmottaqi/rnaseq_synapse/rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

# Convert index and individualID to string for accurate comparison
gwas_data.index = gwas_data.index.astype(str)
clusters_data['individualID'] = clusters_data['individualID'].astype(str)

# Filter cluster data to only include individuals present in GWAS data
clusters_data = clusters_data[clusters_data['individualID'].isin(gwas_data.index)]

# Set index for easy access to clusters
individual_to_cluster = clusters_data.set_index('individualID')['clusters']

# Load gene-SNP mapping
with open('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/snps_list/gene_variants_dict_AD_filt_phenotype.pkl', 'rb') as f:
    gene_snps_dict = pickle.load(f)
# Create a reverse dictionary mapping SNPs to genes
snp_to_gene = {}
for gene, snps in gene_snps_dict.items():
    for snp in snps:
        snp_to_gene[snp] = gene

def perform_test(snp_data, cluster_label):
    cluster_individuals = individual_to_cluster[individual_to_cluster == cluster_label].index
    group_0 = snp_data.loc[cluster_individuals].dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    group_1 = snp_data.drop(cluster_individuals).dropna().value_counts().reindex([0, 1, 2], fill_value=0)
    
    # Create a 2x2 contingency table by selecting two categories, typically [0,1]
    contingency_table = np.array([group_0.iloc[:2], group_1.iloc[:2]])
    
    if np.all(contingency_table.sum(axis=0) > 0):  # Ensure non-zero entries
        _, p_value = fisher_exact(contingency_table, 'two-sided')
        return p_value
    return np.nan

# Analyze SNPs across clusters
results = {}
for cluster_label in clusters_data['clusters'].unique():
    enriched_snps = {}
    for snp in gwas_data.columns:
        p_value = perform_test(gwas_data[snp], cluster_label)
        if p_value is not None and p_value < 0.05:
            enriched_snps[snp] = p_value

    if enriched_snps:
        results[cluster_label] = {
            'num_individuals': len(individual_to_cluster[individual_to_cluster == cluster_label]),
            'num_enriched_snps': len(enriched_snps),
            'enriched_snps': list(enriched_snps.keys())
        }

# Output results
if results:
    results_df = pd.DataFrame.from_dict(results, orient='index')
    # Map SNPs to genes and ensure uniqueness
    results_df['enriched_genes'] = results_df['enriched_snps'].apply(lambda snps: list(set(snp_to_gene.get(snp, "Unknown") for snp in snps)))
    results_df['num_enriched_genes'] = results_df['enriched_genes'].apply(len)
    
else:
    print("No enriched SNPs found across any clusters.")

In [196]:
results_df

,num_individuals,num_enriched_snps,enriched_snps,enriched_genes,num_enriched_genes
9_2,10,106,"[rs11121172, rs1058766, rs13596, rs2252865, rs...","[ENSG00000089280, ENSG00000119684, ENSG0000018...",32
2_1,7,78,"[rs17032657, rs3176878, rs4581878, rs6544066, ...","[ENSG00000157368, ENSG00000119684, ENSG0000018...",40
9_4,7,79,"[rs7568161, rs7558000, rs7558001, rs3754620, r...","[ENSG00000137642, ENSG00000119684, ENSG0000018...",29
9_3,7,73,"[rs17032657, rs11584996, rs9750891, rs14101337...","[ENSG00000157368, ENSG00000137642, ENSG0000013...",33
2_3,5,52,"[rs17502858, rs142787485, rs3754619, rs3754617...","[ENSG00000136717, ENSG00000110077, ENSG0000018...",23
2_4,2,30,"[rs35608792, rs2141331, rs6725887, rs6435169, ...","[ENSG00000142599, ENSG00000182168, ENSG0000015...",16
2_2,4,52,"[rs11584996, rs11690153, rs17860433, rs5966409...","[ENSG00000081014, ENSG00000137642, ENSG0000008...",25
9_1,5,70,"[rs2043798, rs2071267, rs143820618, rs14305725...","[ENSG00000081014, ENSG00000137642, ENSG0000018...",24

In [197]:
results_df.to_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MAYO_enrichment_fisher_exact_test.csv')

# Combining results of SHAP and GWAS

In [2]:
import pandas as pd
import pickle

with open('shap_samp_genes_5k_v2.pkl', 'rb') as f:
    specimen_genes_dict = pickle.load(f)

# Load the DataFrame
df = pd.read_csv('rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)
df

,individualID,diagnosis,tissue,clusters,race,spanish,apoe4_allele,sex,batch,pmi,...,GJB6,CCDC183-AS1,KLF15,AGTRAP,EZR,C2orf15,LMO2,GAREM2,ZBTB16,SDSL
specimenID,,,,,,,,,,,,,,,,,,,,,
hB_RNA_4411,AMPAD_MSSM_0000077445,1,5,5_3,1.0,2.0,1,1,14,6.583333,...,-0.591848,0.142189,0.371563,0.059603,0.059281,0.274474,0.357874,0.156186,-0.074227,-0.277443
hB_RNA_12484,AMPAD_MSSM_0000034015,1,4,4_1,1.0,2.0,1,1,20,5.250000,...,0.214412,-0.187430,-0.156292,-0.190344,0.008100,0.273406,0.056397,-0.258564,-0.294504,-0.404002
hB_RNA_16295,AMPAD_MSSM_0000083367,1,5,5_2,1.0,2.0,0,0,5,15.250000,...,0.101255,-0.134110,0.138174,0.277939,0.206213,-0.942221,0.589214,-0.088010,-0.189206,-0.178790
BM_10_674,AMPAD_MSSM_0000098979,1,4,4_3,1.0,2.0,0,1,21,19.333333,...,0.307214,0.853469,0.242229,0.054418,0.095695,-0.317063,-0.177276,0.088239,0.198327,0.010501
hB_RNA_16665,AMPAD_MSSM_0000034450,1,5,5_3,1.0,2.0,0,1,6,3.583333,...,-0.173683,0.519355,0.347839,0.285156,0.130551,-0.479695,0.286889,0.250938,-0.097065,-0.094118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
hB_RNA_7775,AMPAD_MSSM_0000077061,1,8,8_3,9.0,1.0,0,1,7,5.500000,...,-0.486417,0.537512,0.348259,0.237720,-0.034479,-0.072609,0.170131,0.223767,0.276840,0.480200
BM_36_545,AMPAD_MSSM_0000076188,1,7,7_4,1.0,2.0,0,0,18,5.733333,...,-0.573104,-0.220458,0.630038,0.585316,-0.106984,0.244389,0.238596,0.207993,-0.222866,-0.566743
Sample_R6636386-AC,R6636386,1,1,1_3,1.0,2.0,0,0,13,19.500000,...,-0.091409,-0.127889,0.173018,-0.006432,0.103108,-0.426582,0.099830,0.468877,-0.164213,0.234050
hB_RNA_16935,AMPAD_MSSM_0000019543,1,5,5_2,1.0,2.0,0,1,6,8.716667,...,-0.248578,0.091338,0.059089,0.404707,0.022760,-1.116050,0.318737,0.060726,-0.201323,0.016790
BM_22_37,AMPAD_MSSM_0000031969,1,8,8_3,1.0,2.0,0,0,28,4.500000,...,-0.663021,0.322928,0.355639,0.073581,0.196544,-0.171792,0.229818,0.029503,0.365303,-0.186236

In [3]:
# shap clusters

import pandas as pd
import pickle

# Load the specimen genes dictionary
with open('shap_samp_genes_5k_v2.pkl', 'rb') as f:
    specimen_genes_dict = pickle.load(f)

# Load the DataFrame containing cluster and study information
df = pd.read_csv('rnaseq_meta_rf_5k_aug27_with_clusters.csv', index_col=0)

# Initialize a list to store results
results = []

# Process each cluster
for cluster, group in df.groupby('clusters'):
    # Get unique individual IDs and specimen IDs
    unique_individuals = group['individualID'].nunique()
    specimen_ids = group.index.tolist()
    study = group['study'].iloc[0]  # Assuming the same study for all samples in cluster
    
    # Determine the common genes among specimens in the cluster
    common_genes = set(specimen_genes_dict.get(specimen_ids[0], []))
    for specimen_id in specimen_ids[1:]:
        common_genes.intersection_update(specimen_genes_dict.get(specimen_id, []))
    
    # Append results to the list
    results.append({
        'Cluster': cluster,
        'Study': study,
        'Samples in Cluster': len(specimen_ids),
        'Unique Individuals': unique_individuals,
        'Common SHAP Genes Count': len(common_genes),
        'Common SHAP Genes': list(common_genes)
    })

# Create a DataFrame from the list of dictionaries
results_df = pd.DataFrame(results)

# Save the DataFrame to a CSV file or display it

In [4]:
results_df

,Cluster,Study,Samples in Cluster,Unique Individuals,Common SHAP Genes Count,Common SHAP Genes
0,1_1,ROSMAP,4,4,46,"[SLC7A2, NWD1, LPL, SLC5A3, EMP3, LOC116435278..."
1,1_2,ROSMAP,18,18,21,"[SLC5A3, TRIP10, LINC01736, GAREM2, B3GAT1-DT,..."
2,1_3,ROSMAP,11,11,18,"[KANK2, A2ML1, SVOP, ITPKB, CSRP1, SLC6A12, KC..."
3,1_4,ROSMAP,21,21,12,"[KANK2, DUSP1, A2ML1, PIRT, SLC5A3, EPCIP, SLC..."
4,2_1,MAYO,7,7,28,"[SLC7A2, NWD1, AHNAK, SLC5A3, APLNR, GMPR, TRI..."
5,2_2,MAYO,4,4,56,"[SLC7A2, GPRASP2, AHNAK, THCAT155, NWD1, SLC5A..."
6,2_3,MAYO,5,5,41,"[GPRASP2, AHNAK, SCG2, SLC5A3, EMP3, SAMD4A, K..."
7,2_4,MAYO,2,2,80,"[ANGPT2, PTPRU, CHST6, PADI2, ADPGK-AS1, ENPEP..."
8,3_1,ROSMAP,19,19,26,"[SDSL, THCAT155, SCG2, LPL, PTPRU, ALDH1A1, GF..."
9,3_2,ROSMAP,19,19,26,"[SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC5A3, C..."
10,3_3,ROSMAP,37,37,15,"[THCAT155, SCG2, PIRT, LPL, PTPRU, INSYN2A, KC..."
11,3_4,ROSMAP,18,18,31,"[SLC7A2, THCAT155, SCG2, LPL, PTPRU, SAMD4A, L..."
12,4_1,MSBB,18,18,4,"[EPCIP, LINC00499, PIRT, SLC5A3]"
13,4_2,MSBB,30,30,6,"[SLC5A3, ANGPT1, SSC5D, LINC00499, S100A4, VGF]"
14,4_3,MSBB,36,33,5,"[NWD1, PIRT, LINC00499, CNTNAP5-DT, SLC4A11]"
15,4_4,MSBB,16,15,31,"[SLC7A2, NWD1, AHNAK, SLC5A3, EMP3, GMPR, PHYH..."
16,5_1,MSBB,25,23,36,"[ANGPT2, GPRASP2, AHNAK, SCG2, NWD1, SAMD4A, L..."
17,5_2,MSBB,33,33,9,"[KANK2, A2ML1, EPCIP, ADAMTS2, SLC25A48, PCP4L..."
18,5_3,MSBB,38,35,11,"[NWD1, NPNT, PIRT, ITPKB, SLC6A9, SLC25A48, AN..."
19,5_4,MSBB,25,25,29,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CRH, CNT..."
20,6_1,ROSMAP,6,6,54,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, ANGPT2, ..."
21,6_2,ROSMAP,8,8,47,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC..."
22,6_3,ROSMAP,12,12,39,"[SDSL, THCAT155, SCG2, LPL, PTPRU, C4orf19, GA..."
23,6_4,ROSMAP,6,6,47,"[SDSL, ANGPT2, THCAT155, SCG2, LPL, PTPRU, C4o..."
24,7_1,MSBB,30,27,11,"[NWD1, LTF, ITPKB, SAMD4A, SLC25A48, TEAD2, SS..."
25,7_2,MSBB,9,9,43,"[SLC7A2, GPRASP2, AHNAK, SCG2, ANGPT2, NWD1, S..."
26,7_3,MSBB,34,31,46,"[SLC7A2, GPRASP2, ANGPT2, AHNAK, NWD1, EMP3, C..."
27,7_4,MSBB,67,58,17,"[GPRASP2, NWD1, AHNAK, PIRT, ITPKB, CSRP1, DHR..."
28,8_1,MSBB,39,37,8,"[NWD1, SVOP, ROBO2, SLC25A48, KCNJ10, CNTNAP5-..."
29,8_2,MSBB,28,27,9,"[SLC7A2, ANGPT2, EPCIP, SAMD4A, SLC25A48, KCNJ..."
30,8_3,MSBB,51,45,12,"[GPRASP2, SVOP, PIRT, ITPKB, ROBO2, SAMD4A, SL..."
31,8_4,MSBB,17,15,30,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CHST6, S..."
32,9_1,MAYO,5,5,73,"[SLC7A2, GPRASP2, ANGPT2, SCG2, LPL, THCAT155,..."
33,9_2,MAYO,10,10,49,"[SLC7A2, GPRASP2, AHNAK, THCAT155, LPL, ANGPT2..."
34,9_3,MAYO,7,7,59,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL..."
35,9_4,MAYO,7,7,64,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL..."

In [11]:
results_df.to_csv('summary_clusters.csv', index=False)

In [5]:
# GWAS data

import pandas as pd

# Paths to your CSV files
file_paths = [
    '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/ROSMAP_enrichment_permutation_test.csv',
    '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MAYO_enrichment.csv',
    '/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_genes_enrichment/MSBB_enrichment.csv'
]

# Load all CSV files as DataFrames
dataframes = [pd.read_csv(file_path) for file_path in file_paths]

# Concatenate all DataFrames into one
merged_dataframe_gwas = pd.concat(dataframes, ignore_index=True)

# Save the merged DataFrame to a new CSV file, if needed
# merged_dataframe.to_csv('path/to/merged_file.csv', index=False)

In [6]:
merged_dataframe_gwas

,Unnamed: 0,num_individuals,num_enriched_snps,enriched_snps,enriched_genes,num_enriched_genes
0,1_4,17,93,"['rs10999882', 'rs74147331', 'rs74147345', 'rs...","['ENSG00000140459', 'ENSG00000102935', 'ENSG00...",28
1,1_3,8,128,"['rs4747187', 'rs10902249', 'rs693458', 'rs545...","['ENSG00000073921', 'ENSG00000179526', 'ENSG00...",36
2,3_2,16,163,"['rs1125168', 'rs12266801', 'rs10999947', 'rs1...","['ENSG00000109920', 'ENSG00000169836', 'ENSG00...",39
3,6_3,7,116,"['rs59843444', 'rs3747862', 'rs10740390', 'rs1...","['ENSG00000073921', 'ENSG00000145700', 'ENSG00...",27
4,6_4,4,105,"['rs72777665', 'rs2297953', 'rs10999882', 'rs7...","['ENSG00000154734', 'ENSG00000169836', 'ENSG00...",35
5,3_4,13,107,"['rs71012280', 'rs3802716', 'rs748113', 'rs109...","['ENSG00000109920', 'ENSG00000203710', 'ENSG00...",33
6,6_1,4,100,"['rs41281308', 'rs74147053', 'rs55717455', 'rs...","['ENSG00000073921', 'ENSG00000109920', 'ENSG00...",27
7,3_3,23,132,"['rs72777665', 'rs41281302', 'rs7902757', 'rs2...","['ENSG00000130208', 'ENSG00000110079', 'ENSG00...",33
8,1_2,13,114,"['rs7903757', 'rs12572738', 'rs10999979', 'rs4...","['ENSG00000073921', 'ENSG00000203710', 'ENSG00...",31
9,3_1,12,84,"['rs1227078', 'rs1227075', 'rs1227069', 'rs412...","['ENSG00000109920', 'ENSG00000169836', 'ENSG00...",31
10,1_1,2,120,"['rs41281314', 'rs7917781', 'rs55717455', 'rs1...","['ENSG00000203710', 'ENSG00000073712', 'ENSG00...",29
11,6_2,6,75,"['rs11599279', 'rs736716', 'rs736717', 'rs1256...","['ENSG00000046604', 'ENSG00000169836', 'ENSG00...",27
12,9_2,10,29,"['rs6577497', 'rs5850', 'rs1057233', 'rs154232...","['ENSG00000142599', 'ENSG00000136235', 'ENSG00...",10
13,2_1,7,18,"['rs7667050', 'rs7268', 'rs2074613', 'rs340225...","['ENSG00000119684', 'ENSG00000102935', 'ENSG00...",9
14,9_4,7,29,"['rs2736990', 'rs7661876', 'rs4419475', 'rs346...","['ENSG00000119684', 'ENSG00000136235', 'ENSG00...",9
15,9_3,7,37,"['rs7584458', 'rs1391440', 'rs2726518', 'rs687...","['ENSG00000168918', 'ENSG00000102935', 'ENSG00...",8
16,2_3,5,12,"['rs7919533', 'rs10902249', 'rs340019', 'rs340...","['ENSG00000107736', 'ENSG00000183020', 'ENSG00...",6
17,2_4,2,20,"['rs541464', 'rs7562227', 'rs6419133', 'rs3807...","['ENSG00000127483', 'ENSG00000159640', 'ENSG00...",8
18,2_2,4,45,"['rs974711', 'rs4704187', 'rs1564926', 'rs6915...","['ENSG00000107736', 'ENSG00000089280', 'ENSG00...",16
19,9_1,5,20,"['rs7425956', 'rs1391440', 'rs7683416', 'rs767...","['ENSG00000107736', 'ENSG00000168918', 'ENSG00...",8
20,5_3,36,20,"['rs3753275', 'rs6846414', 'rs6460901', 'rs317...","['ENSG00000142599', 'ENSG00000107736', 'ENSG00...",7
21,4_1,18,16,"['rs2276579', 'rs72481904', 'rs11682128', 'rs3...","['ENSG00000145979', 'ENSG00000136717', 'Unknow...",9
22,5_2,32,35,"['rs7558000', 'rs7558001', 'rs6720741', 'rs819...","['ENSG00000137845', 'ENSG00000136235', 'ENSG00...",10
23,4_3,34,28,"['rs1060743', 'rs144181925', 'rs140053128', 'r...","['ENSG00000107736', 'ENSG00000136235', 'ENSG00...",6
24,8_4,17,18,"['rs3779607', 'rs3814481', 'rs3814482', 'rs112...","['ENSG00000085514', 'Unknown', 'ENSG0000022183...",6
25,5_1,24,22,"['rs1889854', 'rs2784735', 'rs2392221', 'rs227...","['ENSG00000142599', 'ENSG00000085514', 'ENSG00...",11
26,7_1,30,24,"['rs1985278', 'rs4844599', 'rs10177176', 'rs37...","['ENSG00000159640', 'ENSG00000107736', 'Unknow...",9
27,8_3,47,25,"['rs1889854', 'rs11121172', 'rs1058766', 'rs29...","['ENSG00000142599', 'Unknown', 'ENSG0000004660...",9
28,8_1,37,24,"['rs11678157', 'rs2289022', 'rs700494', 'rs112...","['ENSG00000174628', 'ENSG00000107736', 'ENSG00...",8
29,7_4,65,39,"['rs10177176', 'rs9840234', 'rs3755863', 'rs81...","['ENSG00000159640', 'ENSG00000107736', 'ENSG00...",8
30,7_2,8,25,"['rs3737002', 'rs2276579', 'rs72481904', 'rs10...","['ENSG00000119684', 'ENSG00000136717', 'Unknow...",5
31,4_2,29,26,"['rs7558000', 'rs7558001', 'rs6720741', 'rs457...","['ENSG00000107736', 'ENSG00000137845', 'ENSG00...",7
32,7_3,32,27,"['rs1889854', 'rs11682128', 'rs2289043', 'rs24...","['ENSG00000107736', 'ENSG00000168769', 'ENSG00...",9
33,8_2,26,11,"['rs1962796', 'rs3755863', 'rs8192678', 'rs294...","['ENSG00000085514', 'ENSG00000107736', 'Unknow...",6
34,4_4,16,27,"['rs11121172', 'rs1058766', 'rs2784735', 'rs13...","['ENSG00000142599', 'ENSG00000085514', 'ENSG00...",8
35,5_4,24,16,"['rs3737002', 'rs7558000', 'rs7558001', 'rs672...","['ENSG00000137845', 'ENSG00000136717', 'Unknow...",7

In [7]:
df1 = results_df
df2 = merged_dataframe_gwas

In [8]:
# Merging gwas and shap summary data

import pandas as pd

# Rename the 'Unnamed: 0' column in df2 to 'Cluster' for a consistent merge key
df2.rename(columns={'Unnamed: 0': 'Cluster'}, inplace=True)

# Merge df1 and df2 on the 'Cluster' column
merged_df = pd.merge(df1, df2, on='Cluster', how='left')

# Optionally, rename columns from df2 to distinguish them if necessary
merged_df.rename(columns={
    'num_individuals': 'individuals_gwas',
    'num_enriched_snps': 'Common GWAS snps count',
    'enriched_snps': 'Common GWAS snps',
    'enriched_genes': 'Common GWAS Genes',
    'num_enriched_genes': 'Common GWAS Genes Count'
}, inplace=True)

# Save the merged DataFrame to a new CSV file, if needed
# merged_df.to_csv('path/to/merged_file.csv', index=False)

# Print or inspect the merged DataFrame
# print(merged_df)

In [9]:
merged_df

,Cluster,Study,Samples in Cluster,Unique Individuals,Common SHAP Genes Count,Common SHAP Genes,individuals_gwas,Common GWAS snps count,Common GWAS snps,Common GWAS Genes,Common GWAS Genes Count
0,1_1,ROSMAP,4,4,46,"[SLC7A2, NWD1, LPL, SLC5A3, EMP3, LOC116435278...",2,120,"['rs41281314', 'rs7917781', 'rs55717455', 'rs1...","['ENSG00000203710', 'ENSG00000073712', 'ENSG00...",29
1,1_2,ROSMAP,18,18,21,"[SLC5A3, TRIP10, LINC01736, GAREM2, B3GAT1-DT,...",13,114,"['rs7903757', 'rs12572738', 'rs10999979', 'rs4...","['ENSG00000073921', 'ENSG00000203710', 'ENSG00...",31
2,1_3,ROSMAP,11,11,18,"[KANK2, A2ML1, SVOP, ITPKB, CSRP1, SLC6A12, KC...",8,128,"['rs4747187', 'rs10902249', 'rs693458', 'rs545...","['ENSG00000073921', 'ENSG00000179526', 'ENSG00...",36
3,1_4,ROSMAP,21,21,12,"[KANK2, DUSP1, A2ML1, PIRT, SLC5A3, EPCIP, SLC...",17,93,"['rs10999882', 'rs74147331', 'rs74147345', 'rs...","['ENSG00000140459', 'ENSG00000102935', 'ENSG00...",28
4,2_1,MAYO,7,7,28,"[SLC7A2, NWD1, AHNAK, SLC5A3, APLNR, GMPR, TRI...",7,18,"['rs7667050', 'rs7268', 'rs2074613', 'rs340225...","['ENSG00000119684', 'ENSG00000102935', 'ENSG00...",9
5,2_2,MAYO,4,4,56,"[SLC7A2, GPRASP2, AHNAK, THCAT155, NWD1, SLC5A...",4,45,"['rs974711', 'rs4704187', 'rs1564926', 'rs6915...","['ENSG00000107736', 'ENSG00000089280', 'ENSG00...",16
6,2_3,MAYO,5,5,41,"[GPRASP2, AHNAK, SCG2, SLC5A3, EMP3, SAMD4A, K...",5,12,"['rs7919533', 'rs10902249', 'rs340019', 'rs340...","['ENSG00000107736', 'ENSG00000183020', 'ENSG00...",6
7,2_4,MAYO,2,2,80,"[ANGPT2, PTPRU, CHST6, PADI2, ADPGK-AS1, ENPEP...",2,20,"['rs541464', 'rs7562227', 'rs6419133', 'rs3807...","['ENSG00000127483', 'ENSG00000159640', 'ENSG00...",8
8,3_1,ROSMAP,19,19,26,"[SDSL, THCAT155, SCG2, LPL, PTPRU, ALDH1A1, GF...",12,84,"['rs1227078', 'rs1227075', 'rs1227069', 'rs412...","['ENSG00000109920', 'ENSG00000169836', 'ENSG00...",31
9,3_2,ROSMAP,19,19,26,"[SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC5A3, C...",16,163,"['rs1125168', 'rs12266801', 'rs10999947', 'rs1...","['ENSG00000109920', 'ENSG00000169836', 'ENSG00...",39
10,3_3,ROSMAP,37,37,15,"[THCAT155, SCG2, PIRT, LPL, PTPRU, INSYN2A, KC...",23,132,"['rs72777665', 'rs41281302', 'rs7902757', 'rs2...","['ENSG00000130208', 'ENSG00000110079', 'ENSG00...",33
11,3_4,ROSMAP,18,18,31,"[SLC7A2, THCAT155, SCG2, LPL, PTPRU, SAMD4A, L...",13,107,"['rs71012280', 'rs3802716', 'rs748113', 'rs109...","['ENSG00000109920', 'ENSG00000203710', 'ENSG00...",33
12,4_1,MSBB,18,18,4,"[EPCIP, LINC00499, PIRT, SLC5A3]",18,16,"['rs2276579', 'rs72481904', 'rs11682128', 'rs3...","['ENSG00000145979', 'ENSG00000136717', 'Unknow...",9
13,4_2,MSBB,30,30,6,"[SLC5A3, ANGPT1, SSC5D, LINC00499, S100A4, VGF]",29,26,"['rs7558000', 'rs7558001', 'rs6720741', 'rs457...","['ENSG00000107736', 'ENSG00000137845', 'ENSG00...",7
14,4_3,MSBB,36,33,5,"[NWD1, PIRT, LINC00499, CNTNAP5-DT, SLC4A11]",34,28,"['rs1060743', 'rs144181925', 'rs140053128', 'r...","['ENSG00000107736', 'ENSG00000136235', 'ENSG00...",6
15,4_4,MSBB,16,15,31,"[SLC7A2, NWD1, AHNAK, SLC5A3, EMP3, GMPR, PHYH...",16,27,"['rs11121172', 'rs1058766', 'rs2784735', 'rs13...","['ENSG00000142599', 'ENSG00000085514', 'ENSG00...",8
16,5_1,MSBB,25,23,36,"[ANGPT2, GPRASP2, AHNAK, SCG2, NWD1, SAMD4A, L...",24,22,"['rs1889854', 'rs2784735', 'rs2392221', 'rs227...","['ENSG00000142599', 'ENSG00000085514', 'ENSG00...",11
17,5_2,MSBB,33,33,9,"[KANK2, A2ML1, EPCIP, ADAMTS2, SLC25A48, PCP4L...",32,35,"['rs7558000', 'rs7558001', 'rs6720741', 'rs819...","['ENSG00000137845', 'ENSG00000136235', 'ENSG00...",10
18,5_3,MSBB,38,35,11,"[NWD1, NPNT, PIRT, ITPKB, SLC6A9, SLC25A48, AN...",36,20,"['rs3753275', 'rs6846414', 'rs6460901', 'rs317...","['ENSG00000142599', 'ENSG00000107736', 'ENSG00...",7
19,5_4,MSBB,25,25,29,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CRH, CNT...",24,16,"['rs3737002', 'rs7558000', 'rs7558001', 'rs672...","['ENSG00000137845', 'ENSG00000136717', 'Unknow...",7
20,6_1,ROSMAP,6,6,54,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, ANGPT2, ...",4,100,"['rs41281308', 'rs74147053', 'rs55717455', 'rs...","['ENSG00000073921', 'ENSG00000109920', 'ENSG00...",27
21,6_2,ROSMAP,8,8,47,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC...",6,75,"['rs11599279', 'rs736716', 'rs736717', 'rs1256...","['ENSG00000046604', 'ENSG00000169836', 'ENSG00...",27
22,6_3,ROSMAP,12,12,39,"[SDSL, THCAT155, SCG2, LPL, PTPRU, C4orf19, GA...",7,116,"['rs59843444', 'rs3747862', 'rs10740390', 'rs1...","['ENSG00000073921', 'ENSG00000145700', 'ENSG00...",27
23,6_4,ROSMAP,6,6,47,"[SDSL, ANGPT2, THCAT155, SCG2, LPL, PTPRU, C4o...",4,105,"['rs72777665', 'rs2297953', 'rs10999882', 'rs7...","['ENSG00000154734', 'ENSG00000169836', 'ENSG00...",35
24,7_1,MSBB,30,27,11,"[NWD1, LTF, ITPKB, SAMD4A, SLC25A48, TEAD2, SS...",30,24,"['rs1985278', 'rs4844599', 'rs10177176', 'rs37...","['ENSG00000159640', 'ENSG00000107736', 'Unknow...",9
25,7_2,MSBB,9,9,43,"[SLC7A2, GPRASP2, AHNAK, SCG2, ANGPT2, NWD1, S...",8,25,"['rs3737002', 'rs2276579', 'rs72481904', 'rs10...","['ENSG00000119684', 'ENSG00000136717', 'Unknow...",5
26,7_3,MSBB,34,31,46,"[SLC7A2, GPRASP2, ANGPT2, AHNAK, NWD1, EMP3, C...",32,27,"['rs1889854', 'rs11682128', 'rs2289043', 'rs24...","['ENSG00000107736', 'ENSG00000168769', 'ENSG00...",9
27,7_4,MSBB,67,58,17,"[GPRASP2, NWD1, AHNAK, PIRT, ITPKB, CSRP1, DHR...",65,39,"['rs10177176', 'rs9840234', 'rs3755863', 'rs81...","['ENSG00000159640', 'ENSG00000107736', 'ENSG00...",8
28,8_1,MSBB,39,37,8,"[NWD1, SVOP, ROBO2, SLC25A48, KCNJ10, CNTNAP5-...",37,24,"['rs11678157', 'rs2289022', 'rs700494', 'rs112...","['ENSG00000174628', 'ENSG00000107736', 'ENSG00...",8
29,8_2,MSBB,28,27,9,"[SLC7A2, ANGPT2, EPCIP, SAMD4A, SLC25A48, KCNJ...",26,11,"['rs1962796', 'rs3755863', 'rs8192678', 'rs294...","['ENSG00000085514', 'ENSG00000107736', 'Unknow...",6
30,8_3,MSBB,51,45,12,"[GPRASP2, SVOP, PIRT, ITPKB, ROBO2, SAMD4A, SL...",47,25,"['rs1889854', 'rs11121172', 'rs1058766', 'rs29...","['ENSG00000142599', 'Unknown', 'ENSG0000004660...",9
31,8_4,MSBB,17,15,30,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CHST6, S...",17,18,"['rs3779607', 'rs3814481', 'rs3814482', 'rs112...","['ENSG00000085514', 'Unknown', 'ENSG0000022183...",6
32,9_1,MAYO,5,5,73,"[SLC7A2, GPRASP2, ANGPT2, SCG2, LPL, THCAT155,...",5,20,"['rs7425956', 'rs1391440', 'rs7683416', 'rs767...","['ENSG00000107736', 'ENSG00000168918', 'ENSG00...",8
33,9_2,MAYO,10,10,49,"[SLC7A2, GPRASP2, AHNAK, THCAT155, LPL, ANGPT2...",10,29,"['rs6577497', 'rs5850', 'rs1057233', 'rs154232...","['ENSG00000142599', 'ENSG00000136235', 'ENSG00...",10
34,9_3,MAYO,7,7,59,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL...",7,37,"['rs7584458', 'rs1391440', 'rs2726518', 'rs687...","['ENSG00000168918', 'ENSG00000102935', 'ENSG00...",8
35,9_4,MAYO,7,7,64,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL...",7,29,"['rs2736990', 'rs7661876', 'rs4419475', 'rs346...","['ENSG00000119684', 'ENSG00000136235', 'ENSG00...",9

In [10]:
# Mapping ensembl IDs to gene names in the dataframe
# Load the DataFrame with gene IDs (assumed loaded as 'df')
df = merged_df
conversion_df = pd.read_csv('/home/vmottaqi/rnaseq_synapse/ad_shap_gwas/gwas_ad_genes_DAVID.txt', sep="\t")
conversion_df
df

,Cluster,Study,Samples in Cluster,Unique Individuals,Common SHAP Genes Count,Common SHAP Genes,individuals_gwas,Common GWAS snps count,Common GWAS snps,Common GWAS Genes,Common GWAS Genes Count
0,1_1,ROSMAP,4,4,46,"[SLC7A2, NWD1, LPL, SLC5A3, EMP3, LOC116435278...",2,120,"['rs41281314', 'rs7917781', 'rs55717455', 'rs1...","['ENSG00000203710', 'ENSG00000073712', 'ENSG00...",29
1,1_2,ROSMAP,18,18,21,"[SLC5A3, TRIP10, LINC01736, GAREM2, B3GAT1-DT,...",13,114,"['rs7903757', 'rs12572738', 'rs10999979', 'rs4...","['ENSG00000073921', 'ENSG00000203710', 'ENSG00...",31
2,1_3,ROSMAP,11,11,18,"[KANK2, A2ML1, SVOP, ITPKB, CSRP1, SLC6A12, KC...",8,128,"['rs4747187', 'rs10902249', 'rs693458', 'rs545...","['ENSG00000073921', 'ENSG00000179526', 'ENSG00...",36
3,1_4,ROSMAP,21,21,12,"[KANK2, DUSP1, A2ML1, PIRT, SLC5A3, EPCIP, SLC...",17,93,"['rs10999882', 'rs74147331', 'rs74147345', 'rs...","['ENSG00000140459', 'ENSG00000102935', 'ENSG00...",28
4,2_1,MAYO,7,7,28,"[SLC7A2, NWD1, AHNAK, SLC5A3, APLNR, GMPR, TRI...",7,18,"['rs7667050', 'rs7268', 'rs2074613', 'rs340225...","['ENSG00000119684', 'ENSG00000102935', 'ENSG00...",9
5,2_2,MAYO,4,4,56,"[SLC7A2, GPRASP2, AHNAK, THCAT155, NWD1, SLC5A...",4,45,"['rs974711', 'rs4704187', 'rs1564926', 'rs6915...","['ENSG00000107736', 'ENSG00000089280', 'ENSG00...",16
6,2_3,MAYO,5,5,41,"[GPRASP2, AHNAK, SCG2, SLC5A3, EMP3, SAMD4A, K...",5,12,"['rs7919533', 'rs10902249', 'rs340019', 'rs340...","['ENSG00000107736', 'ENSG00000183020', 'ENSG00...",6
7,2_4,MAYO,2,2,80,"[ANGPT2, PTPRU, CHST6, PADI2, ADPGK-AS1, ENPEP...",2,20,"['rs541464', 'rs7562227', 'rs6419133', 'rs3807...","['ENSG00000127483', 'ENSG00000159640', 'ENSG00...",8
8,3_1,ROSMAP,19,19,26,"[SDSL, THCAT155, SCG2, LPL, PTPRU, ALDH1A1, GF...",12,84,"['rs1227078', 'rs1227075', 'rs1227069', 'rs412...","['ENSG00000109920', 'ENSG00000169836', 'ENSG00...",31
9,3_2,ROSMAP,19,19,26,"[SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC5A3, C...",16,163,"['rs1125168', 'rs12266801', 'rs10999947', 'rs1...","['ENSG00000109920', 'ENSG00000169836', 'ENSG00...",39
10,3_3,ROSMAP,37,37,15,"[THCAT155, SCG2, PIRT, LPL, PTPRU, INSYN2A, KC...",23,132,"['rs72777665', 'rs41281302', 'rs7902757', 'rs2...","['ENSG00000130208', 'ENSG00000110079', 'ENSG00...",33
11,3_4,ROSMAP,18,18,31,"[SLC7A2, THCAT155, SCG2, LPL, PTPRU, SAMD4A, L...",13,107,"['rs71012280', 'rs3802716', 'rs748113', 'rs109...","['ENSG00000109920', 'ENSG00000203710', 'ENSG00...",33
12,4_1,MSBB,18,18,4,"[EPCIP, LINC00499, PIRT, SLC5A3]",18,16,"['rs2276579', 'rs72481904', 'rs11682128', 'rs3...","['ENSG00000145979', 'ENSG00000136717', 'Unknow...",9
13,4_2,MSBB,30,30,6,"[SLC5A3, ANGPT1, SSC5D, LINC00499, S100A4, VGF]",29,26,"['rs7558000', 'rs7558001', 'rs6720741', 'rs457...","['ENSG00000107736', 'ENSG00000137845', 'ENSG00...",7
14,4_3,MSBB,36,33,5,"[NWD1, PIRT, LINC00499, CNTNAP5-DT, SLC4A11]",34,28,"['rs1060743', 'rs144181925', 'rs140053128', 'r...","['ENSG00000107736', 'ENSG00000136235', 'ENSG00...",6
15,4_4,MSBB,16,15,31,"[SLC7A2, NWD1, AHNAK, SLC5A3, EMP3, GMPR, PHYH...",16,27,"['rs11121172', 'rs1058766', 'rs2784735', 'rs13...","['ENSG00000142599', 'ENSG00000085514', 'ENSG00...",8
16,5_1,MSBB,25,23,36,"[ANGPT2, GPRASP2, AHNAK, SCG2, NWD1, SAMD4A, L...",24,22,"['rs1889854', 'rs2784735', 'rs2392221', 'rs227...","['ENSG00000142599', 'ENSG00000085514', 'ENSG00...",11
17,5_2,MSBB,33,33,9,"[KANK2, A2ML1, EPCIP, ADAMTS2, SLC25A48, PCP4L...",32,35,"['rs7558000', 'rs7558001', 'rs6720741', 'rs819...","['ENSG00000137845', 'ENSG00000136235', 'ENSG00...",10
18,5_3,MSBB,38,35,11,"[NWD1, NPNT, PIRT, ITPKB, SLC6A9, SLC25A48, AN...",36,20,"['rs3753275', 'rs6846414', 'rs6460901', 'rs317...","['ENSG00000142599', 'ENSG00000107736', 'ENSG00...",7
19,5_4,MSBB,25,25,29,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CRH, CNT...",24,16,"['rs3737002', 'rs7558000', 'rs7558001', 'rs672...","['ENSG00000137845', 'ENSG00000136717', 'Unknow...",7
20,6_1,ROSMAP,6,6,54,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, ANGPT2, ...",4,100,"['rs41281308', 'rs74147053', 'rs55717455', 'rs...","['ENSG00000073921', 'ENSG00000109920', 'ENSG00...",27
21,6_2,ROSMAP,8,8,47,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC...",6,75,"['rs11599279', 'rs736716', 'rs736717', 'rs1256...","['ENSG00000046604', 'ENSG00000169836', 'ENSG00...",27
22,6_3,ROSMAP,12,12,39,"[SDSL, THCAT155, SCG2, LPL, PTPRU, C4orf19, GA...",7,116,"['rs59843444', 'rs3747862', 'rs10740390', 'rs1...","['ENSG00000073921', 'ENSG00000145700', 'ENSG00...",27
23,6_4,ROSMAP,6,6,47,"[SDSL, ANGPT2, THCAT155, SCG2, LPL, PTPRU, C4o...",4,105,"['rs72777665', 'rs2297953', 'rs10999882', 'rs7...","['ENSG00000154734', 'ENSG00000169836', 'ENSG00...",35
24,7_1,MSBB,30,27,11,"[NWD1, LTF, ITPKB, SAMD4A, SLC25A48, TEAD2, SS...",30,24,"['rs1985278', 'rs4844599', 'rs10177176', 'rs37...","['ENSG00000159640', 'ENSG00000107736', 'Unknow...",9
25,7_2,MSBB,9,9,43,"[SLC7A2, GPRASP2, AHNAK, SCG2, ANGPT2, NWD1, S...",8,25,"['rs3737002', 'rs2276579', 'rs72481904', 'rs10...","['ENSG00000119684', 'ENSG00000136717', 'Unknow...",5
26,7_3,MSBB,34,31,46,"[SLC7A2, GPRASP2, ANGPT2, AHNAK, NWD1, EMP3, C...",32,27,"['rs1889854', 'rs11682128', 'rs2289043', 'rs24...","['ENSG00000107736', 'ENSG00000168769', 'ENSG00...",9
27,7_4,MSBB,67,58,17,"[GPRASP2, NWD1, AHNAK, PIRT, ITPKB, CSRP1, DHR...",65,39,"['rs10177176', 'rs9840234', 'rs3755863', 'rs81...","['ENSG00000159640', 'ENSG00000107736', 'ENSG00...",8
28,8_1,MSBB,39,37,8,"[NWD1, SVOP, ROBO2, SLC25A48, KCNJ10, CNTNAP5-...",37,24,"['rs11678157', 'rs2289022', 'rs700494', 'rs112...","['ENSG00000174628', 'ENSG00000107736', 'ENSG00...",8
29,8_2,MSBB,28,27,9,"[SLC7A2, ANGPT2, EPCIP, SAMD4A, SLC25A48, KCNJ...",26,11,"['rs1962796', 'rs3755863', 'rs8192678', 'rs294...","['ENSG00000085514', 'ENSG00000107736', 'Unknow...",6
30,8_3,MSBB,51,45,12,"[GPRASP2, SVOP, PIRT, ITPKB, ROBO2, SAMD4A, SL...",47,25,"['rs1889854', 'rs11121172', 'rs1058766', 'rs29...","['ENSG00000142599', 'Unknown', 'ENSG0000004660...",9
31,8_4,MSBB,17,15,30,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CHST6, S...",17,18,"['rs3779607', 'rs3814481', 'rs3814482', 'rs112...","['ENSG00000085514', 'Unknown', 'ENSG0000022183...",6
32,9_1,MAYO,5,5,73,"[SLC7A2, GPRASP2, ANGPT2, SCG2, LPL, THCAT155,...",5,20,"['rs7425956', 'rs1391440', 'rs7683416', 'rs767...","['ENSG00000107736', 'ENSG00000168918', 'ENSG00...",8
33,9_2,MAYO,10,10,49,"[SLC7A2, GPRASP2, AHNAK, THCAT155, LPL, ANGPT2...",10,29,"['rs6577497', 'rs5850', 'rs1057233', 'rs154232...","['ENSG00000142599', 'ENSG00000136235', 'ENSG00...",10
34,9_3,MAYO,7,7,59,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL...",7,37,"['rs7584458', 'rs1391440', 'rs2726518', 'rs687...","['ENSG00000168918', 'ENSG00000102935', 'ENSG00...",8
35,9_4,MAYO,7,7,64,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL...",7,29,"['rs2736990', 'rs7661876', 'rs4419475', 'rs346...","['ENSG00000119684', 'ENSG00000136235', 'ENSG00...",9

In [11]:
import ast

# Create a dictionary from the conversion DataFrame
gene_id_to_name = pd.Series(conversion_df['From'].values, index=conversion_df['To']).to_dict()

# Function to safely convert string lists to actual lists
def string_to_list(string):
    try:
        return ast.literal_eval(string)
    except ValueError:
        return []  # Return an empty list if the string cannot be converted

# Function to map gene IDs to gene names in lists
def map_gene_ids_to_names(gene_ids):
    # Return a list of gene names using the dictionary, default to the original ID if not found
    return [gene_id_to_name.get(gene_id, gene_id) for gene_id in gene_ids]

# Convert string representations of lists to actual lists
df['Common GWAS Genes'] = df['Common GWAS Genes'].apply(string_to_list)

# Apply the mapping function to the 'Common GWAS Genes' column
df['Common GWAS Genes'] = df['Common GWAS Genes'].apply(map_gene_ids_to_names)

# Save or display the updated DataFrame
# df.to_csv('updated_dataframe.csv', index=False)

In [14]:
# Rename the columns
df.rename(columns={
    'individuals_gwas': 'Individuals_gwas',
    'Common GWAS snps count': 'GWAS snps count',
    'Common GWAS snps': 'GWAS snps',
    'Common GWAS Genes': 'GWAS Genes',
    'Common GWAS Genes Count': 'GWAS Genes Count'
    # Add more columns as needed
}, inplace=True)

In [15]:
df

,Cluster,Study,Samples in Cluster,Unique Individuals,Common SHAP Genes Count,Common SHAP Genes,Individuals_gwas,GWAS snps count,GWAS snps,GWAS Genes,GWAS Genes Count
0,1_1,ROSMAP,4,4,46,"[SLC7A2, NWD1, LPL, SLC5A3, EMP3, LOC116435278...",2,120,"['rs41281314', 'rs7917781', 'rs55717455', 'rs1...","[CR1, FERMT2, ZNF423, HLA-DQA1, KCNQ5, PLCG2, ...",29
1,1_2,ROSMAP,18,18,21,"[SLC5A3, TRIP10, LINC01736, GAREM2, B3GAT1-DT,...",13,114,"['rs7903757', 'rs12572738', 'rs10999979', 'rs4...","[PICALM, CR1, MAP1B, BIN1, TMEM170B, ZNF423, K...",31
2,1_3,ROSMAP,11,11,18,"[KANK2, A2ML1, SVOP, ITPKB, CSRP1, SLC6A12, KC...",8,128,"['rs4747187', 'rs10902249', 'rs693458', 'rs545...","[PICALM, SHARPIN, MAP1B, BIN1, FERMT2, ZNF423,...",36
3,1_4,ROSMAP,21,21,12,"[KANK2, DUSP1, A2ML1, PIRT, SLC5A3, EPCIP, SLC...",17,93,"['rs10999882', 'rs74147331', 'rs74147345', 'rs...","[CYP11A1, ZNF423, HLA-DQA1, SUOX, KCNQ5, SNCA,...",28
4,2_1,MAYO,7,7,28,"[SLC7A2, NWD1, AHNAK, SLC5A3, APLNR, GMPR, TRI...",7,18,"['rs7667050', 'rs7268', 'rs2074613', 'rs340225...","[MLH3, ZNF423, PPARGC1A, HBEGF, RORA, CNTNAP2,...",9
5,2_2,MAYO,4,4,56,"[SLC7A2, GPRASP2, AHNAK, THCAT155, NWD1, SLC5A...",4,45,"['rs974711', 'rs4704187', 'rs1564926', 'rs6915...","[CDH23, FUS, ZNF423, WIPI2, AP4E1, NRF1, CNTNA...",16
6,2_3,MAYO,5,5,41,"[GPRASP2, AHNAK, SCG2, SLC5A3, EMP3, SAMD4A, K...",5,12,"['rs7919533', 'rs10902249', 'rs340019', 'rs340...","[CDH23, AP2A2, RORA, CD33, PLCG2, IL34]",6
7,2_4,MAYO,2,2,80,"[ANGPT2, PTPRU, CHST6, PADI2, ADPGK-AS1, ENPEP...",2,20,"['rs541464', 'rs7562227', 'rs6419133', 'rs3807...","[HP1BP3, ACE, BIN1, UNC5C, CNTNAP2, WWOX, PLCG...",8
8,3_1,ROSMAP,19,19,26,"[SDSL, THCAT155, SCG2, LPL, PTPRU, ALDH1A1, GF...",12,84,"['rs1227078', 'rs1227075', 'rs1227069', 'rs412...","[FNBP4, TACR3, CR1, MAP1B, PILRA, FERMT2, ZNF4...",31
9,3_2,ROSMAP,19,19,26,"[SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC5A3, C...",16,163,"['rs1125168', 'rs12266801', 'rs10999947', 'rs1...","[FNBP4, TACR3, CYP11A1, CCDC6, BIN1, FERMT2, Z...",39
10,3_3,ROSMAP,37,37,15,"[THCAT155, SCG2, PIRT, LPL, PTPRU, INSYN2A, KC...",23,132,"['rs72777665', 'rs41281302', 'rs7902757', 'rs2...","[APOC1, MS4A4A, TMEM170B, MLH3, ZNF423, HLA-DQ...",33
11,3_4,ROSMAP,18,18,31,"[SLC7A2, THCAT155, SCG2, LPL, PTPRU, SAMD4A, L...",13,107,"['rs71012280', 'rs3802716', 'rs748113', 'rs109...","[FNBP4, CR1, MAP1B, MS4A4A, MLH3, ZNF423, SUOX...",33
12,4_1,MSBB,18,18,4,"[EPCIP, LINC00499, PIRT, SLC5A3]",18,16,"['rs2276579', 'rs72481904', 'rs11682128', 'rs3...","[TBC1D7, BIN1, AP4M1, MS4A6A, WWOX, ABCA7, PLC...",9
13,4_2,MSBB,30,30,6,"[SLC5A3, ANGPT1, SSC5D, LINC00499, S100A4, VGF]",29,26,"['rs7558000', 'rs7558001', 'rs6720741', 'rs457...","[CDH23, ADAM10, BIN1, NME8, MS4A6A, SORL1]",7
14,4_3,MSBB,36,33,5,"[NWD1, PIRT, LINC00499, CNTNAP5-DT, SLC4A11]",34,28,"['rs1060743', 'rs144181925', 'rs140053128', 'r...","[CDH23, GPNMB, BIN1, KCNQ5, ALPK2]",6
15,4_4,MSBB,16,15,31,"[SLC7A2, NWD1, AHNAK, SLC5A3, EMP3, GMPR, PHYH...",16,27,"['rs11121172', 'rs1058766', 'rs2784735', 'rs13...","[RERE, PILRA, CDH23, GPNMB, AP4M1, MS4A6A, PLCG2]",8
16,5_1,MSBB,25,23,36,"[ANGPT2, GPRASP2, AHNAK, SCG2, NWD1, SAMD4A, L...",24,22,"['rs1889854', 'rs2784735', 'rs2392221', 'rs227...","[RERE, PILRA, ADAM10, TET2, BIN1, DSG2, NME8, ...",11
17,5_2,MSBB,33,33,9,"[KANK2, A2ML1, EPCIP, ADAMTS2, SLC25A48, PCP4L...",32,35,"['rs7558000', 'rs7558001', 'rs6720741', 'rs819...","[ADAM10, GPNMB, BIN1, AP4E1, ABCA7, PLCG2, APO...",10
18,5_3,MSBB,38,35,11,"[NWD1, NPNT, PIRT, ITPKB, SLC6A9, SLC25A48, AN...",36,20,"['rs3753275', 'rs6846414', 'rs6460901', 'rs317...","[RERE, CDH23, ZNF423, DSG2, NME8, TMEM106B]",7
19,5_4,MSBB,25,25,29,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CRH, CNT...",24,16,"['rs3737002', 'rs7558000', 'rs7558001', 'rs672...","[ADAM10, BIN1, MS4A4A, CR1, PLCG2, TMEM106B]",7
20,6_1,ROSMAP,6,6,54,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, ANGPT2, ...",4,100,"['rs41281308', 'rs74147053', 'rs55717455', 'rs...","[PICALM, FNBP4, CR1, MAP1B, MLH3, VKORC1, HLA-...",27
21,6_2,ROSMAP,8,8,47,"[SDSL, SLC7A2, THCAT155, SCG2, PTPRU, LPL, SLC...",6,75,"['rs11599279', 'rs736716', 'rs736717', 'rs1256...","[DSG2, TACR3, APOC1, BIN1, ZNF423, AP4M1, SNCA...",27
22,6_3,ROSMAP,12,12,39,"[SDSL, THCAT155, SCG2, LPL, PTPRU, C4orf19, GA...",7,116,"['rs59843444', 'rs3747862', 'rs10740390', 'rs1...","[PICALM, ANKRD31, SHARPIN, BIN1, ZNF423, ZYX, ...",27
23,6_4,ROSMAP,6,6,47,"[SDSL, ANGPT2, THCAT155, SCG2, LPL, PTPRU, C4o...",4,105,"['rs72777665', 'rs2297953', 'rs10999882', 'rs7...","[ADAMTS1, TACR3, SHARPIN, MAP1B, APOC1, BIN1, ...",35
24,7_1,MSBB,30,27,11,"[NWD1, LTF, ITPKB, SAMD4A, SLC25A48, TEAD2, SS...",30,24,"['rs1985278', 'rs4844599', 'rs10177176', 'rs37...","[ACE, CDH23, NME8, WWOX, CR1, PLCG2, SLC24A4, ...",9
25,7_2,MSBB,9,9,43,"[SLC7A2, GPRASP2, AHNAK, SCG2, ANGPT2, NWD1, S...",8,25,"['rs3737002', 'rs2276579', 'rs72481904', 'rs10...","[MLH3, BIN1, MS4A4A, CR1]",5
26,7_3,MSBB,34,31,46,"[SLC7A2, GPRASP2, ANGPT2, AHNAK, NWD1, EMP3, C...",32,27,"['rs1889854', 'rs11682128', 'rs2289043', 'rs24...","[CDH23, TET2, BIN1, NME8, AP4E1, MS4A6A, WWOX,...",9
27,7_4,MSBB,67,58,17,"[GPRASP2, NWD1, AHNAK, PIRT, ITPKB, CSRP1, DHR...",65,39,"['rs10177176', 'rs9840234', 'rs3755863', 'rs81...","[ACE, CDH23, FUS, NME8, SORL1, PSMC3, CD2AP]",8
28,8_1,MSBB,39,37,8,"[NWD1, SVOP, ROBO2, SLC25A48, KCNJ10, CNTNAP5-...",37,24,"['rs11678157', 'rs2289022', 'rs700494', 'rs112...","[IQCK, CDH23, ZNF423, FUS, TMEM106B, TMEM184A,...",8
29,8_2,MSBB,28,27,9,"[SLC7A2, ANGPT2, EPCIP, SAMD4A, SLC25A48, KCNJ...",26,11,"['rs1962796', 'rs3755863', 'rs8192678', 'rs294...","[PILRA, CDH23, AP4M1, PLCG2, FNBP4]",6
30,8_3,MSBB,51,45,12,"[GPRASP2, SVOP, PIRT, ITPKB, ROBO2, SAMD4A, SL...",47,25,"['rs1889854', 'rs11121172', 'rs1058766', 'rs29...","[RERE, DSG2, AP4M1, UNC5C, ABCA7, CLU, CNN2, V...",9
31,8_4,MSBB,17,15,30,"[GPRASP2, ANGPT2, AHNAK, NWD1, APLNR, CHST6, S...",17,18,"['rs3779607', 'rs3814481', 'rs3814482', 'rs112...","[PILRA, AP4M1, PLCG2, RABEP1, CASP7]",6
32,9_1,MAYO,5,5,73,"[SLC7A2, GPRASP2, ANGPT2, SCG2, LPL, THCAT155,...",5,20,"['rs7425956', 'rs1391440', 'rs7683416', 'rs767...","[CDH23, INPP5D, TET2, AP4E1, RORA, HLA-DQA1, N...",8
33,9_2,MAYO,10,10,49,"[SLC7A2, GPRASP2, AHNAK, THCAT155, LPL, ANGPT2...",10,29,"['rs6577497', 'rs5850', 'rs1057233', 'rs154232...","[RERE, GPNMB, SPI1, RORA, WWOX, PLCG2, APOE, S...",10
34,9_3,MAYO,7,7,59,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL...",7,37,"['rs7584458', 'rs1391440', 'rs2726518', 'rs687...","[INPP5D, ZNF423, TET2, AP2A2, WWOX, SLC24A4, T...",8
35,9_4,MAYO,7,7,64,"[SLC7A2, GPRASP2, THCAT155, AHNAK, ANGPT2, LPL...",7,29,"['rs2736990', 'rs7661876', 'rs4419475', 'rs346...","[MLH3, GPNMB, AP2A2, AP4E1, UNC5C, WWOX, ABCA7...",9

In [16]:
df.to_csv('summary_shap_gwas_sep_8.csv', index=False)

In [ ]:
df

In [13]:
# Remove 'Unknown' from each list in the 'Common GWAS Genes' column
df['Common GWAS Genes'] = df['Common GWAS Genes'].apply(lambda genes: [gene for gene in genes if gene != 'Unknown'])

# Optionally print the updated column to verify the change
for index, row in df.iterrows():
    print(f"Row {index}: {row['Common GWAS Genes']}")

Row 0: ['CR1', 'FERMT2', 'ZNF423', 'HLA-DQA1', 'KCNQ5', 'PLCG2', 'ABCA7', 'TRIP4', 'BLOC1S3', 'WIPI2', 'VPS53', 'RORA', 'CHRNE', 'WWOX', 'TET2', 'TMEM106B', 'CDH23', 'NFIC', 'ACE', 'CD2AP', 'SORL1', 'CASP8', 'HP1BP3', 'PPARGC1A', 'CNTNAP2', 'SPPL2A', 'CLU', 'AP4E1', 'RAB10']
Row 1: ['PICALM', 'CR1', 'MAP1B', 'BIN1', 'TMEM170B', 'ZNF423', 'KCNQ5', 'SNCA', 'ABI3', 'PLCG2', 'GPNMB', 'AP2A1', 'RORA', 'CHRNE', 'WWOX', 'NDUFAF6', 'TET2', 'CDH23', 'NFIC', 'ACE', 'NME8', 'TP53INP1', 'SPI1', 'CASP8', 'PPARGC1A', 'UNC5C', 'CNTNAP2', 'INPP5D', 'EPG5', 'SPPL2A', 'RABEP1']
Row 2: ['PICALM', 'SHARPIN', 'MAP1B', 'BIN1', 'FERMT2', 'ZNF423', 'ZYX', 'HLA-DQA1', 'AP4M1', 'TBC1D7', 'CLNK', 'AP2A2', 'RERE', 'WIPI2', 'VPS53', 'ERN1', 'RORA', 'WWOX', 'NDUFAF6', 'PTK2B', 'TET2', 'CDH23', 'NRF1', 'TREML2', 'ACE', 'TP53INP1', 'SORL1', 'ENAH', 'CNN2', 'SLC24A4', 'PPARGC1A', 'UNC5C', 'CNTNAP2', 'RABEP1', 'PSEN1', 'RAB10']
Row 3: ['CYP11A1', 'ZNF423', 'HLA-DQA1', 'SUOX', 'KCNQ5', 'SNCA', 'TBC1D7', 'PLCG2', 'CLNK', 'FUS', 'VPS53', 'RORA', 'APP', 'WWOX', 'APOE', 'CDH23', 'NFIC', 'NRF1', 'NME8', 'CASP8', 'SLC24A4', 'PPARGC1A', 'UNC5C', 'CNTNAP2', 'INPP5D', 'EPG5', 'RABEP1', 'CLU']
Row 4: ['MLH3', 'ZNF423', 'PPARGC1A', 'HBEGF', 'RORA', 'CNTNAP2', 'WWOX', 'RABEP1', 'APH1B']
Row 5: ['CDH23', 'FUS', 'ZNF423', 'WIPI2', 'AP4E1', 'NRF1', 'CNTNAP2', 'CLU', 'WWOX', 'PLCG2', 'SNCA', 'SORL1', 'KCNQ5', 'ANKRD31', 'CD2AP', 'AP2A1']
Row 6: ['CDH23', 'AP2A2', 'RORA', 'CD33', 'PLCG2', 'IL34']
Row 7: ['HP1BP3', 'ACE', 'BIN1', 'UNC5C', 'CNTNAP2', 'WWOX', 'PLCG2', 'SLC24A4']
Row 8: ['FNBP4', 'TACR3', 'CR1', 'MAP1B', 'PILRA', 'FERMT2', 'ZNF423', 'ABI3', 'PLCG2', 'ABCA7', 'CLNK', 'CD33', 'RERE', 'HBEGF', 'APP', 'WWOX', 'PTK2B', 'APOE', 'CDH23', 'ACE', 'CD2AP', 'TP53INP1', 'SORL1', 'CASP8', 'ALPK2', 'SLC24A4', 'PRKD3', 'PPARGC1A', 'CNTNAP2', 'EPG5', 'SPPL2A']
Row 9: ['FNBP4', 'TACR3', 'CYP11A1', 'CCDC6', 'BIN1', 'FERMT2', 'ZNF423', 'ZYX', 'HLA-DQA1', 'AP4M1', 'KCNQ5', 'SNCA', 'ABI3', 'PLCG2', 'GPNMB', 'TRIP4', 'WIPI2', 'VPS53', 'LRRC25', 'NSF', 'RORA', 'APP', 'WWOX', 'APOE', 'CDH23', 'NFIC', 'TREML2', 'WDR12', 'ACE', 'NME8', 'SORL1', 'CASP8', 'PPARGC1A', 'ADAM10', 'CNTNAP2', 'INPP5D', 'IL34', 'EPG5', 'PLCH1']
Row 10: ['APOC1', 'MS4A4A', 'TMEM170B', 'MLH3', 'ZNF423', 'HLA-DQA1', 'AP4M1', 'SNCA', 'CLNK', 'WIPI2', 'VPS53', 'ERN1', 'USP6NL', 'RORA', 'APP', 'CHRNE', 'WWOX', 'PTK2B', 'APOE', 'TMEM106B', 'CDH23', 'ACE', 'NME8', 'CD2AP', 'SORL1', 'ENAH', 'ALPK2', 'SLC24A4', 'PPARGC1A', 'UNC5C', 'CNTNAP2', 'INPP5D', 'CLU']
Row 11: ['FNBP4', 'CR1', 'MAP1B', 'MS4A4A', 'MLH3', 'ZNF423', 'SUOX', 'KCNQ5', 'TBC1D7', 'ABI3', 'PLCG2', 'ABCA7', 'CLNK', 'RERE', 'VPS53', 'RORA', 'WWOX', 'TET2', 'TMEM106B', 'CDH23', 'TREML2', 'ACE', 'NME8', 'C14orf93', 'SPI1', 'CASP8', 'ALPK2', 'UNC5C', 'CNTNAP2', 'INPP5D', 'IL34', 'EPG5', 'PSMC3']
Row 12: ['TBC1D7', 'BIN1', 'AP4M1', 'MS4A6A', 'WWOX', 'ABCA7', 'PLCG2', 'VPS53']
Row 13: ['CDH23', 'ADAM10', 'BIN1', 'NME8', 'MS4A6A', 'SORL1']
Row 14: ['CDH23', 'GPNMB', 'BIN1', 'KCNQ5', 'ALPK2']
Row 15: ['RERE', 'PILRA', 'CDH23', 'GPNMB', 'AP4M1', 'MS4A6A', 'PLCG2']
Row 16: ['RERE', 'PILRA', 'ADAM10', 'TET2', 'BIN1', 'DSG2', 'NME8', 'CD33', 'ABCA7', 'KCNQ5']
Row 17: ['ADAM10', 'GPNMB', 'BIN1', 'AP4E1', 'ABCA7', 'PLCG2', 'APOE', 'EPG5', 'CD2AP']
Row 18: ['RERE', 'CDH23', 'ZNF423', 'DSG2', 'NME8', 'TMEM106B']
Row 19: ['ADAM10', 'BIN1', 'MS4A4A', 'CR1', 'PLCG2', 'TMEM106B']
Row 20: ['PICALM', 'FNBP4', 'CR1', 'MAP1B', 'MLH3', 'VKORC1', 'HLA-DQA1', 'AP4M1', 'PLCG2', 'APP', 'WWOX', 'TET2', 'TMEM106B', 'CDH23', 'ACE', 'CD2AP', 'SORL1', 'CASP8', 'HP1BP3', 'SLC24A4', 'VCAM1', 'UNC5C', 'CNTNAP2', 'EPG5', 'SPPL2A', 'KCNN4', 'PSEN1']
Row 21: ['DSG2', 'TACR3', 'APOC1', 'BIN1', 'ZNF423', 'AP4M1', 'SNCA', 'ABCA7', 'CD33', 'ERN1', 'LRRC25', 'RORA', 'APP', 'CHRNE', 'WWOX', 'CDH23', 'ACE', 'NME8', 'SORL1', 'ALPK2', 'HP1BP3', 'SLC24A4', 'CNTNAP2', 'INPP5D', 'EPG5', 'PSEN1', 'AP4E1']
Row 22: ['PICALM', 'ANKRD31', 'SHARPIN', 'BIN1', 'ZNF423', 'ZYX', 'VKORC1', 'ABI3', 'PLCG2', 'ABCA7', 'WIPI2', 'VPS53', 'RORA', 'WWOX', 'CDH23', 'NFIC', 'NME8', 'SORL1', 'SPI1', 'CNN2', 'HP1BP3', 'SLC24A4', 'PPARGC1A', 'ADAM10', 'UNC5C', 'CNTNAP2', 'PLCH1']
Row 23: ['ADAMTS1', 'TACR3', 'SHARPIN', 'MAP1B', 'APOC1', 'BIN1', 'ZNF423', 'VKORC1', 'HLA-DQA1', 'KCNQ5', 'PLCG2', 'AP2A2', 'FUS', 'WIPI2', 'ERN1', 'USP6NL', 'RORA', 'APP', 'CHRNE', 'WWOX', 'TET2', 'CDH23', 'NFIC', 'ACE', 'NME8', 'C14orf93', 'CASP8', 'HP1BP3', 'SLC24A4', 'PPARGC1A', 'ADAM10', 'CNTNAP2', 'CLU', 'PSEN1', 'RAB10']
Row 24: ['ACE', 'CDH23', 'NME8', 'WWOX', 'CR1', 'PLCG2', 'SLC24A4', 'PSMC3']
Row 25: ['MLH3', 'BIN1', 'MS4A4A', 'CR1']
Row 26: ['CDH23', 'TET2', 'BIN1', 'NME8', 'AP4E1', 'MS4A6A', 'WWOX', 'SORL1']
Row 27: ['ACE', 'CDH23', 'FUS', 'NME8', 'SORL1', 'PSMC3', 'CD2AP']
Row 28: ['IQCK', 'CDH23', 'ZNF423', 'FUS', 'TMEM106B', 'TMEM184A', 'VPS53']
Row 29: ['PILRA', 'CDH23', 'AP4M1', 'PLCG2', 'FNBP4']
Row 30: ['RERE', 'DSG2', 'AP4M1', 'UNC5C', 'ABCA7', 'CLU', 'CNN2', 'VPS53']
Row 31: ['PILRA', 'AP4M1', 'PLCG2', 'RABEP1', 'CASP7']
Row 32: ['CDH23', 'INPP5D', 'TET2', 'AP4E1', 'RORA', 'HLA-DQA1', 'NRF1', 'SORL1']
Row 33: ['RERE', 'GPNMB', 'SPI1', 'RORA', 'WWOX', 'PLCG2', 'APOE', 'SLC24A4', 'PSMC3', 'FNBP4']
Row 34: ['INPP5D', 'ZNF423', 'TET2', 'AP2A2', 'WWOX', 'SLC24A4', 'TMEM106B', 'MAP1B']
Row 35: ['MLH3', 'GPNMB', 'AP2A2', 'AP4E1', 'UNC5C', 'WWOX', 'ABCA7', 'SNCA', 'SLC24A4']

In [55]:
df.to_csv('summary_shap_gwas.csv', index=False)

In [57]:
df

,Cluster,Study,Samples in Cluster,Unique Individuals,Common SHAP Genes Count,Common SHAP Genes,individuals_gwas,Common GWAS snps count,Common GWAS snps,Common GWAS Genes,Common GWAS Genes Count
0,1_1,ROSMAP,4,4,46,"[EMP3, SLC25A48, NWD1, IGSF3, SMIM10L2A, PLPPR...",2,105,"['rs41281314', 'rs7161281', 'rs12887631', 'rs1...","[KCNQ5, AP4E1, BLOC1S3, TRIP4, PLCG2, HLA-DQA1...",25
1,1_2,ROSMAP,18,18,21,"[SLC25A48, MDGA1, KANK2, VGF, ITGA10, PCYOX1L,...",13,91,"['rs12265715', 'rs4944550', 'rs17817690', 'rs6...","[TMEM170B, CLNK, PICALM, KCNQ5, APP, PLCG2, PL...",27
2,1_3,ROSMAP,11,11,18,"[SLC6A12, TRIP10, ITPKB, IGSF3, SSC5D, S100A4,...",8,137,"['rs56216952', 'rs4747187', 'rs41281328', 'rs1...","[SLC24A4, LRRC25, RERE, AP2A2, ZYX, NRF1, ADAM...",34
3,1_4,ROSMAP,21,21,12,"[SLC25A48, TRIP10, B3GAT1-DT, SLC5A3, EPCIP, S...",17,120,"['rs74147331', 'rs74147345', 'rs1665627', 'rs1...","[CLNK, SLC24A4, KCNN4, APP, PLCG2, ZNF423, VKO...",31
4,2_1,MAYO,7,7,28,"[SLC25A48, NWD1, PRELP, BEX5, KANK2, VGF, GMPR...",7,78,"['rs17032657', 'rs3176878', 'rs4581878', 'rs65...","[IL34, MLH3, WWOX, CD2AP, SLC24A4, BIN1, PLCG2...",40
5,2_2,MAYO,4,4,56,"[EMP3, SLC25A48, RRAD, NWD1, RAPGEF4, CD38, DH...",4,52,"['rs11584996', 'rs11690153', 'rs17860433', 'rs...","[AP4E1, SORL1, FUS, WWOX, CD2AP, BIN1, PLCG2, ...",25
6,2_3,MAYO,5,5,41,"[EMP3, IGSF3, DDX11, FBLN2, MDGA1, PRELP, KANK...",5,52,"['rs17502858', 'rs142787485', 'rs3754619', 'rs...","[BIN1, MS4A6A, AP2A2, EPG5, NME8, VKORC1, ABCA...",23
7,2_4,MAYO,2,2,80,"[CHRDL1, MSR1, VGF, EPCIP, PIRT, ITPKB, EGR4, ...",2,30,"['rs35608792', 'rs2141331', 'rs6725887', 'rs64...","[RERE, UNC5C, IL34, SORL1, TREML2, FNBP4, CDH2...",16
8,3_1,ROSMAP,19,19,26,"[CD38, FBLN2, ADAMTS2, PTPRU, THCAT155, SCG2, ...",12,67,"['rs1227069', 'rs41281332', 'rs1127687', 'rs11...","[SLC24A4, APP, RERE, AP2A2, FNBP4, TRIP4, PLCG...",30
9,3_2,ROSMAP,19,19,26,"[SLC25A48, CHRDL1, ADAMTS2, PCP4L1, PTPRU, THC...",16,109,"['rs12265715', 'rs41281330', 'rs11246379', 'rs...","[KCNQ5, LRRC25, APP, RERE, AP2A2, PLCG2, WIPI2...",31
10,3_3,ROSMAP,37,37,15,"[NGB, THCAT155, INSYN2A, KCNF1, ROBO2, GFOD1, ...",23,138,"['rs72777665', 'rs41281302', 'rs58963811', 'rs...","[PICALM, KCNQ5, KCNN4, MS4A4A, AP4E1, APP, PLC...",37
11,3_4,ROSMAP,18,18,31,"[GAD1, CD38, ADAMTS2, KANK2, VGF, PTPRU, PCP4L...",13,119,"['rs71012280', 'rs10999992', 'rs4747187', 'rs1...","[C14orf93, MS4A4A, APP, PSMC3, RERE, FNBP4, PL...",31
12,4_1,MSBB,18,18,4,"[SLC5A3, LINC00499, PIRT, EPCIP]",18,23,"['rs34448954', 'rs377520654', 'rs2276579', 'rs...","[CDH23, BIN1, MAP1B, PLCG2, NDUFAF6, ADAMTS4]",7
13,4_2,MSBB,30,30,6,"[SLC5A3, SSC5D, LINC00499, S100A4, ANGPT1, VGF]",29,55,"['rs41270041', 'rs2302650', 'rs2160394', 'rs37...","[SORL1, AP4M1, MLH3, CLU, WWOX, CHRNE, MS4A6A,...",10
14,4_3,MSBB,36,33,5,"[NWD1, LINC00499, PIRT, CNTNAP5-DT, SLC4A11]",34,45,"['rs76414720', 'rs1060743', 'rs17860433', 'rs2...","[PSEN1, AP4E1, SORL1, MLH3, CD2AP, ACE, PILRA,...",17
15,4_4,MSBB,16,15,31,"[EMP3, SLC25A48, NWD1, IGSF3, DHRS11, ST6GAL2,...",16,33,"['rs2784735', 'rs61734514', 'rs17259045', 'rs1...","[RERE, AP4M1, WWOX, SLC24A4, BIN1, MS4A6A, PLC...",13
16,5_1,MSBB,25,23,36,"[SLC25A48, NWD1, IGSF3, ANGPT2, ST6GAL2, BEX5,...",24,28,"['rs1889854', 'rs2784735', 'rs116447416', 'rs2...","[RERE, KCNQ5, UNC5C, IL34, ADAM10, VKORC1, ACE...",13
17,5_2,MSBB,33,33,9,"[SLC25A48, RBM3, EPCIP, A2ML1, PRELP, ANGPT1, ...",32,40,"['rs41274768', 'rs140275089', 'rs80343690', 'r...","[KCNQ5, ADAM10, PILRA, BIN1, GPNMB, BLOC1S3, P...",14
18,5_3,MSBB,38,35,11,"[SLC25A48, RBM3, ITPKB, NWD1, IGSF3, SLC6A9, S...",36,36,"['rs1045487', 'rs1045494', 'rs72934751', 'rs68...","[AP4M1, WWOX, CHRNE, SLC24A4, ZNF423, TMEM106B...",14
19,5_4,MSBB,25,25,29,"[SLC25A48, NWD1, MDGA1, ANGPT2, ST6GAL2, APLN,...",24,27,"['rs12740751', 'rs7558000', 'rs7558001', 'rs34...","[AP4M1, ADAM10, WWOX, CHRNE, SPPL2A, BIN1, TET...",11
20,6_1,ROSMAP,6,6,54,"[SNAP25-AS1, FBLN2, CD38, CHRDL1, ANGPT2, APLN...",4,92,"['rs74147053', 'rs41281332', 'rs7131265', 'rs6...","[PICALM, SLC24A4, KCNN4, PLCG2, VKORC1, HLA-DQ...",31
21,6_2,ROSMAP,8,8,47,"[SLC25A48, PLPPR1, CHRDL1, ADAMTS2, KANK2, GLI...",6,51,"['rs11599279', 'rs736716', 'rs736717', 'rs1665...","[CNTNAP2, SLC24A4, VPS53, HP1BP3, BIN1, ALPK2,...",18
22,6_3,ROSMAP,12,12,39,"[SLC25A48, SNAP25-AS1, CD38, APLN, ADPGK-AS1, ...",7,91,"['rs4747153', 'rs56216952', 'rs10740390', 'rs1...","[PICALM, ZYX, PLCG2, VKORC1, ANKRD31, WIPI2, P...",28
23,6_4,ROSMAP,6,6,47,"[RERG, ANGPT2, IRAK2, ADAMTS2, KANK2, VGF, PTP...",4,83,"['rs7923245', 'rs12265715', 'rs1227052', 'rs11...","[SLC24A4, KCNQ5, C14orf93, MS4A4A, APP, AP2A2,...",31
24,7_1,MSBB,30,27,11,"[SLC25A48, PCYOX1L, RBM3, ITPKB, PDE10A, NWD1,...",30,42,"['rs1985278', 'rs4844599', 'rs41274768', 'rs14...","[AP4E1, WWOX, SLC24A4, CASP8, ACE, APP, PLCG2,...",15
25,7_2,MSBB,9,9,43,"[NWD1, DHRS11, PAK1, ANGPT2, PRELP, VGF, PCP4L...",8,22,"['rs3737002', 'rs151230297', 'rs1060743', 'rs1...","[MLH3, BIN1, BLOC1S3, CR1, VPS53]",6
26,7_3,MSBB,34,31,46,"[EMP3, SLC25A48, GAD1, NWD1, DHRS11, ANGPT2, A...",32,45,"['rs3783609', 'rs41274768', 'rs140275089', 'rs...","[UNC5C, CHRNE, ACE, BIN1, RABEP1, PLCG2, NME8,...",11
27,7_4,MSBB,67,58,17,"[PCYOX1L, ITPKB, NWD1, ROBO2, IGSF3, GPRASP2, ...",65,55,"['rs151230297', 'rs116481763', 'rs17860432', '...","[SORL1, WWOX, PLCG2, EPG5, NME8, ABCA7, CDH23,...",19
28,8_1,MSBB,39,37,8,"[SLC25A48, RBM3, NWD1, ROBO2, CNTNAP5-DT, FKBP...",37,30,"['rs41278972', 'rs3753275', 'rs11678157', 'rs1...","[RERE, KCNQ5, SORL1, ADAM10, WWOX, PTK2B, TMEM...",12
29,8_2,MSBB,28,27,9,"[SLC25A48, PCYOX1L, SLC7A2, EPCIP, ANGPT2, PRE...",26,44,"['rs11554586', 'rs1962796', 'rs8192678', 'rs34...","[AP4E1, SORL1, CD2AP, SLC24A4, PILRA, BIN1, PL...",22
30,8_3,MSBB,51,45,12,"[SLC25A48, PCYOX1L, ITPKB, ROBO2, GPRASP2, PIR...",47,46,"['rs34448954', 'rs4844599', 'rs2276579', 'rs22...","[UNC5C, AP4E1, ZYX, WWOX, CD2AP, BIN1, TRIP4, ...",18
31,8_4,MSBB,17,15,30,"[SLC25A48, NWD1, ANGPT2, ST6GAL2, BEX5, VGF, P...",17,39,"['rs61734514', 'rs41274768', 'rs140275089', 'r...","[IL34, KCNQ5, SORL1, ZYX, SLC24A4, RABEP1, CD3...",11
32,9_1,MAYO,5,5,73,"[EMP3, GAD1, SLC25A48, NWD1, ANGPT2, APLN, PRE...",5,70,"['rs2043798', 'rs2071267', 'rs143820618', 'rs1...","[AP4E1, SORL1, WWOX, BIN1, EPG5, NME8, CEACAM1...",24
33,9_2,MAYO,10,10,49,"[EMP3, GAD1, NWD1, ANGPT2, APLN, PRELP, HS6ST1...",10,106,"['rs11121172', 'rs1058766', 'rs13596', 'rs2252...","[FUS, MLH3, WWOX, SLC24A4, BIN1, EPG5, NME8, C...",32
34,9_3,MAYO,7,7,59,"[EMP3, GAD1, SLC25A48, NWD1, ANGPT2, APLN, PRE...",7,73,"['rs17032657', 'rs11584996', 'rs9750891', 'rs1...","[IL34, SORL1, ADAM10, CLU, WWOX, CD2AP, SLC24A...",33
35,9_4,MAYO,7,7,64,"[EMP3, GAD1, SLC25A48, NWD1, DHRS11, SCIRT, AN...",7,79,"['rs7568161', 'rs7558000', 'rs7558001', 'rs375...","[SORL1, MLH3, WWOX, CD2AP, BIN1, PLCG2, NME8, ...",29